<div style="background-color: white;width:100%;height:auto;">
  <div id="title">
    <div id="grafback" *ngIf="level!=0">
      <span (click)="back()">gráfico anterior</span>
    </div>
    <span>Intervenções por Utilizador {{title}}</span>
  </div>
</div>
<div id="chartwrapper">
  <p-chart type="horizontalBar" (onDataSelect)="drilldown($event)" [data]="data" [options]="options"></p-chart>
</div>