<div style="background-color: #ff9a00;">
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Utilizadores"></app-header>
</div>

<div *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<p-accordion *ngIf="!loading">
  <p-accordionTab header="ADMIN" styleClass="menucustom"
    [style]="{'background-color':'red', 'background-image':'none','border':'none'}">
    <ul>
      <li *ngFor="let user of adminlst">
        <label *ngIf="user.active">{{user.name}} - {{user.username}}</label>
        <label *ngIf="!user.active" style="color:red">{{user.name}} - {{user.username}}</label>
        </li>
    </ul>
  </p-accordionTab>
  <p-accordionTab header="ADMINISTRATIVO">
    <ul>
      <li *ngFor="let user of administrativelst">
          <label *ngIf="user.active">{{user.name}} - {{user.username}}</label>
          <label *ngIf="!user.active" style="color:red">{{user.name}} - {{user.username}}</label>
        </li>
    </ul>
  </p-accordionTab>
  <p-accordionTab header="COMERCIAL">
    <ul>
      <li *ngFor="let user of comerciallst">
        <label *ngIf="user.active">{{user.name}} - {{user.username}}</label>
        <label *ngIf="!user.active" style="color:red" >{{user.name}} - {{user.username}}</label>
      </li>
    </ul>
  </p-accordionTab>
  <p-accordionTab header="HELPDESK">
    <ul>
      <li *ngFor="let user of helpdesklst">
          <label *ngIf="user.active">{{user.name}} - {{user.username}}</label>
          <label *ngIf="!user.active" style="color:red">{{user.name}} - {{user.username}}</label>
      </li>
    </ul>
  </p-accordionTab>
  <p-accordionTab header="DESENVOLVIMENTO">
    <ul>
      <li *ngFor="let user of devlst">
          <label *ngIf="user.active">{{user.name}} - {{user.username}}</label>
          <label *ngIf="!user.active" style="color:red">{{user.name}} - {{user.username}}</label>
      </li>
    </ul>
  </p-accordionTab>
</p-accordion>

<br>
<p-dropdown [options]="groupedUsers" [(ngModel)]="selectedUser" showClear="true" placeholder="Escolher um utilizador"
  [group]="true" *ngIf="!loading">
  <ng-template let-group pTemplate="group">
    <span style="color: orange">{{group.label}}</span>
  </ng-template>
</p-dropdown>
<button pButton icon="pi pi-pencil" style="margin-left: .25em" (click)="edit()"
  [disabled]="selectedUser == undefined"></button>
<button pButton icon="pi pi-trash" style="margin-left: .25em;background-color:grey;border-color:grey"
  [disabled]="selectedUser == undefined" (click)="confirm()"></button>
<button pButton icon="pi pi-plus" style="margin-left: .25em;background-color:grey;border-color:grey"
  (click)="addNewUser()" [disabled]="selectedUser != undefined"></button>

<div>
  <br>
</div>

<p-confirmDialog #cd header="Confirmação" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>