:host >>> .ui-accordion .ui-accordion-header a {
    background-color: #ff9b05;
    font-style: inherit;
color: white;
}

:host >>> .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
    color: black;
}