<div style="background-color: #ff9a00;">
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
      style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Gestão de versões {{titleDB}}"></app-header>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<p-table [value]="upgrades" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectedVersion"
  (onRowSelect)="onRowSelect($event)">
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <p-button icon="pi pi-plus" (click)="addUpgrade()"></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Versão</th>
      <th class="priority-3" >Checksum</th>
      <th class="priority-3"> URL</th>
      <th class="priority-3" *ngIf="titleDB=='Novipem'">URL Versão</th> 
      <th>Password</th>
      <th>Ativo</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr [pSelectableRow]="rowData">
      <td>{{rowData.versao}}</td>
      <td class="priority-3" style="word-break: break-all">{{rowData.checksum}}</td>
      <td class="priority-3" style="word-break: break-all">{{rowData.urlApp}}</td>
      <td class="priority-3" style="word-break: break-all" *ngIf="titleDB=='Novipem'">{{rowData.urlDb}}</td>
      <td>{{rowData.password}}</td>
      <td>{{rowData.ativo}}</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="Nova versão" [(visible)]="displayNew" >
  <app-view-header title="Nova versão {{titleDB}}"></app-view-header>
  <app-new-upgrade (close)="readCloseNew($event)" [app]="selectedDB"></app-new-upgrade>
</p-dialog>

<p-dialog header="Editar versão" [(visible)]="displayEdit">
    <app-view-header title="Editar versão {{titleDB}}"></app-view-header>
  <app-upgrades-edit *ngIf="displayEdit" (close)="readCloseEdit($event)" [up]="selectedVersion"></app-upgrades-edit>
</p-dialog>
<br>
<br>