<div style="background-color: #ff9a00;">
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Gestão de Gráficos"></app-header>
</div>

<p-table [columns]="cols" [value]="graficos" emptymessage="Não há gráficos registados" selectionMode="single"
  [(selection)]="selectedGrafico" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
    Lista de Gráficos
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="word-break: break-all">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns" style="text-align: center; word-break: break-all">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Novo"></button>
      <button type="button" pButton icon="pi pi-pencil" (click)="showDialogToEdit()" label="Editar" style="margin-left:10px;background-color:#ff9a00;border-color:#ff9a00" [disabled]="selectedGrafico==undefined"></button>
    </div>
  </ng-template>
</p-table>

<p-dialog header="Gráfico" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{'width':'85%', 'heigth':'100%'}"
 >
 <!--  -->
  <div class="p-grid" *ngIf="displayDialog">
    <div class="p-col-12 p-xl-2 p-lg-2 p-md-6 p-sm-12">

      <label for="name"><strong>Título</strong></label><br>
      <input type="text" pInputText [(ngModel)]="selectedGrafico.titulo" style="width:100%" />

      <label for="name"><strong>Código</strong></label><br>
      <input type="text" pInputText [(ngModel)]="selectedGrafico.codigo" style="width:100%" />
 
      <label for="name"><strong>Tipo de Gráfico</strong></label><br>
      <p-dropdown appendTo="body" [options]="tipos" [(ngModel)]="selectedGrafico.tipo" placeholder="Tipos" [showClear]="true">
      </p-dropdown>

      <label for="name"><strong>Categoria Base</strong></label><br>
      <p-dropdown appendTo="body" [options]="categorias" [(ngModel)]="selectedGrafico.categoriaBase" placeholder="Categoria" [showClear]="true">
      </p-dropdown>
    </div>
    <div class="p-col-12 p-xl-10 p-lg-10 p-md-6 p-sm-12">
      <div style="margin:5px">
          <label for="name"><strong>Options</strong></label><br>
          <textarea rows="20" pInputTextarea [(ngModel)]="selectedGrafico.options" style="width:100%;height: 100%"></textarea>
      </div>
      
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton label="Registar" (click)="saveGrafico()" *ngIf="!edit"></button>
      <button pButton label="Atualizar" (click)="updateGrafico()" *ngIf="edit"></button>
    </div>
  </p-footer>
</p-dialog>