<p-table id="interventions" [columns]="selectedColumns" [value]="interventions" selectionMode="single"
  [(selection)]="selectedIntervention" (onRowSelect)="onRowSelect($event)" (sortFunction)="customSort($event)"
  [customSort]="true" [resizableColumns]="true" columnResizeMode="fit" [paginator]="true" [rows]="6"
  sortField="interventionDate" sortOrder="-1">
  <ng-template pTemplate="caption">
    <div style="text-align:left">
      <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
        selectedItemsLabel="{0} colunas selecionadas" [style]="{minWidth: '200px'}" defaultLabel="Escolher Colunas">
      </p-multiSelect>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field  ">
        <div *ngIf="col.field== 'productActivity' ">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </div>
        <div *ngIf="col.field== 'interventionType' ">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </div>
        <div *ngIf="col.field== 'tactisUserId' ">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </div>
        <div *ngIf="col.field== 'interlocutor' ||  col.field == 'notes' || col.field == 'interventionDate'">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns" class="ui-resizable-column">
        <p *ngIf="col.header == 'Prod-Act'">{{rowData[col.field].product}} - {{rowData[col.field].activity}}</p>
        <p *ngIf="col.header == 'Tipo'">{{rowData[col.field].description}}</p>
        <p *ngIf="col.header == 'Utilizador'">{{rowData[col.field].username}}
        </p>
        <p *ngIf="col.header == 'Data'">{{rowData[col.field] | dateTimeFormatFilter: 'YYYY-MM-DD HH:mm:ss'}}</p>
        <p *ngIf="col.header == 'Interlocutor'">{{rowData[col.field]}}</p>
        <button *ngIf="col.header == 'Notas' && showButton" id="hideButtonOnBigScreen" type="button"
          (click)="showDialog(rowData)" pButton icon="pi pi-info-circle"></button>
        <p *ngIf="col.header == 'Notas' && !showButton" id="showTextOnBigScreen">{{rowData[col.field]}}</p>
        <p-dialog *ngIf="selectedIntervention != undefined" header="Notas" [(visible)]="display" [modal]="true"
          [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true"
          [baseZIndex]="10000">

          <strong>Produto-Atividade: </strong>{{selectedIntervention.productActivity.product}} -
          {{selectedIntervention.productActivity.activity}}<br>
          <strong>Tipo: </strong>{{selectedIntervention.interventionType.description}}<br>
          <strong>Utilizador: </strong>{{selectedIntervention.tactisUserId.username}}<br>
          <strong>Data:
          </strong>{{selectedIntervention.interventionDate  | dateTimeFormatFilter: 'YYYY-MM-DD HH:mm:ss'}}<br>
          <strong>Interlocutor: </strong>{{selectedIntervention.interlocutor}}<br>
          <strong>Notas: </strong><br>
          {{selectedIntervention.notes}}
          <p-footer>

          </p-footer>
        </p-dialog>
      </td>
    </tr>
  </ng-template>
</p-table>