<div style="background-color: #ff9a00;">
    <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
        style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
    <app-header title="Dados do utilizador"></app-header>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<!-- INICIO DO FORM -->

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>
<form [formGroup]="updateForm" (ngSubmit)="save()">
    <div class="form-group">
        <div *ngIf="carregou">
            <label for="name"><strong>Nome</strong></label>
            <div *ngIf="isAdmin">
                {{user.name}}
            </div>
            <div *ngIf="!isAdmin">
                <input type="text" required pInputText formControlName="_name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f._name.errors }" />
            </div>
            <div *ngIf="submitted && f._name.errors" class="invalid-feedback">
                <div *ngIf="f._name.errors.required">Obrigatório</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div *ngIf="carregou">
            <label for="username"><strong>Username</strong></label>
            <div *ngIf="isAdmin">
                {{user.username}}
            </div>
            <div *ngIf="!isAdmin">
                <div class="ui-inputgroup">
                    <input type="text" id="username" required pInputText formControlName="_username"
                        class="form-control" [pKeyFilter]="blockSpace" (focus)="clearUsername()"
                        [ngClass]="{ 'is-invalid': submitted && f._username.errors }" />
                    <button pButton id="USERNAMEcheck" type="button" [icon]="iconUN"
                        [style.background-color]="hexColorUN" [style.border-color]="hexColorUN"
                        (click)="checkUsername()"></button>
                </div>
            </div>
            <div *ngIf="submitted && f._username.errors" class="invalid-feedback">
                <div *ngIf="f._username.errors.required">Obrigatório</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="email"><strong>Email</strong></label>
        <div class="ui-inputgroup">
            <input type="email" id="email" required pInputText formControlName="_email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f._email.errors }" (focus)="clearEmail()" email />
            <button pButton id="EMAILcheck" type="button" [icon]="iconEM" [style.background-color]="hexColorEM"
                [style.border-color]="hexColorEM" (click)="checkEmail()"></button>
        </div>

        <div *ngIf="submitted && f._email.errors" class="invalid-feedback">
            <div *ngIf="f._email.errors.required">Obrigatório</div>
        </div>
    </div>

    <!-- No perfil do admin, é que deve ser possivel alterar o tipo de utilizadores dos utilizadores, exceto admin -->
    <div class="form-group">
        <div *ngIf="carregou">
            <div *ngIf="!isAdmin && activeUser.userRoleId.userRole=='ADMIN'">
                <label for="userrole"><strong>Tipo de Utilizador</strong></label><br>
                <p-dropdown required [options]="roles" formControlName="_selectedRole" placeholder="Tipo"
                    optionLabel="userRole" [showClear]="true"
                    [ngClass]="{ 'is-invalid': submitted && f._selectedRole.errors }"></p-dropdown>
                <div *ngIf="submitted && f._selectedRole.errors" class="invalid-feedback">
                    <div *ngIf="f._selectedRole.errors.required">Obrigatório</div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf=" changePass" class="form-group">
        <br>
        <label for="password"><strong>Nova Password</strong></label>
        <input type="password" pPassword promptLabel="" weakLabel="Fraco" mediumLabel="Médio" strongLabel="Forte"
            formControlName="_password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f._password.errors }" />
        <div *ngIf="submitted && f._password.errors" class="invalid-feedback">
            <div *ngIf="f._password.errors.required">Obrigatório</div>
            <div *ngIf="f._password.errors.minlength">Deve ter pelo menos 6 caracteres</div>
        </div>
    </div>
    <div *ngIf="changePass" class="form-group">
        <label for="password"><strong>Repetir Password</strong></label>
        <input type="password" pInputText class="form-control" formControlName="_retypePassword" />
        <div *ngIf="submitted && f._retypePassword.errors" class="invalid-feedback">
            <div *ngIf="f._retypePassword.errors.required">Obrigatório</div>
            <div *ngIf="f._retypePassword.errors.pattern">As passwords devem coincidir</div>
        </div>
    </div>
    <br>
    <!-- <div *ngIf="!isAdmin">
        <p-checkbox formControlName="active" binary="true"></p-checkbox>
    </div> -->
    <div *ngIf="carregou">
        <div *ngIf="!isAdmin">
            <button type="button" (click)="changePassword()" class="btn btn-primary">{{keepOrChangePass}}
                palavra-passe</button>
        </div>
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>