<div class="p-grid">

  <div class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-12" (click)="login()" style="text-align: center">
    <p-card header="Login" styleClass="ui-card-shadow">
      <p-header (event)="login()">
        <em class="pi pi-sign-in" style="font-size: 6em"></em>
      </p-header>
      <p-footer>
      </p-footer>
    </p-card>
  </div>


  <!-- <div class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-12" (click)="help()" style="text-align: center">
    <p-card header="Ajuda" styleClass="ui-card-shadow">
      <p-header>
        <em class="pi pi-question" style="font-size: 6em"></em>
      </p-header>
      <p-footer>
      </p-footer>
    </p-card>
  </div> -->
</div>