<div style="background-color: #ff9a00;">
  <i class="pi pi-info-circle" (click)="openHelp=!openHelp" style="float:right;font-size: 2em;color: white;"></i>
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Agendamento"></app-header>
</div>
<div *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>
<div style="background-color:white">
  <p-steps *ngIf="!loading" [model]="items" [(activeIndex)]="activeIndex" [readonly]="false" styleClass="steps-custom">
  </p-steps>

  <div *ngIf="!loading" style="min-height: 350px">
    <div *ngIf="activeIndex == 0"><br>
      <app-view-header title="Cliente"></app-view-header>
      <app-client-view #client *ngIf="clientLoaded" [client]="cli"></app-client-view>
    </div>

    <div *ngIf="activeIndex == 1">
      <app-view-header title="Clínica(s)"></app-view-header>
      <!-- <div class="p-grid"> -->
      <app-clinics-card-view #cliniclst [clinicList]="installation.clinicList"></app-clinics-card-view>
      <!-- </div> -->
    </div>

    <div *ngIf="activeIndex == 2">
      <app-view-header title="Agendar Instalação"></app-view-header>
      <div class="p-grid" style="width:100%" style="margin:5px">
        <div class="p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
          <app-view-header title="Data e Hora"></app-view-header>

          <label for="name"><strong>Data</strong></label><br>
          <p-calendar appendTo="body" [(ngModel)]="installationDate" dateFormat="yy-mm-dd" [showTime]="true"
            [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2025" [locale]="pt">
          </p-calendar>
          <br>
          <label for="name"><strong>Notas</strong></label><br>
          <textarea rows="6" cols="32" [(ngModel)]="installation.notes" pInputTextarea style="width: 100%"></textarea>
        </div>
        <div class="p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
          <app-view-header title="Utilizadores"></app-view-header>
          <div class="item" class="content-box">
            <p-checkbox class="ui-g-6 ui-md-6 ui-lg-4" *ngFor="let user of users;let i" name="group1" [value]="user"
              label="{{user.username}}" [(ngModel)]="values" inputId="{{user.username}}">
            </p-checkbox>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="activeIndex == 3">
      <app-view-header title="Agendar Formação"></app-view-header>
      <div class="ui-g" style="width:100%;margin-bottom:10px">
        <div class="ui-g-4">
          <p-radioButton name="group2" value="val1" label="Não agendar" [(ngModel)]="trainOpt" inputId="preopt1">
          </p-radioButton>
        </div>
        <div class="ui-g-4" *ngIf="installation.clinicList.length >1">
          <p-radioButton name="group2" value="val2" label="Agendar igual para todas as clínicas" (onClick)="allSame()"
            [(ngModel)]="trainOpt" inputId="preopt2"></p-radioButton>
        </div>
        <div class="ui-g-4" *ngIf="installation.clinicList.length >1">
          <p-radioButton name="group2" value="val3" label="Agendar para cada clínica" (onClick)="allDiff()"
            [(ngModel)]="trainOpt" inputId="preopt3"></p-radioButton>
        </div>
        <div class="ui-g-4" *ngIf="installation.clinicList.length == 1">
          <p-radioButton name="group2" value="val2" label="Agendar" (onClick)="allSame()" [(ngModel)]="trainOpt"
            inputId="preopt4"></p-radioButton>
        </div>
      </div>

      <div *ngIf="trainOpt == 'val2'" class="p-grid" style="margin:5px">
        <div class="p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
          <app-view-header title="Data e Hora"></app-view-header>
          <label for="name"><strong>Data</strong></label><br>
          <p-calendar appendTo="body" [(ngModel)]="trainingDate" yearRange="2018:2025" dateFormat="yy-mm-dd"
            [showTime]="true" [monthNavigator]="true" [yearNavigator]="true" [locale]="pt">
          </p-calendar>
          <br>
          <label for="name"><strong>Notas</strong></label><br>
          <textarea rows="6" cols="32" [(ngModel)]="trainingNotes" pInputTextarea style="width: 100%"></textarea>
        </div>
        <div class=" p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
          <app-view-header title="Utilizadores"></app-view-header>
          <div class="item" class="content-box">
            <p-checkbox class="ui-g-6 ui-md-6 ui-lg-4" *ngFor="let user of trainingUsers;let i" name="group1"
              [value]="user" label="{{user.username}}" [(ngModel)]="valuesT" inputId="{{user.username}}">
            </p-checkbox>
          </div>
        </div>
      </div>

      <div *ngIf="trainOpt == 'val3'" style="margin:5px">
        <p-accordion multiple="true">
          <div #parent>
            <!--  [inputId]="clinic" -->
            <p-accordionTab header="{{clinic.name}}" *ngFor="let clinic of installation.clinicList;let i = index">
              <p-checkbox name="group2" [(ngModel)]="selectedClinics" [value]="clinic" inputId="{{clinic.clinicId}}"
                label="Quero agendar esta clínica"></p-checkbox><br><br>
              <app-training-assignment-form *ngIf="allpushed && selectedClinics.includes(clinic)"
                [training]="trainings[i]"></app-training-assignment-form>
            </p-accordionTab>
          </div>
        </p-accordion>
      </div>
    </div>
    <div *ngIf="activeIndex == 4">
      <app-view-header title="Agendar conclusão da criação do contrato"></app-view-header>
      Página em construção
    </div>
    <div style="margin:10px">
      <br>
      <div class="form-group">
        <br><br>
        <button (click)="save()" class="btn btn-primary" *ngIf="activeIndex == 3">Confirmar</button>
      </div>
    </div>
  </div>
  <p-steps *ngIf="!loading" [model]="items" [(activeIndex)]="activeIndex" [readonly]="false" styleClass="steps-custom">
  </p-steps>
</div>
<br>

<p-dialog header="Ajuda" [modal]="true" [positionTop]="100" [(visible)]="openHelp"
  [style]="{'width':'70%', 'max-height':'400px'}">
  <div style="height:400px">

    Em contrução.<br>
    Aqui estará um guião para ajudar a agendar uma instalação.<br>
    --------------------------------------------------------------------------------------------------<br>
    Nesta página pode ver o detalhe do cliente, das clínicas afetas à instalação, <br>
    No 3º passo, deve indicar a data de instalação e atribuir a tarefa a um ou mais utilizadores. <br>
    Opcionalmente, pode escrever comentários no campo de notas.
    <br>No 4º passo - Agendamento de Formações - tem opção de agendamento ou não. Se não optar por agendar neste
    momento, pode fazê-lo mais tarde. <br>
    Se pretender marcar formação(ões) deve escolher a data e hora da formação e atribuir a um ou mais utilizadores.
  </div>
</p-dialog>