<div style="background-color: #ff9a00;">
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Detalhes do cliente"></app-header>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<!-- <h3> Componentes PrimeNG</h3>
<div class="p-grid">
  <div class="p-col-3">
    <label>Basic</label><br>
    <p-calendar [(ngModel)]="date1" dateFormat="yy-mm-dd"></p-calendar>
  </div>
  <div class="p-col-3">
    <label>Navigators</label><br>
    <p-calendar [(ngModel)]="date6" [monthNavigator]="true" dateFormat="yy-mm-dd" [yearNavigator]="true"
      yearRange="2000:2030"></p-calendar>
  </div>

  <div class="p-col-3">
    <label>Time</label><br>
    <p-calendar [(ngModel)]="date7" [showTime]="true"></p-calendar>
  </div>
  <div class="p-col-3">
    <label>Time Only </label><br>
    <p-calendar [(ngModel)]="date8" [timeOnly]="true"></p-calendar>
  </div>
  <div class="p-col-3">
    <label>Month Picker</label><br>
    <p-calendar [(ngModel)]="date12" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030"
      [readonlyInput]="true"></p-calendar>
  </div>
</div>

<h3> Componentes Angular Material</h3>
<div class="p-grid">
  <div class="p-col-3">
    <mat-form-field style="width:100%;border:#a6a6a6;" appearance="outline">
      <input matInput [matDatepicker]="picker" [(ngModel)]="date9">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="p-col-3">
  </div>
  <div class="p-col-3">
    <label>
      Date Time:
      <input [(ngModel)]="selectedMoment" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" hour12Timer="false">
      <owl-date-time #dt></owl-date-time>
    </label>
  </div>
  <div class="p-col-3">

  </div>
  <div class="p-col-3">

  </div>
</div> -->
<div class='app'>

  <div class='app-top'>
    (click a date/time to add an event)
  </div>

  <div class='app-calendar'>
    <p-fullCalendar #calendar [events]="events" [options]="options">
    </p-fullCalendar>
  </div>
</div>

<p-dialog header="{{eventName}}" [(visible)]="displayInstallation" [modal]="true" [responsive]="true">
  <div *ngIf="displayInstallation">
    <label for="name"><strong>Clínica(s)</strong></label><br>
    <div *ngFor="let clinic of selectedInstallation.clinicList">
      {{clinic.name}}
    </div>
    <br>
    <label for="name"><strong>Data</strong></label><br>
    {{selectedInstallation.installationDate}}

    <br>
    <label for="name"><strong>Notas (Morada, Contacto,...)</strong></label><br>
    <textarea rows="5" cols="32" [(ngModel)]="selectedInstallation.notes" pInputTextarea></textarea>
    <br>
    <label for="name"><strong>A instalar</strong></label>
    <p *ngIf="selectedInstallation.novigest != undefined || selectedInstallation.novigest != null">NoviGest</p>
    <p *ngIf="selectedInstallation.novipem != undefined || selectedInstallation.novipem != null">NoviPem</p>
    <p *ngIf="selectedInstallation.tactisUpdater != undefined || selectedInstallation.tactisUpdater != null">
      TactisUpdater</p>
  </div>
</p-dialog>
<p-dialog header="{{eventName}}" [(visible)]="displayTraining" [modal]="true" [responsive]="true">
  <div *ngIf="displayTraining">
    <label for="name"><strong>Clínica(s)</strong></label><br>
    {{selectedTraining.clinic.name}}
    <br>
    <label for="name"><strong>Data</strong></label><br>
    {{selectedTraining.trainingDate}}

    <br>
    <label for="name"><strong>Notas (Morada, Contacto,...)</strong></label><br>
    <textarea rows="5" cols="32" [(ngModel)]="selectedTraining.notes" pInputTextarea></textarea>
  </div>

</p-dialog>