<div class="p-grid">
  <!-- CONTRATOS DE MANUTENÇÃO: CM ATÉ, AVL ATÉ, CM DIVIDA, CM DEVOLVIDO, AVL DEVOLVIDO -->
  <div class="p-col-6 p-xl-3 p-lg-3 p-md-4">
    <label for="nif"><strong>Status</strong></label>
    <input type="text" pInputText [(ngModel)]="contract.status" style="background-color:white;color:black" readonly
      class="form-control" />
  </div>
  <div class="p-col-6 p-xl-3 p-lg-3 p-md-4">
    <label for="status"><strong>Nº Contrato</strong></label><br>
    <input type="text" id="status" [ngModel]="contract.contract.contractNumber" pInputText
      style="background-color:white;color:black" readonly class="form-control" />
  </div>
  <div class="p-col-6 p-xl-3 p-lg-3 p-md-4" *ngIf=" contract.codenr != 5 && contract.codenr != 10">
    <label for="nif"><strong>Pagamento em dívida</strong></label>
    <input *ngIf="contract.cmPagamentoDivida != 'Sim'" type="text" pInputText [(ngModel)]="contract.cmPagamentoDivida"
      style="background-color:white;color:black" readonly class="form-control" />
    <input *ngIf="contract.cmPagamentoDivida == 'Sim'" type="text" pInputText [(ngModel)]="contract.cmPagamentoDivida"
      style="background-color:white;color:red" readonly class="form-control" />
  </div>

  <div class="p-col-6 p-xl-3 p-lg-3 p-md-4" *ngIf="contract.cmPagamentoDivida == 'Sim'">
    <label for="nif"><strong>Pagamento em dívida há</strong></label>
    <input type="text" pInputText [(ngModel)]="debttime" style="background-color:white;color:red" readonly
      class="form-control" />
  </div>

  <div class="p-col-6 p-xl-3 p-lg-3 p-md-4" *ngIf="contract.codenr != 9 && contract.codenr != 9">
    <label for="nif"><strong>CM DOC Devolvido</strong></label>
    <input *ngIf="contract.cmDocDevolvido == 'Não'" type="text" pInputText [(ngModel)]="contract.cmDocDevolvido"
      style="background-color:white;color:red" readonly class="form-control" />
    <input *ngIf="contract.cmDocDevolvido != 'Não'" type="text" pInputText [(ngModel)]="contract.cmDocDevolvido"
      style="background-color:white;color:black" readonly class="form-control" />
  </div>
  <div class="p-col-6 p-xl-3 p-lg-3 p-md-4" *ngIf="contract.codenr != 9 && contract.cmDocDevolvido == 'Não'">
    <label for="nif"><strong>CM DOC em dívida há</strong></label>
    <input type="text" pInputText [(ngModel)]="cmdocdev" style="background-color:white;color:red" readonly
      class="form-control" />
  </div>
  <div class="p-col-6 p-xl-3 p-lg-3 p-md-4" *ngIf="contract.codenr!= 7 && contract.codenr != 9">
    <label for="nif"><strong>AVL DOC Devolvido</strong></label>
    <input *ngIf="contract.avlDocDevolvido == 'Não'" type="text" pInputText [(ngModel)]="contract.avlDocDevolvido"
      style="background-color:white;color:red" readonly class="form-control" />
    <input *ngIf="contract.avlDocDevolvido != 'Não'" type="text" pInputText [(ngModel)]="contract.avlDocDevolvido"
      style="background-color:white;color:black" readonly class="form-control" />
  </div>
  <div class="p-col-6 p-xl-3 p-lg-3 p-md-4" *ngIf="contract.codenr != 9 && contract.avlDocDevolvido == 'Não'">
    <label for="nif"><strong>AVL DOC em dívida há</strong></label>
    <input type="text" pInputText [(ngModel)]="avldocdev" style="background-color:white;color:red" readonly
      class="form-control" />
  </div>
  <!-- ALUGUERES: CAL ATÉ, CAL DEVOLVIDO, DIVIDA -->

  <div class="p-col-3" *ngIf="contract.codenr == 9">
    <label for="nif"><strong>CAL DOC Devolvido</strong></label>
    <input *ngIf="contract.avlDocDevolvido == 'Não'" type="text" pInputText [(ngModel)]="contract.avlDocDevolvido"
      style="background-color:white;color:red" readonly class="form-control" />
    <input *ngIf="contract.avlDocDevolvido != 'Não'" type="text" pInputText [(ngModel)]="contract.avlDocDevolvido"
      style="background-color:white;color:black" readonly class="form-control" />
  </div>
  <div class="p-col-3" *ngIf="contract.codenr == 9 && contract.avlDocDevolvido == 'Não'">
    <label for="nif"><strong>CAL DOC em dívida há</strong></label>
    <input type="text" pInputText [(ngModel)]="avldocdev" style="background-color:white;color:red" readonly
      class="form-control" />
  </div>
</div>

<div *ngIf="contract.codenr == 6"><br><em>Fechou!</em></div><br>
<div *ngIf="contract.codenr == 7"><br><em>Cancelou Aluguer!</em><br></div>
<div *ngIf="contract.codenr == 8"> <br><em>Mudou de Software</em><br></div>
<div *ngIf="contract.codenr == 6.5"><em>Potencial Cliente (?)</em></div>