<div style="background-color: #ff9a00;">
  <i class="pi pi-info-circle" (click)="openHelp=!openHelp" style="float:right;font-size: 2em;color: white;"></i>
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Listagem de Circulares"></app-header>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<div class="p-grid">
  <div class="p-col"><p-checkbox binary="true" label="CM" [(ngModel)]="cm"></p-checkbox></div>
  <div class="p-col"><p-checkbox binary="true" label="CM Inicial" [(ngModel)]="cminicial"></p-checkbox></div>
  <div class="p-col"><p-checkbox binary="true" label="Aluguer Ano" [(ngModel)]="aluguerano"></p-checkbox></div>
  <div class="p-col"><p-checkbox binary="true" label="Aluguer Mês" [(ngModel)]="aluguermes"></p-checkbox></div>
  <div class="p-col"><p-checkbox binary="true" label="Potenciais" [(ngModel)]="potenciais"></p-checkbox></div>
  <div class="p-col"><p-checkbox binary="true" label="Desistência" [(ngModel)]="desiste"></p-checkbox></div>
  <div class="p-col"><p-checkbox binary="true" label="Sem CM" [(ngModel)]="scm"></p-checkbox></div>
  <div class="p-col"><p-checkbox binary="true" label="Fechou" [(ngModel)]="fechou"></p-checkbox></div>
</div>
<br>

<button pButton label="Listar" (click)="getListagem()"></button>


<p *ngIf="listagem.length == 0"> (selecione uma ou mais categorias)</p>

<div *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>
<br><br>
<div style="max-width:100%" *ngFor="let e50 of listagem">
  <p  style="word-wrap: break-word;">{{e50}}</p>
  <hr>
</div>

<p-dialog header="Ajuda" [modal]="true" [positionTop]="100" [(visible)]="openHelp"
  [style]="{'width':'70%', 'max-height':'400px'}">
  <div style="height:400px">

    Em construção.
    <br>
    ----------------
    <br>
    Selecione as categorias que pretende e clique em "Listar".<br>
    Aparecerá uma lista dividida por 50 emails.
  </div>
</p-dialog>