
:host ::ng-deep .ui-accordion .redTab .ui-accordion-header a{
    background-color: #b55400;
    border: 1px solid #b55400;
    color: white;
}

:host ::ng-deep .ui-accordion .redTab .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
    background-color: #b55400;
    border: 1px solid #b55400;
    color: white;
}

:host ::ng-deep .ui-accordion .redTab  .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a {
    background-color: #a63333;
    border: 1px solid #a63333;
    color: white;
}


:host ::ng-deep .ui-accordion  .ui-accordion-header a{
    background-color: #f4f4f4;
    border: 1px solid #c8c8c8;
    color: black;
}


:host ::ng-deep .ui-accordion  .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
    color: black;
}

:host ::ng-deep .ui-accordion   .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a {
    background-color: #c8c8c8;
    color: black;
}

:host ::ng-deep  .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a{
    background-color: #f4f4f4;
    color:black;
}

:host ::ng-deep  .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
    background-color: #c8c8c8;
    border: 1px solid #c8c8c8;
    color: black;
}