<div style="background-color: #ff9a00;">
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Detalhes do cliente"></app-header>
</div>

<div *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<p-dialog [(visible)]="knockDialogVisible" *ngIf="knockDialogVisible && !loading" header="Atenção!" [modal]="true"
  [responsive]="true" [style]="{'width':'60%'}">
  <div *ngFor="let data of result.clientcontract">
    <div *ngIf="data.contract.notes.trim().length > 1">
      <strong>{{data.contract.contractNumber}} </strong>
      <!-- | {{data.client.name}} -->
      <textarea [(ngModel)]="data.contract.notes" rows="6" style="height:100%;width: 100%" readonly
        pInputTextarea></textarea>
    </div>
  </div>
</p-dialog>

<p-dialog [(visible)]="alertaCliente" *ngIf="alertaCliente && !loading && (isAdministrative)" header="Atenção!"
  [modal]="true" [responsive]="true" [style]="{'width':'60%'}">
  <div *ngFor="let data of result.clientcontract">
    <div *ngIf="data.client != undefined && data.client.notes.trim().length > 1">
      <strong>NOTAS SOBRE O CLIENTE </strong>
      <!-- | {{data.client.name}} -->
      <textarea [(ngModel)]="data.client.notes" rows="6" style="height:100%;width: 100%" readonly
        pInputTextarea></textarea>
    </div>
  </div>
</p-dialog>

<script type="text/javascript" async src="https://tenor.com/embed.js"></script>

<div *ngIf="!loading">
  <!-- <div *ngIf="showDiv" style="border: 2px solid red;background-color:red;">
    <div *ngFor="let data of result.clientcontract">
      <div *ngIf="data.contract.notes.trim().length > 1" style="margin:10px">
        <strong>{{data.contract.contractNumber}} | {{data.client.name}}</strong>
        <textarea [(ngModel)]="data.contract.notes" rows="6" style="height:100%;width:95%;" readonly
          pInputTextarea></textarea>
      </div>
    </div>
  </div> -->

  <p-accordion [multiple]="true">
    <!-- CLIENTES -->
    <div *ngFor="let data of result.clientcontract">

      <p-accordionTab *ngIf="data.client != null" header="Cliente {{data.client.clientId}} - {{data.client.name}}"
        id="clinicaTab">
        <div style="position:relative">
          <button pButton type="button" icon="pi pi-pencil" class="ui-button-rounded ui-button-secondary"
            (click)="editClient(data.client)" style="float: right;position: absolute;z-index: 5; right: 5px;
                top: 20px;color:white;background-color:#333333;border:#333333"></button>
        </div>
        <app-client-view #client [client]="data.client">
        </app-client-view>
      </p-accordionTab>

      <p-accordionTab id="{{data.contract.contractNumber}}" *ngIf="hasClinic"
        [selected]="isAdministrative && result.clientcontract.length <= 1">
        <p-header>
          Contrato <label *ngIf="data.divida != null">({{data.divida.code}}{{data.divida.divida}})</label>
        </p-header>
        <div style="position:relative" *ngIf="(isAdministrative || isComercial)">
          <!-- <button pButton type="button" icon="pi pi-plus" class="ui-button-rounded ui-button-secondary"
            (click)="renovarContract(data.contract)" style="float: right;position: absolute;z-index: 5; right: 5px;
                  top: 20px;color:white;background-color:#333333;border:#333333" pTooltip="Renovar Contrato"></button> -->

          <button pButton type="button" icon="pi pi-pencil" pTooltip="Editar Contrato"
            class="ui-button-rounded ui-button-secondary" (click)="editarContract(data.contract)"
            style="float: left;position: absolute;z-index: 5; top: 20px;right: 5px;color:white;background-color:#333333;border:#333333"></button>

          <button pButton type="button" icon="pi pi-share-alt" *ngIf="data.divida != null"
            class="ui-button-rounded ui-button-secondary" (click)="associarContrato(data.contract)"
            pTooltip="Partilhar instalação com novo contrato"
            style="float: left;position: absolute;z-index: 5; top: 70px;right: 5px;color:white;background-color:#333333;border:#333333"></button>

        </div>

        <app-clinic-status-view #clinicstatus [clinic]="result.clinic" [detail]="data" [user]="active">
        </app-clinic-status-view>

        <br>
        <label><strong>Notas</strong></label><br>
        <textarea rows="3" *ngIf="data.contract.notes != undefined && data.contract.notes.trim().length > 0 "
          [(ngModel)]="data.contract.notes" style="width:100%;color:red" readonly pInputTextarea></textarea>
        <textarea rows="3" *ngIf="data.contract.notes != undefined && data.contract.notes.trim().length == 0 "
          [(ngModel)]="data.contract.notes" style="width:100%;color:black" readonly pInputTextarea></textarea>
        <textarea rows="3" *ngIf="data.contract.notes == undefined " style="width:100%;color:black" readonly
          pInputTextarea></textarea>

      </p-accordionTab>
    </div>

    <p-accordionTab header="Clínica {{ result.clinic.clinicId}} - {{result.clinic.name}}"
      [selected]="hasClinic&&showClinic&&!isAdministrative" *ngIf="hasClinic " id="clinicaTab" class="">
      <app-clinic-view #clinic [clinic]="result.clinic"></app-clinic-view>
    </p-accordionTab>

    <!-- this div only when is client -->
    <!-- <div *ngIf="contractLoaded && !hasClinic">
      <p-accordionTab *ngFor="let cc of clientContracts2" header="Contrato ({{cc.contract.contractNumber}})"
        [selected]="true">

        <app-client-status-view #clientstatus [contract]="cc"></app-client-status-view> -->

    <!-- <p-accordion>
          <p-accordionTab header="Renovações e Documentos" [selected]="renSelected">

            <button pButton type="button" icon="pi pi-plus" class="ui-button-rounded ui-button-secondary"
              pTooltip="Renovar Contrato" tooltipPosition="bottom" (click)="renovarContract(cc.contract)"
              style="float: right;" *ngIf="isAdministrative"></button>
            <button pButton type="button" icon="pi pi-pencil" class="ui-button-rounded ui-button-secondary"
              pTooltip="Corrigir dívida" tooltipPosition="bottom" (click)="editarContract(cc.contract)"
              style="float: right;" *ngIf="isAdministrative"></button>

            <div class="p-grid" *ngIf="contractLoaded">
              <app-contractchanges-view [contract2]="cc.contract"></app-contractchanges-view>
            </div>
          </p-accordionTab>

          <p-accordionTab header="Instalações e Clínicas" *ngIf="cc.codenr!=6.5" [selected]="instcliSelected">
            <div><button pButton type="button" icon="pi pi-plus" class="ui-button-rounded ui-button-secondary"
                (click)="addInstallation(cc.contract)" label="Instalação" style="float: right;"
                pTooltip="Adicionar Instalação ao contrato" tooltipPosition="bottom" *ngIf="isComercial"></button></div>

            <br><br><br>
            <div *ngFor="let inst of cc.contract.installationList" style="width:100%">
              <p-accordion [multiple]="true">

                <p-accordionTab header="Instalação ({{inst.installationName}})" [selected]="true">
                  <button pButton type="button" icon="pi pi-plus" class="ui-button-rounded ui-button-secondary"
                    (click)="addNewClinicToInstallation(inst)" label="Nova" style="float: right;"
                    pTooltip="Adicionar clínica a instalação" tooltipPosition="bottom" *ngIf="isComercial"></button>
                  <!-- <button pButton type="button" icon="pi pi-plus" class="ui-button-rounded ui-button-secondary"
                    (click)="associateClinicToInstallation(inst)" label="Associar" style="float: right;"
                    *ngIf="isComercial"></button> -->
    <!-- <button pButton type="button" icon="pi pi-pencil" class="ui-button-rounded ui-button-secondary"
                    (click)="editInstallation(inst)" label="Editar" style="float: right;" *ngIf="isHelpdesk"
                    pTooltip="Alterar dados da instalação" tooltipPosition="bottom"></button>
                  <button pButton type="button" icon="pi pi-trash" class="ui-button-rounded ui-button-secondary"
                    (click)="deleteInstallation(inst)" style="float: right;" *ngIf="isHelpdesk"
                    pTooltip="Apagar instalação" tooltipPosition="bottom"></button>
                  <div *ngIf="inst.clinicList.length == 0">
                    <br><br><br>
                  </div>
                  <p *ngFor="let clinic of inst.clinicList"><a
                      routerLink="/home/clients/info/{{id}}/clinic/{{clinic.clinicId}}"
                      class="btn btn-link">{{clinic.name}}</a></p>
                </p-accordionTab>
              </p-accordion>
            </div>
          </p-accordionTab>
        </p-accordion>  -->
    <!-- </p-accordionTab>
    </div> -->

    <!-- <p-accordionTab header="Instalação ({{result.installation.installationName}})"
      *ngIf="hasClinic && instGetDone && (isHelpdesk || isImplementation)" id="clinicaTab">
      <app-edit-installation [installation]="result.installation" viewOnly="true"></app-edit-installation>
    </p-accordionTab> -->

    <p-accordionTab *ngIf="newIntervention" header="Nova intervenção" [selected]="true">
      <app-intervention-new-view *ngIf="result.clientcontract[0].divida != undefined" #newintervention
        [clinic]="result.clinic" [produto]="productType" [status]="result.clientcontract[0].divida.code"
        (closeTab)="interventionDone($event)"></app-intervention-new-view>
      <app-intervention-new-view *ngIf="result.clientcontract[0].divida == undefined" #newintervention
        [clinic]="result.clinic" [produto]="productType" status="(sem dados)" (closeTab)="interventionDone($event)">
      </app-intervention-new-view>
    </p-accordionTab>

    <p-accordionTab header="{{productType}}" *ngIf="result.clientcontract[0].divida != null && hasClinic">
      <app-novigest-type-view #novigesttype [clinic]="result.clinic" (producttype)="readProductType($event)">
      </app-novigest-type-view>
    </p-accordionTab>

    <p-accordionTab header="Acessos" [selected]="accessOn" *ngIf="hasClinic && result.installation != undefined">
      <app-access-view #access [installation]="result.installation" [clinic]="result.clinic"></app-access-view>
    </p-accordionTab>

    <p-accordionTab header="Postos" *ngIf="hasClinic && result.installation != undefined">
      <h4>Em Construção!</h4>
      <p>Alguns detalhes poderão estar errados.</p>
      <hr>
      <strong>Postos principais:</strong> {{result.clinic.mainPostos}}<br>
      <strong>Postos adicionais:</strong> {{result.clinic.addPostos}}
      <br>

      <p-table *ngIf="aditamentosLoaded" [columns]="aditCols" [value]="aditamentos" [paginator]="true" [rows]="6"
        [customSort]="true" selectionMode="single">

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field ">
              {{col.header}}
            </th>

          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" class="ui-resizable-column">
              <label *ngIf="col.header == 'Adicionais'">{{rowData[col.field]}} <label *ngIf="rowData.pendente > 0">
                  ({{rowData.pendente}} pendente(s)) </label></label>
              <label *ngIf="col.header != 'Adicionais'">{{rowData[col.field]}}</label>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              Sem aditamentos
            </td>
          </tr>
        </ng-template>

      </p-table>
    </p-accordionTab>

    <p-accordionTab header="Monitorização ({{result.installation.installationName}})"
      *ngIf="hasClinic && result.installation != undefined">
      <app-monitor-view #monitor [installation]="result.installation"></app-monitor-view>
    </p-accordionTab>

    <p-accordionTab #inttab header="Intervenções ({{nIntrv}})" *ngIf="hasClinic">
      <app-interventions-view #intervention [cid]="cid" (nrInterventions)="showNrIntervention($event)">
      </app-interventions-view>
    </p-accordionTab>

    <p-accordionTab #trainview header="Formações ({{nTrain}})" *ngIf="hasClinic">
      <app-trainings-view [cid]="cid" [redo]="redoTrain" (nrTrainings)="showNrTraining($event)"></app-trainings-view>
    </p-accordionTab>

  </p-accordion>
</div>

<p-dialog header="Renovar Contrato" [(visible)]="renewContract"
  [style]="{'width': '80%', 'height':'90%', 'background-color':'white'}">
  <app-contract-renew-edit #changes *ngIf="renewContract" [contract]="selectedContract" [toRenew]=true
    (close)="listenCloseRenovar($event)" (askContract)="getContractAgain()"></app-contract-renew-edit>
</p-dialog>

<p-dialog appendTo="body" [responsive]="true" [modal]="true" header="Editar dívidas do Contrato"
  [(visible)]="editContract"
  [style]="{'width': '80%', 'height':'90%', 'background-color':'white','overflow': 'scroll'}">
  <app-contract-renew-edit #changes *ngIf="editContract" [contract]="selectedContract" [toRenew]=false
    (close)="listenCloseEditar($event)" (askContract)="getContractAgain()"></app-contract-renew-edit>
</p-dialog>

<p-dialog appendTo="body" *ngIf="displayNewClinic" header="Nova Clínica" [(visible)]="displayNewClinic"
  (onHide)="hideNew($event)">
  <app-view-header title="Adicionar clínica a instalação"></app-view-header>
  <app-clinic-new [(clinic)]="newClinic"></app-clinic-new>
  <button (click)="saveNewClinic()" class="btn btn-primary">Registar</button>
</p-dialog>

<!-- -------------------------------------------------- -->
<!-- editar apenas o cliente -->
<p-dialog header="Editar Cliente" [(visible)]="editOnlyClient" [style]="{'width': '80%'}">
  <app-client-edit *ngIf="editOnlyClient" [client]="selectedClient" (closeEdit)="closeEditDialogs($event)">
  </app-client-edit>
</p-dialog>

<!-- editar o cliente e clinica -->
<p-dialog header="Editar Clínica" [(visible)]="editOnlyClinic" [style]="{'width': '80%'}">
  <app-client-edit *ngIf="editOnlyClinic" [clinic]="selectedClinic" (closeEdit)="closeEditDialogs($event)">
  </app-client-edit>
</p-dialog>

<!-- editar acessos -->
<p-dialog header="Editar Acessos" [(visible)]="editAccess" [style]="{'width': '80%'}">
  <app-client-edit *ngIf="editAccess" [clinic]="selectedClinic" [installation]="selectedInstallation"
    [updateAccess]="editAccess" (closeEdit)="closeEditDialogs($event)"></app-client-edit>
</p-dialog>

<!-- editar instalação -->
<p-dialog header="Editar Instalação" [(visible)]="editInst" [style]="{'width': '80%'}">
  <app-client-edit *ngIf="editInst" [installation]="selectedInstallation" (closeEdit)="closeEditDialogs($event)">
  </app-client-edit>
</p-dialog>

<!-- ----------------------------------------------------- -->


<!-- <p-dialog appendTo="body" *ngIf="editInstallationView" header="Editar instalação" [(visible)]="editInstallationView">
    <app-edit-installation [installation]="selectedInstallation"></app-edit-installation>
    <button pButton label="Guardar" (click)="saveInstallation()"></button>
  </p-dialog> -->

<p-dialog appendTo="body" *ngIf="displayNewTraining" header="Agendar Formação" [(visible)]="displayNewTraining"
  [style]="{'max-width':'65%'}">
  <app-view-header title="Agendar Formação"></app-view-header>
  <!-- <app-training-new-view [(event)]="newEvent"></app-training-new-view> -->
  <div class="p-grid" style="background-color: white">

    <div class="p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
      <app-section-header title="Dados sobre a formação"></app-section-header>
      <label for="nome"><strong>Data de início</strong></label><br>
      <p-calendar appendTo="body" [(ngModel)]="newEvent.beginDate" dateFormat="yy-mm-dd" [showTime]="true"
        [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2025">
      </p-calendar><br>
      <label for="nome"><strong>Data de fim</strong></label><br>
      <p-calendar appendTo="body" [(ngModel)]="newEvent.endDate" dateFormat="yy-mm-dd" [showTime]="true"
        [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2025">
      </p-calendar><br>
      <label for="nome"><strong>Notas</strong></label><br>
      <textarea rows="2" [(ngModel)]="newEvent.notes" pInputTextarea style="width: 100%"></textarea>
    </div>

    <div class="p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
      <app-section-header title="Atribuição"></app-section-header>

      <div class="item" class="content-box">
        <p-checkbox id="black" class="ui-g-6 ui-md-6 ui-lg-4" *ngFor="let user of users;let i" name="group1"
          [value]="user" label="{{user.username}}" [(ngModel)]="values" inputId="{{user.username}}">
        </p-checkbox>
      </div>

    </div>
  </div>
  <button (click)="saveNewTraining()" pButton label="Guardar"></button>
</p-dialog>


<eco-fab-speed-dial ngDraggable #myFab [direction]="direction" [animationMode]="animationMode" [fixed]="fixed"
  [open]="open" style="position:fixed;  z-index: 1; opacity: 0.7;top: 15%; right: 5%;">
  <!-- (mouseenter)="myFab.open = true" -->
  <eco-fab-speed-dial-trigger [spin]="spin">
    <button mat-fab>
      <mat-icon class="spin360">check</mat-icon>
    </button>
  </eco-fab-speed-dial-trigger>

  <eco-fab-speed-dial-actions>
    <button mat-mini-fab *ngIf="hasClinic && isHelpdesk" (click)="editarInst()" matTooltip="Editar Instalação"
      matTooltipPosition="before">
      <mat-icon>build</mat-icon>
    </button>
    <button mat-mini-fab *ngIf="hasClinic && (isHelpdesk || isImplementation)" (click)="doNewIntervention()"
      matTooltipPosition="before" matTooltip="Nova Intervenção">
      <mat-icon>perm_phone_msg</mat-icon>
    </button>
    <button mat-mini-fab *ngIf="hasClinic && (isHelpdesk || isImplementation)" (click)="editarAcessos()"
      matTooltipPosition="before" matTooltip="Editar Acessos">
      <mat-icon>lock_open</mat-icon>
    </button>
    <button mat-mini-fab *ngIf="hasClinic && (isHelpdesk || isComercial)" (click)="doNewTraining()"
      matTooltipPosition="before" matTooltip="Nova Formação">
      <mat-icon>speaker_notes</mat-icon>
    </button>
    <button mat-mini-fab *ngIf="hasClinic" (click)="editClinic()" matTooltip="Editar" matTooltipPosition="before">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab *ngIf="!hasClinic" (click)="editClient(result.clientcontract[0].client)" matTooltip="Editar"
      matTooltipPosition="before">
      <mat-icon>edit</mat-icon>
    </button>
  </eco-fab-speed-dial-actions>
</eco-fab-speed-dial>

<p-confirmDialog #cd key="deleteinst" header="Confirmação" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>
<br>