:host ::ng-deep #black .ui-chkbox .ui-chkbox-box.ui-state-active{
    background-color: black;
    border-color:black;
}

:host ::ng-deep .ui-chkbox .ui-chkbox-box.ui-state-active {
    background-color: red;
    border-color:red;
}

.ui-steps .ui-steps-item {
    width: 20%;
    opacity:1;
}

.ui-steps.steps-custom {
    background-color:white;
    opacity:1;
}


