<div style="background-color: #ff9a00;">
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Agendar Evento"></app-header>
</div>
<div *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<p-steps *ngIf="!loading" [model]="items" [(activeIndex)]="activeIndex" [readonly]="false" styleClass="steps-custom">
</p-steps>

<div *ngIf="!loading" style="min-height: 600px">
  <div *ngIf="activeIndex == 0">
    <app-view-header title="Dados do Evento"></app-view-header>
    <div class="p-grid">

      <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6">
        <label for="nome"><strong>Data de início</strong></label><br>
        <p-calendar [monthNavigator]="true" [yearNavigator]="true"  yearRange="2018:2025" [(ngModel)]="beginDate" dateFormat="yy-mm-dd" [showTime]="true">
        </p-calendar>
      </div>

      <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6">
        <label for="nome"><strong>Data de fim</strong></label><br>
        <p-calendar [monthNavigator]="true" [yearNavigator]="true"  yearRange="2018:2025" appendTo="body" [(ngModel)]="endDate" dateFormat="yy-mm-dd" [showTime]="true">
        </p-calendar>
      </div>

      <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6">
        <label for="nome"><strong>Tipos de evento</strong></label><br>
        <p-dropdown [options]="eventTypes" placeholder="Escolha um tipo " [(ngModel)]="selectedEventType"></p-dropdown>
      </div>

      <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6" *ngIf="selectedEventType=='Outro'">
        <label for="nome"><strong>Título do Evento</strong></label><br>
        <input type="text" id="eventName" pInputText [(ngModel)]="eventName" />
      </div>

      <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
        <label for="nome"><strong>Notas</strong></label><br>
        <textarea rows="6" cols="32" [(ngModel)]="notes" pInputTextarea style="width: 100%"></textarea>
      </div>

    </div>
  </div>


  <div *ngIf="activeIndex == 1"  style="min-height: 500">
    <app-view-header title="Utilizadores"></app-view-header>
    <div class="item" class="content-box">
      <p-checkbox id="black" class="ui-g-6 ui-md-6 ui-lg-4" *ngFor="let user of users;let i" name="group1"
        [value]="user" label="{{user.username}}" [(ngModel)]="values" inputId="{{user.username}}">
      </p-checkbox>
    </div>
  </div>

  <div *ngIf="activeIndex == 2">
    <app-view-header title="Clínica"></app-view-header>

    Quero associar este evento a uma clínica
    <p-checkbox id="black" [(ngModel)]="toClinic" binary="true"></p-checkbox>
    <br>
    <hr>
    <div class="p-grid" *ngIf="toClinic">
      <div class="p-col-12">
        <p-dropdown [options]="clinics" placeholder="Selecionar uma Clínica" optionLabel="name" filter="true"
          [showClear]="true" [style]="{'width': '100%'}" (onChange)="event($event, 'CLN')">
        </p-dropdown>
      </div>
      
    </div>
    <app-clinic-view #clinic *ngIf="(selectedClinic != null && selectedClinic != undefined ) && toClinic"
      [clinic]="selectedClinic"></app-clinic-view>
  </div>

  <div *ngIf="activeIndex == 3">
    <app-view-header title="Cliente"></app-view-header>
    Quero associar este evento a um cliente
    <p-checkbox id="black" [(ngModel)]="toClient" binary="true"></p-checkbox>
    <br>
    <br>
    <hr>
    <p-dropdown *ngIf="toClient" [options]="clients" placeholder="Selecionar um Cliente" optionLabel="name"
      filter="true" [showClear]="true" [style]="{'width': '100%'}" (onChange)="event($event, 'CLT')"></p-dropdown>

    <app-client-view #client *ngIf="(selectedClient != null && selectedClient != undefined ) && toClient"
      [client]="selectedClient"></app-client-view>
  </div>


  <div>
    <br>
    <!-- <button pButton (click)="previous()" class="ui-button-rounded ui-button-secondary" icon="pi pi-arrow-left"
      [disabled]="activeIndex == 0"></button>
    <button pButton (click)="next()" class="btn btn-primary" icon="pi pi-arrow-right"
      [disabled]="activeIndex == 3"></button> -->

    <div class="form-group">
      <br><br>
      <button (click)="save()" class="btn btn-primary" *ngIf="activeIndex == 3">Confirmar</button>
    </div>
  </div>
</div>

<!-- <p-steps *ngIf="!loading" [model]="items" [(activeIndex)]="activeIndex" [readonly]="false" styleClass="steps-custom"></p-steps> -->