<p-table [columns]="changecols" [value]="changes" [paginator]="true" [rows]="5"
sortField="changeDatadoc" sortOrder="-1">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        <div *ngIf=" col.header!= 'Dívida'">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </div>
      </th>
      <th style="width: 5em">
        Dívida
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <p *ngIf="col.header=='Data' || col.header=='Até'">{{rowData[col.field] | dateTimeFormatFilter: 'YYYY-MM-DD'}}</p>
        <p *ngIf="col.header!='Data' && col.header!='Até'">{{rowData[col.field]}}</p>
      </td>
      <td style="text-align:center;">
        <p-checkbox [ngModel]="!rowData.changeNormalized" disabled binary="true"></p-checkbox>
      </td>
    </tr>
  </ng-template>
</p-table>