<div style="background-color: #ff9a00;">
    <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
        style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
    <div style="width:auto;text-align: center">
        <h3 style="background-color: #ff9a00;color:white;width: 100%">Login</h3>
    </div>

</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>
<div class="p-grid p-justify-center" style="margin:auto">
    <div class="p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="form-group" style="margin:auto">
                <label for="username">Username/Email</label>
                <input type="text" id="username" required pInputText [(ngModel)]="_username" formControlName="_username"
                    class="form-control" [pKeyFilter]="blockSpace"
                    [ngClass]="{ 'is-invalid': submitted && f._username.errors }" />
                <div *ngIf="submitted && f._username.errors" class="invalid-feedback">
                    <div *ngIf="f._username.errors.required">Obrigatório</div>
                </div>
            </div>
            <div class="form-group" style="margin:auto">
                <label for="password">Password</label>
                <input type="password" pPassword [(ngModel)]="_password" [feedback]="false" formControlName="_password"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f._password.errors }" />
                <div *ngIf="submitted && f._password.errors" class="invalid-feedback">
                    <div *ngIf="f._password.errors.required">Obrigatório</div>
                </div>
            </div>

            <br>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Login</button>
            </div>

        </form>
    </div>
    <div *ngIf="expiredSession" class="p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12" align="center">
        <br>
        <em class="pi pi-exclamation-triangle" style="font-size: 3em"></em>
        <h6 style="color:orange">Sessão Expirada.<br>Faça login novamente.</h6>
    </div>
</div>