<div style="background-color: #ff9a00;">
  <i class="pi pi-info-circle" (click)="openHelp=!openHelp" style="float:right;font-size: 2em;color: white;"></i>
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Realizar Instalação"></app-header>
</div>

<div *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false" styleClass="steps-custom"></p-steps>

<div *ngIf="!loading" style="min-height: 350px;background-color:white">
    <div *ngIf="activeIndex == 0"><br>
      <app-view-header title="Dados do Contrato"></app-view-header>
      <div *ngIf="contractLoaded">
          <strong>Tipo de contrato:</strong> {{contract.contractType}} <br>
          <strong>Postos Principais: </strong>{{contract.qtyMainStations}} <br>
          <strong>Postos Adicionais:  </strong>{{contract.qtyAddStations}}<br>
      </div>
    </div>

  <div *ngIf="activeIndex == 1">
     <app-view-header title="Dados do Cliente"></app-view-header>
    <app-client-view #client *ngIf="clientLoaded" [client]="cli"></app-client-view>
  </div>

  <div *ngIf="activeIndex == 2">
      <app-view-header title="Clínica(s)"></app-view-header>
    <app-clinics-card-view #cliniclst [clinicList]="installation.clinicList"></app-clinics-card-view>
  </div>

  <div *ngIf="activeIndex == 3">
    <app-view-header title="Dados da instalação"></app-view-header>
    <app-edit-installation #editinst [installation]="installation"></app-edit-installation>
  </div>

  <div *ngIf="activeIndex == 4 && installation.installpem">
    <app-view-header title="Ativação NoviPem"></app-view-header>
    <app-pem-activation-new [(pem)]="pemobj"></app-pem-activation-new>
  </div>

  <div *ngIf="activeIndex == 4 && !installation.installpem">
    <app-view-header title="Ativação NoviPem"></app-view-header>
    <em>Não é preciso definir dados para o noviPem</em>
  </div>

  <div *ngIf="activeIndex == 5 && installation.installng">
    <!-- && contractNeedsActivation -->
    
    <app-view-header title="Ativação NoviGest"></app-view-header>
    <p-fileUpload mode="basic"  accept=".xml" [auto]="true" name="uploaded_file" [url]="xmlURL" fileLimit="1"
     (onUpload)="onUpload($event)" [style]="{'float':'right', 'margin-right':'10px'}" chooseLabel="Abrir ficheiro"></p-fileUpload>
    <br><br>
     <app-novigest-activation-new [(ng)]="ngobj"></app-novigest-activation-new>
  </div>

  <div *ngIf="activeIndex == 5 && !installation.installng ">
    <!-- && contractNeedsActivation -->
    <app-view-header title="Ativação NoviGest"></app-view-header>
    <em>Não é preciso definir dados para o noviGest</em>
  </div>

</div>

<div>
    <br>
    <div class="form-group">
        <button (click)="save()" class="btn btn-primary" *ngIf="activeIndex == 5 && installation.installpem && installation.installng">Confirmar</button>
        <button (click)="save()" class="btn btn-primary" *ngIf="activeIndex == 5 && !installation.installpem && installation.installng">Confirmar</button>
        <button (click)="save()" class="btn btn-primary" *ngIf="activeIndex == 4 && installation.installpem && !installation.installng">Confirmar</button>
        <button (click)="save()" class="btn btn-primary" *ngIf="activeIndex == 3 && !installation.installng && !installation.installpem">Confirmar</button>
      </div>

  <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false" styleClass="steps-custom"></p-steps>
  <br>
  
</div>

<p-dialog header="Ajuda" [modal]="true" [positionTop]="100" [(visible)]="openHelp"
  [style]="{'width':'70%', 'max-height':'400px'}">
  <div style="height:400px">

    Em contrução.<br>
    Aqui estará um guião para ajudar a instalar postos.<br>
    --------------------------------------------------------------------------------------------------<br>
    1 - Contrato : (informativo) tipo de contrato, total de postos <br>
    2 - Cliente : (informativo) Dados do Cliente <br>
    3 - Clínicas : (informativo) dados das clínicas e quantidade de postos a instalar em cada <br>
    4 - Dados : dados de login, software e acessos - é obrigatório preencher o nome de instalação (login) e password. O nome de instalação não pode ser repetido.<br>
    5 - Ativação PEM <br>
    6 - Ativação NoviGest <br>
  </div>
</p-dialog>

<p-confirmDialog appendTo="body" acceptLabel="Quero apenas guardar" rejectLabel="Quero concluir agora" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>