:host ::ng-deep .priority-2,
        :host ::ng-deep .priority-3,
        :host ::ng-deep .visibility-sm {
            display: none;
        }

        @media screen and (max-width: 39.938em) {
            :host ::ng-deep .visibility-sm {
                display: inline;
            }
        }

        @media screen and (min-width: 40em) {
            :host ::ng-deep .priority-2 {
                display: table-cell;
            }
        }

        @media screen and (min-width: 64em) {
            :host ::ng-deep .priority-3 {
                display: table-cell;
            }
        }
    

mat-card {
    margin: 30px;
}
mat-card .fab-demo-actions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
mat-card .fab-demo-actions mat-slide-toggle {

    display: inline-block;
    margin-right: 10px;

}

.container-fab-demo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
    
.container-fab-demo mat-card {
    height: 300px;
    padding: 20px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 300px;
}

.example-spacer {
    flex: 1 1 auto;
}
        