<div style="background-color: #ff9a00;">
  <app-header title="Pesquisa"></app-header>
</div>
<div *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<!-- (mouseleave)="myFab.open = false" -->
<eco-fab-speed-dial ngDraggable #myFab [direction]="direction" [animationMode]="animationMode" [fixed]="fixed" [open]="open"
   style="position:fixed;  z-index: 1; opacity: 0.7; top: 15%; right: 5%;">
<!-- (mouseenter)="myFab.open = true" -->
  <eco-fab-speed-dial-trigger [spin]="spin">
    <button mat-fab (click)="doAction('trigger')">
      <!-- style="background-color: #ff9a00" -->
      <mat-icon class="spin360">check</mat-icon>
    </button>
  </eco-fab-speed-dial-trigger>

  <eco-fab-speed-dial-actions *ngIf="selectedNode != undefined">
    <button mat-mini-fab (click)="newIntervention()" *ngIf="isClinic()" matTooltipPosition="before"
      matTooltip="Nova Intervenção">
      <mat-icon>perm_phone_msg</mat-icon>
    </button>
    <button mat-mini-fab (click)="seeDetails()" matTooltip="Ver Detalhes" matTooltipPosition="before">
      <mat-icon>remove_red_eye</mat-icon>
    </button>
    <button mat-mini-fab (click)="editClient()" matTooltip="Editar" matTooltipPosition="before">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab (click)="access()" *ngIf="isClinic()" matTooltip="Acessos" matTooltipPosition="before">
      <mat-icon>lock_open</mat-icon>
    </button>
    <button mat-mini-fab (click)="newContract()" *ngIf="isClient() && canDoContract" matTooltip="Novo Contrato"
      matTooltipPosition="before">
      <mat-icon>work_outline</mat-icon>
    </button>
    <button mat-mini-fab (click)="newAditamento()" *ngIf="isClient() && canDoContract" matTooltip="Aditamento"
      matTooltipPosition="before">
      <mat-icon>post_add</mat-icon>
    </button>
    <button mat-mini-fab (click)="deletePotencial()" *ngIf="isClient() && isPotencial() && canDeletePotencial" matTooltip="Apagar Potencial"
      matTooltipPosition="before">
      <mat-icon>delete</mat-icon>
    </button>

  </eco-fab-speed-dial-actions>

  <eco-fab-speed-dial-actions *ngIf="selectedNode == undefined">
    <button mat-mini-fab (click)="newClient()" matTooltip="Novo Cliente" matTooltipPosition="before"
      *ngIf="canDoContract">
      <mat-icon>add</mat-icon>
    </button>
    <!-- <button mat-mini-fab (click)="newEmptyContract()" matTooltip="Novo Contrato" matTooltipPosition="before"
      *ngIf="canDoContract">
      <mat-icon>work_outline</mat-icon>
    </button> -->
  </eco-fab-speed-dial-actions>

</eco-fab-speed-dial>

<!-- <button pButton (click)="doButton($event)" label="Click me"></button> -->
<p-treeTable #tt [value]="clientClinics" selectionMode="single" [paginator]="true" [rows]="12"
  [(selection)]="selectedNode" (onNodeSelect)="do($event)" (onNodeUnselect)="do($event)" [columns]="cols" (dblclick)="onRowDblclick($event)">
  <ng-template pTemplate="caption">
    <div class="ui-g">
      <div class="ui-g-2 ui-md-2 filter-container">
        <div class="ui-g-12" style="text-align: left;display:table">
          <button pButton type="button" lable="Click" class="ui-button-rounded ui-button-secondary"
            icon="pi pi-arrow-left" (click)="back()"></button>
        </div>
      </div>

      <div class="ui-g-6 ui-md-6 filter-container">
        <!-- <div class="ui-g-12" style="text-align: right;display:table">
          <input type="text" pInputText (keyup.enter)="search()" placeholder="Procurar" [(ngModel)]="toSearch"
            style="display:table-cell; width:100%">
        </div> -->
      </div>

      <div class="ui-g-2 ui-md-2 filter-container">
        <!-- <div class="ui-g-12" style="text-align: left;display:table">
          <button pButton (click)="search()" (keyup.enter)="search()" icon="pi pi-search"
            style="display:table-cell;background-color: black; border-color:black"></button>
        </div> -->
      </div>

      <div class="ui-g-2 ui-md-2 filter-container">
        <div class="ui-g-12" style="text-align: right">
          <p>[{{clientClinics.length}}]</p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 1%"></th>
      <th style="width:55px" >ID</th>
      <th style="width: 49%;word-break: break-all" >Nome</th>
      <!-- <th style="width: 1%"></th> -->
      <th class="priority-2" style="word-break: break-all">Localidade</th>
      <th class="priority-2" style="word-break: break-all">TEL 1</th>
      <th class="priority-3" style="word-break: break-all" >TEL 2</th>
      <th class="priority-3" style="word-break: break-all">TEL 3</th>
      <th class="priority-3" style="word-break: break-all"> NIF</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
      <!-- CLINICA -->
      <td *ngIf="rowData.address == undefined && rowData.divida == undefined"></td>
      <td
        *ngIf="rowData.address == undefined && rowData.divida != undefined && rowData.divida == 'Sim'"
        style="background-color:red"></td>
      <td *ngIf="rowData.address == undefined && rowData.divida != undefined && rowData.divida == 'Não'"
        style="background-color:green"></td>
        <!-- CLIENTE-->
      <td *ngIf="rowData.address != undefined && clientHasDebt(rowNode)==1" style="background-color:red"></td>
      <td *ngIf="rowData.address != undefined && clientHasDebt(rowNode)==0" style="background-color:green"></td>
      <td *ngIf="rowData.address != undefined && clientHasDebt(rowNode)==-1"></td>
      <td *ngIf="rowData.address != undefined">
        {{rowData.clientId}}
      </td>
      <td *ngIf="rowData.address == undefined">
        {{rowData.clinic.clinicId}}
      </td>
      <td *ngIf="rowData.address != undefined">
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        {{rowData.name}}
      </td>
      <td *ngIf="rowData.address == undefined">
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        {{rowData.clinic.name}}
      </td>
      <!-- <td *ngIf="rowData.address == undefined && !rowData.lastChange.changeNormalized" style="background-color:red"></td>
      <td *ngIf="rowData.address == undefined && rowData.lastChange.changeNormalized" style="background-color:green"></td>
      <td *ngIf="rowData.address != undefined && clientHasDebt(rowNode)==1" style="background-color:red"></td>
      <td *ngIf="rowData.address != undefined && clientHasDebt(rowNode)==0" style="background-color:green"></td>
      <td *ngIf="rowData.address != undefined && clientHasDebt(rowNode)==-1" ></td> -->
      <td class="priority-2" style="word-break: break-all" *ngIf="rowData.address != undefined">{{rowData.address.addressLocation}}</td>
      <td class="priority-2" style="word-break: break-all" *ngIf="rowData.contact != undefined">{{rowData.contact.phone1}}</td>
      <td class="priority-3" style="word-break: break-all" *ngIf="rowData.contact != undefined">{{rowData.contact.phone2}}</td>
      <td class="priority-3" style="word-break: break-all" *ngIf="rowData.contact != undefined">{{rowData.contact.phone3}}</td>
      <td class="priority-2" style="word-break: break-all" *ngIf="rowData.address == undefined">{{rowData.clinic.address.addressLocation}}</td>
      <td class="priority-2" style="word-break: break-all" *ngIf="rowData.contact == undefined">{{rowData.clinic.contact.phone1}}</td>
      <td class="priority-3" style="word-break: break-all" *ngIf="rowData.contact == undefined">{{rowData.clinic.contact.phone2}}</td>
      <td class="priority-3" style="word-break: break-all" *ngIf="rowData.contact == undefined">{{rowData.clinic.contact.phone3}}</td>
      <td class="priority-3">{{rowData.nif}}</td>
    </tr>
  </ng-template>
  <p-paginator rows="12" #p></p-paginator>
</p-treeTable>


<p-dialog header="Editar Cliente" [(visible)]="editOnlyClient" [style]="{'width': '80%'}">
    <app-client-edit *ngIf="editOnlyClient" [client]="selectedClient" (closeEdit)="closeEditDialogs($event)">
    </app-client-edit>
  </p-dialog>
  
  <!-- editar o cliente e clinica -->
  <p-dialog header="Editar Clínica" [(visible)]="editOnlyClinic" [style]="{'width': '80%'}">
    <app-client-edit *ngIf="editOnlyClinic" [clinic]="selectedClinic"
      (closeEdit)="closeEditDialogs($event)"></app-client-edit>
  </p-dialog>
  
  <p-confirmDialog #cd key="deletepot" header="Confirmação" icon="pi pi-exclamation-triangle">
    <p-footer>
      <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
      <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
    </p-footer>
  </p-confirmDialog>