<div style="background-color:white">
  <div class="p-grid p-justify-center">
    <div class="p-grid p-col-12 p-xl-4 p-lg-4 p-md-6">
      <app-view-header title="Nome" style="width:100%"></app-view-header>
      <div class="p-col-8">
        <label for="name"><strong>Nome </strong></label><br>
        <label>{{client.name}}</label>
      </div>
      <div class="p-col-4">
        <label for="name"><strong>NIF </strong></label><br>
        <label>{{client.nif}}</label>
      </div>
      <div class="p-col-12">
        <label for="name"><strong>Criação Ficha </strong></label><br>
        <label>{{client.criacaoFicha | dateTimeFormatFilter: 'YYYY-MM-DD'}}</label>
      </div>
      <div class="p-col-12 " *ngIf="active !='HELPDESK'">
        <label for="notes"><strong>Notas sobre o cliente</strong></label><br>
        <textarea rows="6" [(ngModel)]="client.notes" style="width:100%;" readonly pInputTextarea></textarea>
      </div>
    </div>

    <div class="p-grid p-col-12 p-xl-4 p-lg-4 p-md-6">
      <app-view-header title="Morada" style="width:100%"></app-view-header>
      <div class="p-col-12 p-xl-12 p-lg-12 p-md-12">
        <label for="nif"><strong>Morada</strong></label><br>
        <label>{{client.address.address}}</label>
      </div>
      <div class="p-col-6 p-xl-6 p-lg-6 p-md-6">
        <label for="nif"><strong>Código Postal</strong></label><br>
        <label>{{client_postcode}}</label>
      </div>

      <div class="p-col-6 p-xl-6 p-lg-6 p-md-6">
        <label for="nif"><strong>Local</strong></label><br>
        <label>{{client.address.addressLocation}}</label>
      </div>

      <div class="p-col-12">
        <label for="email"><strong>Email</strong></label>
        <textarea id="email" rows="3" [(ngModel)]="client.contact.email" style="width:100%" readonly
          pInputTextarea></textarea>
      </div>
    </div>

    <div class="p-grid p-col-12 p-xl-4 p-lg-4 p-md-12">
      <app-view-header title="Contactos" style="width:100%"></app-view-header>


      <div class="p-col-6">
        <label for="name"><strong>Telefone 1</strong></label><br>
        <label>{{client.contact.phone1}}</label>
      </div>
      <div class="p-col-6">
        <label for="nif"><strong>Telefone 2</strong></label><br>
        <label>{{client.contact.phone2}}</label>
      </div>
      <div class="p-col-12">
        <label for="name"><strong>Telefone 3</strong></label><br>
        <label>{{client.contact.phone3}}</label>
      </div>

      <div class="p-col-12">
        <label for="nif"><strong>Outros Contactos</strong></label>
        <textarea rows="3" [(ngModel)]="client.contact.other" style="width:100%;" readonly pInputTextarea></textarea>
      </div>
    </div>

    <div class="p-grid p-col-12 p-xl-12 p-lg-12 p-md-12">
      <app-view-header title="Motivo 1º Contacto" style="width:100%"></app-view-header>
      <div class="p-col-12 p-xl-6 p-lg-6 p-md-6">
        <label ><strong>Motivo</strong></label><br>
        <label *ngIf="client.motivo != undefined && client.motivo != null && client.motivo.length > 0">{{client.motivo}}</label>
        <label *ngIf="client.motivo == undefined || client.motivo == null || client.motivo.length == 0">(sem dados)</label>
      </div>
      <div class="p-col-12 p-xl-6 p-lg-6 p-md-6">
        <label ><strong>Recomendado Por</strong></label><br>
        <label *ngIf="client.recomendadoPor != undefined && client.recomendadoPor != null && client.recomendadoPor.length > 0">{{client.recomendadoPor}}</label>
        <label *ngIf="client.recomendadoPor == undefined || client.recomendadoPor == null || client.recomendadoPor.length == 0">(sem dados)</label>
      </div>
    </div>
  </div>
</div>