<hr style="border:1px solid #ff9a00;margin-top:4px;margin-bottom: 4px; ">

<div class="ui-g">
    <div class="ui-g ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="text-align: right;width: 100%">
        <div class="ui-g-2 ui-xl-2 ui-lg-2 ui-md-2">
            <button pButton (click)="goHome()" icon="pi pi-home" pTooltip="Voltar ao Menu" tooltipPosition="bottom"
                style="background-color:#ff9a00;border:#ff9a00;margin-right: .25em;float:left"></button>
        </div>
        <div class="ui-g-10 ui-xl-6 ui-lg-6 ui-md-6">

            <div class="ui-inputgroup">
                <input type="text" pInputText placeholder="Pesquisa Rápida" (keyup.enter)="search()"
                    [(ngModel)]="toSearch" style="margin-right: 3em" style="width: 90%" />
                <button pButton (click)="search()" (keyup.enter)="search()" icon="pi pi-search"
                    style="display:table-cell;background-color: black; border-color:black;float:left"></button>
            </div>
        </div>
        <div class="ui-g-6 ui-xl-2 ui-lg-2 ui-md-2">

            <label style="margin-right: .25em;float:left">Bem vindo, {{ activeUser }}</label>
        </div>
        <div class="ui-g-6 ui-xl-2 ui-lg-2 ui-md-2">
            <button pButton (click)="doLogout()" icon="pi pi-sign-out" style="margin-left:.25em"
                tooltipPosition="bottom" style="background-color:#ff9a00;border:#ff9a00" pTooltip="Logout"></button>
        </div>

    </div>

</div>

<hr style="border:1px solid #ff9a00;margin-top:4px;margin-bottom: 4px; ">
<p-confirmDialog #cd header="Confirmação" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
        <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>

<router-outlet></router-outlet>