<div style="background-color: #ff9a00;">
  <i class="pi pi-info-circle" (click)="openHelp=!openHelp" style="float:right;font-size: 2em;color: white;"></i>
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Agendamentos"></app-header>
</div>
<div *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<br>
<br>
<div *ngIf="!loading">
  <div class="p-grid">
    <p-card header="Outro Evento" [style]="{'margin-right':'10px'}" styleClass="ui-card-shadow">
      <p-footer>
        <button pButton label="Criar e Agendar" (click)="scheduleNewEvent()"
          class="ui-button-rounded ui-button-secondary" style="display: block; margin: 0 auto;"></button>
      </p-footer>
    </p-card>
    <p-card *ngFor="let d of data" [style]="{color: 'orange', width:'15em'}"
      style="margin-right: 10px;margin-bottom:10px" styleClass="ui-card-shadow">
      <p-header>
        <div style="background-color:#333333;top:10px;right:10px;text-align: center;"
          *ngIf="d.installation == undefined">
          <strong>{{d.aditamento.contractId.contractNumber}}</strong>
        </div>
        <div style="background-color:#333333;top:10px;right:10px;text-align: center;"
          *ngIf="d.installation != undefined">
          <strong>&nbsp;</strong>
        </div>
      </p-header>
      <div style="color:black" *ngIf="d.installation != undefined">
        <div *ngFor="let clinic of d.installation.clinicList">
          <strong>Clínica:</strong> {{clinic.name}}
        </div>
        <!-- <strong>Postos: </strong>{{d.contract.qtyMainStations}} PP + {{d.contract.qtyAddStations}} PA<br> -->
      </div>
      <div style="color:black" *ngIf="d.installation == undefined">
        <strong>Clínica:</strong> {{d.aditamento.clinicId.name}}<br>
        <strong>Postos: </strong>{{d.aditamento.mainPostos}} PP + {{d.aditamento.addPostos}} PA<br>
      </div>
      <p-footer>
        <button pButton label="Agendar" (click)="schedule(d)" class="ui-button-rounded ui-button-secondary"
          style="display: block; margin: 0 auto;"></button>
      </p-footer>
    </p-card>
  </div>
  <br><br>
</div>

<p-dialog header="Ajuda" [modal]="true" [positionTop]="100" [(visible)]="openHelp"
  [style]="{'width':'70%', 'max-height':'400px'}">
  <div style="height:400px">

    Em contrução.<br>
    Aqui estará um guião para ajudar a agendar eventos.<br>
    --------------------------------------------------------------------------------------------------<br>
    Nesta página são listados instalações ou aditamentos que necessitam de ser agendados.<br>
    As cards com identificação do número de contrato são considerados aditamentos, normalmente apenas com postos adicionais.<br>
    Para o agendamento, é necessário indicar a data e atribuir a instalação a um ou vários utilizadores.<br>
    O agendamento de formações é opcional.
  </div>
</p-dialog>