<div *ngIf="afterCalculated" class="p-grid">
  <div class="p-col-12 p-lg-12 p-xl-12 p-md-12 p-sm-12"
    style="background-color: orange; box-shadow: 5px 10px #888888; margin-left: 10px">
    <strong>Atrasadas: </strong>{{nAtrasadas}}<br>
    <strong>Hoje: </strong>{{nHoje}}<br>
    <strong>Amanhã: </strong> {{nAmanha}}
  </div>
  <div class="p-col-12 p-lg-12 p-xl-12 p-md-12 p-sm-12">

  </div>
  <div class="p-col-12 p-lg-12 p-xl-12 p-md-12 p-sm-12">
  </div>
</div>