<p-confirmDialog key="deletecc" appendTo="body" #cd header="Confirmação" icon="pi pi-exclamation-triangle" baseZIndex="10000">
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>
<div class="p-grid">
  <div class="p-col-12 p-xl-2 p-lg-4 p-md-12 p-sm-12">
    <!-- editar nr de contrato -->
    <label for="status"><strong>Nº Contrato</strong></label><br>
    <input type="text" pInputText [(ngModel)]="contract.contractNumber"
      style="background-color:white;color:black" /><br>
      <button pButton type="button" icon="pi pi-plus" class="ui-button-rounded ui-button-secondary"
            (click)="renovarContract()" style="float: left;position: relative;z-index: 5;
            font-size:0.8em;top:15px;color:white;background-color:#333333;border:#333333" pTooltip="Renovar Contrato"></button>

  </div>
  <div class="p-col-12 p-xl-10 p-lg-8 p-md-12 p-sm-12">
    <!-- editar notas -->
    <label><strong>Notas</strong></label><br>
    <textarea rows="3" [(ngModel)]="contract.notes" style="width:100%;color:black" pInputTextarea></textarea>

  </div>
</div>

<br>

<!-- QUANDO QUER EDITAR AS DIVIDAS -->
<p-table *ngIf="editDebt" [columns]="changecolsA" [value]="changes" [paginator]="true" [rows]="5"
  dataKey="changeDatadoc" sortField="changeDatadoc" sortOrder="-1">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        <div *ngIf=" col.header!= 'Dívida'">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </div>
      </th>
      <th style="width: 5em">
        Dívida
      </th>
      <th style="width: 5em">
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <!-- <td *ngFor="let col of columns">
        <p *ngIf="col.header=='Data' || col.header=='Até'">
          {{rowData[col.field] | dateTimeFormatFilter: 'YYYY-MM-DD'}}</p>
        <p *ngIf="col.header!='Data' && col.header!='Até'">{{rowData[col.field]}}</p>
      </td> -->
      <!-- Data -->
      <td pEditableColumn style="text-align:center;">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-calendar [(ngModel)]="rowData.changeDatadoc" appendTo="body" dateFormat="yy-mm-dd"
              [style]="{'width':'100%'}" [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2025">
            </p-calendar>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.changeDatadoc | dateTimeFormatFilter: 'YYYY-MM-DD'}}
          </ng-template>
        </p-cellEditor>
      </td>
      <!-- Codigo -->
      <td pEditableColumn style="text-align:center;">
        {{rowData.changeCode}}
      </td>
      <!-- descricao  -->
      <td pEditableColumn style="text-align:center;">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown appendTo="body" [options]="codes" editable="true" placeholder="Descrição" optionLabel="descr"
              [style]="{'width':'100%'}" (onChange)="changeCodeMethod($event, rowData, i)" [(ngModel)]="rowData.changeDescr"[showClear]="true"
              filter="true"></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.changeDescr}}
          </ng-template>
        </p-cellEditor>
      </td>
      <!-- ate -->
      <td pEditableColumn style="text-align:center;">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-calendar [(ngModel)]="rowData.changeDate" appendTo="body" dateFormat="yy-mm-dd"
              [style]="{'width':'100%'}" [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2025">
            </p-calendar>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.changeDate | dateTimeFormatFilter: 'YYYY-MM-DD'}}
          </ng-template>
        </p-cellEditor>
      </td>
      <!-- divida -->
      <td pEditableColumn style="text-align:center;">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-checkbox [ngModel]="value(rowData, 'input')" (onChange)="value2($event, rowData)" binary="true">
            </p-checkbox>
          </ng-template>
          <ng-template pTemplate="output">
            <p-checkbox [ngModel]="value(rowData, 'output')" binary="true" disabled></p-checkbox>
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="text-align:center;">
        <button pButton (click)="deleteContractChange(rowData)" icon="pi pi-trash"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- QUANDO QUER ADICIONAR NOVA LINHA-->
<p-table *ngIf="newContract" [columns]="changecolsB" [value]="changes" [paginator]="true" [rows]="5"
  sortField="changeDatadoc" sortOrder="-1">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
          ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
        </p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-i="rowIndex" let-columns="columns">
    <tr>

      <!-- DATA -->
      <td *ngIf="i >= totaladded">
        {{rowData.changeDatadoc | dateTimeFormatFilter: 'YYYY-MM-DD'}}
      </td>

      <td pEditableColumn *ngIf="i < totaladded">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-calendar [(ngModel)]="rowData.changeDatadoc" appendTo="body" dateFormat="yy-mm-dd"
              [style]="{'width':'100%'}" [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2025">
            </p-calendar>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.changeDatadoc | dateTimeFormatFilter: 'YYYY-MM-DD'}}
          </ng-template>
        </p-cellEditor>
      </td>

      <!-- CÓDIGO -->
      <td>
        {{rowData.changeCode}}
      </td>

      <!-- DESCR -->
      <td pEditableColumn *ngIf="i < totaladded">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown appendTo="body" [options]="codes" editable="true" placeholder="Descrição" (onChange)="changeCodeMethod($event, rowData, i)" [(ngModel)]="changeDescr" optionLabel="descr"
              [style]="{'width':'100%'}"  [showClear]="true"
              filter="true"></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.changeDescr}}
          </ng-template>
        </p-cellEditor>
      </td>

      <td *ngIf="i >= totaladded">
        {{rowData.changeDescr}}
      </td>

      <!-- ATÉ -->
      <td pEditableColumn *ngIf="i < totaladded">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-calendar [(ngModel)]="rowData.changeDate" appendTo="body" dateFormat="yy-mm-dd"
              [style]="{'width':'100%'}" [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2025">
            </p-calendar>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.changeDate | dateTimeFormatFilter: 'YYYY-MM-DD'}}
          </ng-template>
        </p-cellEditor>
      </td>

      <td *ngIf="i >= totaladded">
        {{rowData.changeDate | dateTimeFormatFilter: 'YYYY-MM-DD'}}
      </td>
    </tr>
  </ng-template>
</p-table>

<br>
<button pButton type="button" label="Gravar" class="ui-button-rounded ui-button-success"
  (click)="saveStatusChanges()"></button>
<!-- <button pButton type="button" label="Reverter" class="ui-button-rounded ui-button-secondary"
  (click)="revertChanges()"></button> -->

  
