<div *ngIf="detail.divida != null && detail.divida.codenr == 6">
  <br>
  <app-view-header title="Fechou!"></app-view-header>
</div>

<div *ngIf="detail.divida != null && detail.divida.codenr == 7">
  <br>
  <app-view-header title="Cancelou Aluguer!"></app-view-header>
  <br>
</div>

<div *ngIf="detail.divida != null && detail.divida.codenr == 8">
  <br>
  <app-view-header title="Mudou de Software"></app-view-header>
  <br>
</div>

<div *ngIf="detail.divida != null && detail.divida.codenr == 6.5">
  <app-view-header title="Potencial Cliente (?)"></app-view-header>
</div>

<!-- PRIMEIRA LINHA IGUAL PARA OS DOIS -->
<div class="p-grid"
  *ngIf="detail.divida != null && ((!detail.divida.fechou && (user=='HELPDESK'|| user=='ADMINISTRATIVE' || user=='COMERCIAL' || user=='ADMIN')) || (detail.divida.fechou && (user=='ADMINISTRATIVE'|| user=='COMERCIAL'  || user=='ADMIN'))) && detail.divida.codenr != 6.5">
  <div class="p-col-12 p-xl-3 p-lg-3 p-md-4">
    <label for="nif"><strong>Status</strong></label><br>
    <input type="text" pInputText [(ngModel)]="detail.divida.code" style="background-color:white;color:black"
      readonly />
  </div>
  <div class="p-col-12 p-xl-3 p-lg-3 p-md-4">
    <label for="status"><strong>Cliente desde</strong></label><br>
    <input type="text" pInputText [ngModel]="clinic.clientSince | dateTimeFormatFilter:'YYYY-MM-DD'"
      style="background-color:white;color:black" readonly />
  </div>
  <div class="p-col-12 p-xl-3 p-lg-3 p-md-4">
    <label for="status"><strong>Nº Contrato</strong></label><br>
    <input type="text" pInputText [(ngModel)]="detail.contract.contractNumber"
      style="background-color:white;color:black" readonly />
  </div>

</div>

<!-- CONTRATOS DE MANUTENÇÃO: CM ATÉ, AVL ATÉ, CM DIVIDA, CM DEVOLVIDO, AVL DEVOLVIDO -->
<div class="p-grid"
  *ngIf="detail.divida != null && ((!detail.divida.fechou && (user=='HELPDESK'||user=='ADMINISTRATIVE' || user=='COMERCIAL' || user=='ADMIN')) || (detail.divida.fechou && (user=='ADMINISTRATIVE' || user=='COMERCIAL'  || user=='ADMIN'))) && detail.divida.codenr != 6.5">
  <div class="p-col-12 p-xl-3 p-lg-3 p-md-4" *ngIf="detail.divida.codenr != 9 && detail.divida.codenr != 7">
    <label for="nif"><strong>CM até</strong></label><br>
    <input *ngIf="cmdocate < today"  type="text" pInputText
      [ngModel]="detail.divida.cmdocate | dateTimeFormatFilter:'YYYY-MM-DD'" style="background-color:white;color:red"
      readonly />
    <input type="text" *ngIf="cmdocate >= today"  pInputText
      [ngModel]="detail.divida.cmdocate | dateTimeFormatFilter:'YYYY-MM-DD'" style="background-color:white;color:black"
      readonly />
  </div>
  <div class="p-col-12 p-xl-3 p-lg-3 p-md-4" *ngIf="detail.divida.codenr != 9 && detail.divida.codenr != 7">
    <label for="nif"><strong>CM Devolvido</strong></label><br>
    <input type="text" *ngIf="detail.divida.cmdev != 'Sim'" pInputText [(ngModel)]="detail.divida.cmdocdev"
      style="background-color:white;color:red" readonly />
    <input type="text" *ngIf="detail.divida.cmdev == 'Sim'" pInputText [(ngModel)]="detail.divida.cmdev"
      style="background-color:white;color:black" readonly />
  </div>

  <div class="p-col-12 p-xl-3 p-lg-3 p-md-4" *ngIf="detail.divida.codenr!= 7 && detail.divida.codenr != 9">
    <label for="nif"><strong>AVL Devolvido</strong></label><br>
    <input type="text" *ngIf="detail.divida.avldev == 'Não'" pInputText [(ngModel)]="detail.divida.avldocdev"
      style="background-color:white;color:red" readonly />
    <input type="text" *ngIf="detail.divida.avldev != 'Não'" pInputText [(ngModel)]="detail.divida.avldev"
      style="background-color:white;color:black" readonly />
  </div>
  <div class="p-col-12 p-xl-3 p-lg-3 p-md-4"
    *ngIf="detail.divida.codenr != 9 && detail.divida.codenr != 7 && detail.divida.codenr != 10">
    <label for="nif"><strong>Pagamento em dívida </strong></label><br>
    <input type="text" *ngIf="detail.divida.debttime == 'Não'" pInputText [(ngModel)]="detail.divida.debttime"
      style="background-color:white;color:black" readonly />
    <input type="text" *ngIf="detail.divida.debttime != 'Não'" pInputText [(ngModel)]="detail.divida.debttime"
      style="background-color:white;color:red" readonly />
  </div>
</div>

<!-- ALUGUERES: CAL ATÉ, CAL DEVOLVIDO, DIVIDA -->
<div class="p-grid" *ngIf="detail.divida != null && ((!detail.divida.fechou && (user=='HELPDESK'||user=='ADMINISTRATIVE' || user=='COMERCIAL' || user=='ADMIN')) || (detail.divida.fechou && (user=='ADMINISTRATIVE' || user=='COMERCIAL' 
  || user=='ADMIN'))) && detail.divida.codenr != 6.5">
  <div class="p-col-12 p-xl-3 p-lg-3 p-md-4" *ngIf="detail.divida.codenr==9 || detail.divida.codenr==7"
    style="background-color: white">
    <label for="nif"><strong>CAL até</strong></label><br>
    <input type="text" *ngIf="cmdocate < today" pInputText
      [ngModel]="detail.divida.cmdocate | dateTimeFormatFilter:'YYYY-MM-DD'" style="background-color:white;color:red"
      readonly />
    <input type="text" *ngIf="cmdocate >= today" pInputText
      [ngModel]="detail.divida.cmdocate | dateTimeFormatFilter:'YYYY-MM-DD'" style="background-color:white;color:black"
      readonly />
      <!-- <input type="text"  pInputText
      [ngModel]="detail.divida.cmdocate | dateTimeFormatFilter:'YYYY-MM-DD'" style="background-color:white;color:blue"
      readonly /> -->

  </div>
  <div class="p-col-12 p-xl-3 p-lg-3 p-md-4" *ngIf="detail.divida.codenr == 9 || detail.divida.codenr==7">
    <label for="nif"><strong>CAL Devolvido</strong></label><br>
    <input type="text" *ngIf="detail.divida.avldev == 'Não'" pInputText [(ngModel)]="detail.divida.avldocdev"
      style="background-color:white;color:red" readonly />
    <input type="text" *ngIf="detail.divida.avldev!= 'Não'" pInputText [(ngModel)]="detail.divida.avldev"
      style="background-color:white;color:black" readonly />
  </div>

  <div class="p-col-12 p-xl-3 p-lg-3 p-md-4"
    *ngIf="detail.divida.codenr != 5 && detail.divida.codenr != 10 && (detail.divida.codenr == 9 || detail.divida.codenr==7)">
    <label for="nif"><strong>Pagamento em dívida</strong></label><br>
    <input type="text" *ngIf="detail.divida.debttime == 'Não'" pInputText [(ngModel)]="detail.divida.debttime"
      style="background-color:white;color:black" readonly />
    <input type="text" *ngIf="detail.divida.debttime != 'Não'" pInputText [(ngModel)]="detail.divida.debttime"
      style="background-color:white;color:red" readonly />
  </div>
</div>

<div *ngIf="detail.divida == null">
  Não há dados a apresentar sobre o contrato e histórico de contratos.<br> Foi criado como
  {{detail.contract.contractType}}
</div>

<br>

<app-contractchanges-view
  *ngIf="detail.divida != null && detail.divida.codenr != 6.5 && (user=='ADMINISTRATIVE' || user=='COMERCIAL' || user=='ADMIN')"
  [contract2]="detail.contract">
</app-contractchanges-view>