<div style="background-color: #ff9a00;">
  <i class="pi pi-info-circle" (click)="openHelp=!openHelp" style="float:right;font-size: 2em;color: white;"></i>
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Realizar Instalação"></app-header>
</div>

<div *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false" styleClass="steps-custom"></p-steps>

<div *ngIf="!loading" style="min-height: 350px;background-color:white">
  <!-- <div *ngIf="activeIndex == 0"><br>
    <app-view-header title="Dados do Contrato"></app-view-header>
    <div *ngIf="contractLoaded">
      <strong>Tipo de contrato:</strong> {{contract.contractType}}<br>
      <strong>Postos Principais:</strong>{{contract.qtyMainStations}}<br>
      <strong>Postos Adicionais:</strong>{{contract.qtyAddStations}}<br>
    </div>
  </div> -->

  <div *ngIf="activeIndex == 0">
    <app-view-header title="Dados do Cliente"></app-view-header>
    <app-client-view #client *ngIf="clientLoaded" [client]="cli"></app-client-view>
  </div>

  <div *ngIf="activeIndex == 1">
    <app-view-header title="Clínica"></app-view-header>
    <app-clinics-card-view #cliniclst [clinicList]="[aditamento.clinicId]" [aditamento]="aditamento">
    </app-clinics-card-view>
  </div>

  <div *ngIf="activeIndex == 2">
    <app-view-header title="Dados da instalação"></app-view-header>
    <app-edit-installation #editinst [installation]="installation" viewOnly="true" editAccess="true">
    </app-edit-installation>
  </div>

</div>

<div>
  <br>
  <div class="form-group">
    <button (click)="save()" class="btn btn-primary">Guardar</button>

    <button (click)="openDialog=true;" class="btn btn-primary" style="margin-left:20px">Concluir instalação</button>
  </div>

  <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false" styleClass="steps-custom"></p-steps>
  <br>

</div>

<p-dialog #cd header="Confirmação" icon="pi pi-exclamation-triangle" *ngIf="!loading" [(visible)]="openDialog">

  <strong>Está prestes a concluir a instalação. Indique 0 se instalou todos os postos ou a quantidade de postos que faltam instalar</strong>
  <br><br>
  Faltam <input type="number" [pKeyFilter]="numbReg" [max]="aditamento.pendente" id="name" 
  pInputText min="0" size="2" [(ngModel)]="pendente" /> de {{aditamento.pendente}} postos

  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Confirmar" (click)="finishAD()"></button>
    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="reject()"></button>
  </p-footer>
</p-dialog>