<div style="background-color: #ff9a00;">
    <i class="pi pi-info-circle" (click)="openHelp=!openHelp" style="float:right;font-size: 2em;color: white;"></i>
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Aditamento"></app-header>
</div>
<div *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<div *ngIf="!loading">
  <p-accordion [multiple]="true">
    <p-accordionTab header="Cliente">
      <app-client-view [(client)]="client"></app-client-view>
    </p-accordionTab>

    <p-accordionTab header="Contrato" [selected]="true">

      <div class="ui-g" style="background-color: white">

        <div class="ui-g-12 ui-xl-6 ui-lg-6 ui-md-6">
          <app-view-header title="Contrato"></app-view-header>

          <label *ngIf="contractsLoaded" for="email"> Nº Contrato </label><br>

          <p-dropdown *ngIf="contractsLoaded" [options]="contracts" placeholder="Contrato"
            [(ngModel)]="selectedContract" optionLabel="contractNumber"
            (onChange)="findInstallationsOfSelectedContract()" [style]="{'max-width': '100%'}">
          </p-dropdown><br>

          <label for="pa"> Proposta </label><br>
          <input type="text" pInputText id="proposta" [(ngModel)]="aditamento.proposta" /><br>
        </div>

        <div class="ui-g-12 ui-xl-6 ui-lg-6 ui-md-6">
          <app-view-header title="Postos"></app-view-header>
          <label for="pp" > Postos Principais </label><br>
          <input type="number" min="0" pInputText [pKeyFilter]="numbReg" id="aditpp"
            [(ngModel)]="aditamento.mainPostos" />
          <button pButton id="qtyInst" type="button" label="Criar" *ngIf="aditamento.mainPostos >= 1"
            (click)="createInstallations()" style="margin-left:10px"></button><br>
          <label for="pa"> Postos Adicionais </label><br>
          <input type="number" min="0" pInputText [pKeyFilter]="numbReg" id="aditpa"
            [(ngModel)]="aditamento.addPostos" /><br>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Instalações e Clínicas" [selected]="true">
      <button pButton *ngIf="selectedInstallation != undefined && selectedInstallation.installationId==undefined"
        icon="pi pi-minus" label="Remover" class="ui-button-rounded ui-button-secondary" (click)="removeInstallation()"
        style="float: right;"></button>
      <button *ngIf="selectedInstallation != undefined" pButton type="button" icon="pi pi-plus"
        class="ui-button-rounded ui-button-secondary" (click)="associateClinicToInstallation()" label="Associar"
        style="float: right;"></button>
      <button *ngIf="selectedInstallation != undefined" pButton type="button" icon="pi pi-plus"
        class="ui-button-rounded ui-button-secondary" (click)="addClinic()" label="Nova Clínica"
        style="float: right;"></button>
      <div class="p-grid">
        <div class="p-col-12 p-xl-8 p-lg-8 p-md-10 p-sm-10" *ngIf=" installationsLoaded">
          <label for="i"><strong>Escolher instalação</strong></label><br>
          <p-dropdown [options]="installations" placeholder="Instalação" [(ngModel)]="selectedInstallation"
            optionLabel="installationName" [showClear]="true" [style]="{'max-width': '100%'}"></p-dropdown><br><br>
        </div>
      </div>

      <div *ngIf="selectedInstallation != undefined">
        <div class="p-grid">
          <p-card *ngFor="let clinic of selectedInstallation.clinicList" header="Clínica"
            [style]="{color: 'orange', width:'auto'}" style="margin-right: 10px" styleClass="ui-card-shadow"
            (click)="selectClinic(clinic)">
            <!-- <p-header>
              <div style="float:right;padding-top:15px;padding-right:15px">
                <p-checkbox [(ngModel)]="checked" binary="true" pTooltip="Quero fazer o aditamento a esta clínica">
                </p-checkbox>
              </div>
            </p-header> -->
            <p-footer>
              <div>

                <div class="form-group">
                  <label for="nif"><strong>Nome</strong></label>
                  <div class="ui-inputgroup">
                    <!-- (focus)="clearBtnColor()" -->
                    <input type="text" id="nif" pInputText [(ngModel)]="clinic.name" class="form-control"
                      *ngIf="clinic.clinicId == undefined" />
                    <input type="text" id="nif" pInputText [(ngModel)]="clinic.name" class="form-control" readonly
                      *ngIf="clinic.clinicId != undefined" />
                    <!-- <button *ngIf="clinic.clinicId == undefined && selectedClinic1==clinic" pButton id="CLIcheck"
                      type="button" [icon]="iconCLI" [style.background-color]="hexColorCLI"
                      [style.border-color]="hexColorCLI" (click)="checkClinicName(clinic)"></button>
                    <button *ngIf=" clinic.clinicId == undefined && selectedClinic1!=clinic" pButton id="CLIcheck"
                      type="button" icon="pi pi-question" style.background-color="grey" style.border-color="grey"
                      (click)="checkClinicName(clinic)"></button> -->
                  </div>
                  <label for="nif" *ngIf="aditamento.mainPostos > 0"><strong>Postos Principais</strong></label><br>
                  <input type="number" min="0" id="pmain" [(ngModel)]="clinic.mainPostos" pInputText
                    style="width:100%" *ngIf="aditamento.mainPostos > 0"/>
                  <label for="nif"><strong>Postos Adicionais</strong></label><br>
                  <input type="number" min="0" id="padd" [(ngModel)]="clinic.addPostos" pInputText style="width:100%" />
                </div>
                <label for="notes"><strong>Notas</strong></label><br>
                <textarea rows="5" cols="32" [(ngModel)]="clinic.notes" pInputTextarea></textarea>
                <br>
                <label for="nif" *ngIf="clinic.clinicId == undefined"><strong>Contactos</strong></label>
                <div class="form-group" *ngIf="clinic.clinicId == undefined">
                  <button pButton (click)="addContact(clinic)" icon="pi pi-pencil"></button>
                  <button pButton label="Copiar Dados" class="ui-button-rounded ui-button-secondary"
                    (click)="keepClientContact(clinic)"></button>

                </div>
                <label for="nif" *ngIf="clinic.clinicId == undefined"><strong>Morada</strong></label>
                <div class="form-group" *ngIf="clinic.clinicId == undefined">
                  <button pButton (click)="addAddress(clinic)" icon="pi pi-pencil"></button>
                  <button pButton label="Copiar Dados" class="ui-button-rounded ui-button-secondary"
                    (click)="keepClientAddress(clinic)"></button>

                </div>
                <button pButton *ngIf="clinic.clinicId == undefined" (click)="removeClinic(clinic)"
                  icon="pi pi-trash"></button>
              </div>
            </p-footer>
          </p-card>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
<p-dialog header="Novo Contacto" [(visible)]="displayContactDialog" [responsive]="true" [blockScroll]="true"
  showEffect="fade" [modal]="true">
  <div class="ui-g" *ngIf="selectedClinic && showContact">
    <div class="ui-g" style="margin-bottom:10px">
      <div class="p-grid">

        <div class="form-group p-col-12 p-xl-3 p-lg-3 p-md-3 p-sm-6">
          <label for="phone1">Telefone</label>
          <input type="text" id="phone1" [(ngModel)]="selectedClinic.contact.phone1" pInputText class="form-control" />
        </div>
        <div class="form-group p-col-12 p-xl-3 p-lg-3 p-md-3 p-sm-6">
          <label for="phone2">Telefone 2</label>
          <input type="text" id="phone2" [(ngModel)]="selectedClinic.contact.phone2" pInputText class="form-control" />
        </div>
        <div class="form-group p-col-12 p-xl-3 p-lg-3 p-md-3 p-sm-6">
          <label for="phone3">Telefone 3</label>
          <input type="text" id="phone3" [(ngModel)]="selectedClinic.contact.phone3" pInputText class="form-control" />
        </div>
        <div class="form-group p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
          <label for="email">Email</label>
          <input type="text" [(ngModel)]="selectedClinic.contact.email" id="notes" pInputText class="form-control" />
        </div>
        <div class="form-group p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
          <label for="other">Outro</label>
          <input type="text" id="other" [(ngModel)]="selectedClinic.contact.other" pInputText class="form-control" />
        </div>

      </div>
    </div>

  </div>
  <div>
    <button pButton label="Guardar" (click)="onContactDialogHide()"></button>
  </div>
</p-dialog>

<p-dialog header="Nova Morada" [(visible)]="displayAddressDialog" [responsive]="true" [blockScroll]="true"
  showEffect="fade" [modal]="true" [contentStyle]="{'max-height':'auto'}">
  <div class="ui-g" *ngIf="selectedClinic && showAddress">
    <div class="ui-g" style="margin-bottom:10px">
      <div class="p-grid">
        <div class="form-group p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
          <label for="address">Morada</label>
          <input type="text" id="address" [(ngModel)]="selectedClinic.address.address" pInputText
            class="form-control" />
        </div>
        <div class="form-group p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">

          <label for="nif">Código Postal</label>
          <div class="p-grid">
            <div class="p-col-6 p-xl-6 p-lg-6 p-md-6 p-sm-6">
              <input type="text" id="pc1" pInputText [(ngModel)]="selectedClinic.address.postcode1"
                class="form-control" />
            </div>
            <div class="p-col-6 p-xl-6 p-lg-6 p-md-6 p-sm-6">
              <input type="text" id="pc2" pInputText [(ngModel)]="selectedClinic.address.postcode2"
                class="form-control" />
            </div>
          </div>

        </div>
        <div class="form-group p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
          <label for="location">Localização</label>
          <input type="text" id="location" pInputText class="form-control"
            [(ngModel)]="selectedClinic.address.addressLocation" />
        </div>
      </div>
    </div>
  </div>
  <button pButton label="Guardar" (click)="onAddressDialogHide()"></button><br>
</p-dialog>
<br>
<div class="form-group">
  <button (click)="save()" class="btn btn-primary">Guardar</button>
  <a routerLink="/home" class="btn btn-link">Cancelar</a>
</div>

<p-confirmDialog #cd header="Confirmação" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>

<div *ngIf="associatePlease">
  <p-dialog header="Escolha um Potencial Cliente" [positionTop]="100" [(visible)]="associatePlease"
    [style]="{'width':'70%', 'max-height':'200px'}">
    <p-dropdown *ngIf="!clinicLoading" [options]="clinics" [(ngModel)]="selectedClinic"
      placeholder="Selecionar uma Clínica" optionLabel="name" filter="true" [style]="{'width':'100%'}"
      [showClear]="true" (onChange)="event($event)"></p-dropdown>

    <div *ngIf="selectedClinic == undefined">
      <br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <div *ngIf="selectedClinic != undefined">
      <br>
      <div class="p-grid">

        <div class="p-col-8 p-grid">

          <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
            <label for="name"><strong>Nome</strong></label><br>
            <input type="text" id="name" pInputText style="width:100%" [(ngModel)]="selectedClinic.name" />
          </div>

          <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
            <label for="email"><strong>Email</strong></label><br>
            <input type="text" [(ngModel)]="selectedClinic.contact.email" id="notes" pInputText style="width:100%" />
          </div>

          <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
            <label for="address"><strong>Morada</strong></label><br>
            <input type="text" id="address" [(ngModel)]="selectedClinic.address.address" style="width:100%"
              pInputText />
          </div>
          <div class="p-col-12 p-xl-4 p-lg-12 p-md-12 p-sm-12">
            <label for="nif"><strong>Código Postal</strong></label><br>
            <input type="text" id="cod1" pInputText [(ngModel)]="selectedClinic.address.postcode1" style="width:100%" />
          </div>
          <div class="p-col-12 p-xl-4 p-lg-12 p-md-12 p-sm-12">
            <label for="nif"><strong>-</strong></label><br>
            <input type="text" id="cod2" pInputText [(ngModel)]="selectedClinic.address.postcode2" style="width:100%" />
          </div>
          <div class="p-col-12 p-xl-4 p-lg-12 p-md-12 p-sm-12">
            <label for="location"><strong>Localização</strong></label>
            <input type="text" id="location" pInputText [(ngModel)]="selectedClinic.address.addressLocation"
              style="width:100%" />
          </div>

          <div class="p-col-12 p-xl-4 p-lg-12 p-md-12 p-sm-12">
            <label for="phone1"><strong>Telefone</strong></label><br>
            <input type="text" id="phone1" [(ngModel)]="selectedClinic.contact.phone1" pInputText style="width:100%" />
          </div>
          <div class="p-col-12 p-xl-4 p-lg-12 p-md-12 p-sm-12">
            <label for="phone2"><strong>Telefone 2</strong></label><br>
            <input type="text" id="phone2" [(ngModel)]="selectedClinic.contact.phone2" pInputText style="width:100%" />
          </div>
          <div class=" p-col-12 p-xl-4 p-lg-12 p-md-12 p-sm-12">
            <label for="phone3"><strong>Telefone 3</strong></label><br>
            <input type="text" id="phone3" [(ngModel)]="selectedClinic.contact.phone3" pInputText style="width:100%" />
          </div>

          <hr>
        </div>

        <div class="p-col-4">
          <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
            <label for="notes"><strong>Notas</strong></label><br>
            <textarea rows="6" cols="32" [(ngModel)]="selectedClinic.notes" style="width:100%"
              pInputTextarea></textarea>
          </div>
          <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
            <label for="other"><strong>Outros contactos</strong></label><br>
            <textarea rows="6" cols="32" [(ngModel)]="selectedClinic.contact.other" style="width:100%"
              pInputTextarea></textarea>
          </div>
          <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
            <button (click)="associate()" class="btn btn-primary">Associar esta clínica</button>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
</div>

<p-dialog header="Confirmação" [modal]="true" [positionTop]="100" [(visible)]="confirmPlease"
  [style]="{'width':'70%', 'max-height':'200px'}">
  <p *ngFor="let r of resumo" [ngSwitch]="r[0]">
    <strong *ngSwitchCase="0">{{r[1]}}</strong>
    <strong *ngSwitchCase="1" style="margin-left: 10px;">Instalação {{r[1].installationName}}</strong>
    <label *ngSwitchCase="2" style="margin-left: 20px;">{{r[1].mainPostos}} PP + {{r[1].addPostos}} PA |
      {{r[1].name}}</label>
  </p>
  <br>
  <br>
  <div style="text-align: center;">
    <button type="button" pButton icon="pi pi-check" label="Confirmar" (click)="confirmSave()"></button>
    <button type="button" pButton class="ui-button-secondary" style="margin-left:30px"
      icon="pi pi-times" label="Cancelar" (click)="confirmPlease=false"></button>
  </div>
</p-dialog>

<p-confirmDialog #di key="deleteinst" header="Confirmação" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="di.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="di.reject()"></button>
  </p-footer>
</p-confirmDialog>

<p-dialog header="Ajuda" [modal]="true" [positionTop]="100" [(visible)]="openHelp"
    [style]="{'width':'70%', 'max-height':'400px'}">
    <div style="height:400px">

        Em contrução.<br>
        Aqui estará um guião para ajudar a registar um aditamento.<br>
        --------------------------------------------------------------------------------------------------<br>
        Deve selecionar um contrato e preencher o nº da proposta.<br>
        Indicar o número de postos principais e adicionais no total.<br>
        Se for necessário criar pelo menos um posto principal, deve indicar o número e carregar em "Criar". 
        As novas instalações aparecerão na lista.<br>
        Todas as clínicas estão com os postos a 0, deve escrever o número de postos a adicionar/instalar.<br>
        Também é possível criar/associar novas clínicas. Nesse caso, deve preencher toda a informação da clínica (nome, telefone/email, morada/localização).<br>
    </div>
</p-dialog>