<div class="p-grid">
    <div class="p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
      <app-view-header title="Data e Hora"></app-view-header>
      <label for="name"><strong>Data</strong></label><br>
      <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2025" appendTo="body" [(ngModel)]="training.trainingDate" dateFormat="yy-mm-dd" [showTime]="true"
       >
      </p-calendar>
      <br>
      <label for="name"><strong>Notas</strong></label><br>
      <textarea rows="6" cols="32" [(ngModel)]="training.notes" pInputTextarea style="width: 100%"></textarea>
    </div>
    <div class=" p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
      <app-view-header title="Utilizadores"></app-view-header>
      <div class="item" class="content-box">
        <p-checkbox class="ui-g-6 ui-md-6 ui-lg-4" *ngFor="let user of trainingUsers;let i" name="group1"
          [value]="user" label="{{user.username}}" [(ngModel)]="valuesT" inputId="{{user.username}}">
        </p-checkbox>
      </div>
    </div>
  </div>