<div style="background-color: #ff9a00;">
    <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
        style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
    <app-header title="Ativações Pem"></app-header>
</div>
<div *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<eco-fab-speed-dial ngDraggable #myFab [direction]="direction" [animationMode]="animationMode" [fixed]="fixed"
    (mouseenter)="myFab.open = true" style="position:fixed;  z-index: 1; opacity: 0.7;
      top: 15%;
      right: 5%;">

    <eco-fab-speed-dial-trigger [spin]="spin">
        <button mat-fab>
            <!-- style="background-color: #ff9a00" -->
            <mat-icon class="spin360">check</mat-icon>
        </button>
    </eco-fab-speed-dial-trigger>

    <eco-fab-speed-dial-actions *ngIf="selectedParentNode != undefined && selectedChildNode == undefined">
        <button mat-mini-fab (click)="seeInstallation()" matTooltip="Ver Detalhes" matTooltipPosition="before">
            <mat-icon>remove_red_eye</mat-icon>
        </button>
        <button mat-mini-fab (click)="editInstallation()" matTooltip="Editar" matTooltipPosition="before">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab (click)="addInstallationPemActivation2()" matTooltip="Nova ativação"
            matTooltipPosition="before">
            <mat-icon>add</mat-icon>
        </button>
    </eco-fab-speed-dial-actions>

    <eco-fab-speed-dial-actions *ngIf="selectedParentNode == undefined && selectedChildNode == undefined">
        <button mat-mini-fab (click)="addInstallationPemActivation1()" matTooltip="Nova ativação"
            matTooltipPosition="before">
            <mat-icon>add</mat-icon>
        </button>
    </eco-fab-speed-dial-actions>

    <eco-fab-speed-dial-actions *ngIf="selectedChildNode != undefined">
        <button mat-mini-fab (click)="seePem()" matTooltip="Ver Detalhes" matTooltipPosition="before">
            <mat-icon>remove_red_eye</mat-icon>
        </button>
        <button mat-mini-fab (click)="editPemSlider()" matTooltip="Editar" matTooltipPosition="before">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab (click)="deletePemSlider()" matTooltip="Apagar" matTooltipPosition="before">
            <mat-icon>delete</mat-icon>
        </button>
    </eco-fab-speed-dial-actions>

</eco-fab-speed-dial>

<div *ngIf="!loading">
    <p-treeTable #tt [value]="data" [paginator]="true" [selection]="selectedNodes" [rows]="10" selectionMode="checkbox"
        [metaKeySelection]="false" (onNodeSelect)="select($event)" (onNodeUnselect)="unselect($event)">
        <ng-template pTemplate="caption">
            <div class="ui-g">
                <div class="ui-g-2 ui-md-2 ui-lg-2 filter-container">
                    <!-- <div class="ui-g-12" style="text-align: left;display:table">
                        <button pButton type="button" lable="Click" class="ui-button-rounded ui-button-secondary"
                            icon="pi pi-undo" (click)="refresh()"></button>
                    </div> -->
                </div>

                <div class="ui-g-8 ui-md-8 ui-lg-6 filter-container">
                    <div class="ui-g-12" style="text-align: right;display:table">
                        <input type="text" pInputText (keyup.enter)="search()" placeholder="Procurar"
                            [(ngModel)]="toSearch" style="display:table-cell; width:100%">
                    </div>
                </div>

                <div class="ui-g-2 ui-md-2 ui-lg-2 filter-container">
                    <div class="ui-g-12" style="text-align: left;display:table">
                        <button pButton (click)="search()" (keyup.enter)="search()" icon="pi pi-search"
                            style="display:table-cell;background-color: black; border-color:black"></button>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-12 ui-lg-2 filter-container">
                    <div class="ui-g-12" style="text-align: right">
                        <p>Selecionados: [{{selectedNodes.length}}] </p>
                        <p *ngIf="!tt.filteredNodes">Total: [{{allCodPresc}}] </p>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                    <th style="width: 1%" pTooltip="Ativa/Não ativa" tooltipPosition="bottom"></th>
                <th style="width: 3em"  pTooltip="Selecionar para alterar" tooltipPosition="bottom"></th>
                <th style="width: 48%">Nome<br><input pInputText type="text"
                        (input)="tt.filter($event.target.value, 'installationName', 'contains')" style="width:100%">
                </th>
                <th class="priority-3">Max Users</th>
                <th class="priority-3">Act Inicio</th>
                <th class="priority-3">Act Fim</th>
                <th class="priority-3">Cód Receitas</th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-i="rowIndex">
            <!-- é parent-->
            <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode" *ngIf="rowData.maxusers == undefined"
                (click)="doSelectParentNode(rowData)">

                <td></td>
                <td></td>
                <td>
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    <label>{{rowData.installationName}}</label>
                </td>
                <td class="priority-3"></td>
                <td class="priority-3"></td>
                <td class="priority-3"></td>
                <td class="priority-3"></td>
                
            </tr>

            <!-- é filho-->
            <tr *ngIf="rowData.maxusers != undefined" [ttRow]="rowNode" [ttSelectableRow]="rowNode"
                (click)="doSelectChildNode(rowData, rowNode)">

                <td *ngIf=" rowData.activa == undefined"></td>
                <td *ngIf=" rowData.activa != undefined && !rowData.activa" pTooltip="Não ativa" tooltipPosition="bottom" style="background-color:red"></td>
                <td *ngIf=" rowData.activa != undefined && rowData.activa" pTooltip="Ativa" tooltipPosition="bottom" style="background-color:green"></td>

                <td pTooltip="Selecionar para alterar" tooltipPosition="bottom">
                    <p-treeTableCheckbox [value]="rowNode"></p-treeTableCheckbox>
                </td>

                <td>
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    <label>{{rowData.localprescricao}}</label>
                </td>

                <td class="priority-3">
                    {{rowData.maxusers}}
                </td>
                <td class="priority-3">
                    {{rowData.activacaoinicio | dateTimeFormatFilter : "YYYY-MM-DD" }}
                </td>
                <td class="priority-3">
                    {{rowData.activacaofim | dateTimeFormatFilter : "YYYY-MM-DD" }}
                </td>
                <td class="priority-3">
                    {{rowData.codreceitas }}
                </td>
                
            </tr>
        </ng-template>
    </p-treeTable>
    <br>
    <button pButton (click)="doAtivarAlterations()" label="Confirmar"></button>
    <br>
</div>

<p-dialog appendTo="body" [modal]="true" [(visible)]="displaySeeInstallation" *ngIf="displaySeeInstallation"
    [style]="{width: '65%'}">
    <app-view-header title="Dados da instalação"></app-view-header>
    <app-edit-installation viewOnly="true" [installation]="selectedParentNode"></app-edit-installation>
</p-dialog>

<p-dialog appendTo="body" [modal]="true" [(visible)]="displayAddNewPem1" *ngIf="displayAddNewPem1"
    [style]="{width: '65%'}">
    <app-view-header title="Adicionar Ativação"></app-view-header>

    <p-dropdown [options]="installations" [(ngModel)]="selectedInstallationToAdd" placeholder="Instalação" filter="true"
        optionLabel="installationName" [showClear]="true" [autofocus]="true" [style]="{width:'100%'}"></p-dropdown>

    <app-pem-activation-new [(pem)]="newPem"></app-pem-activation-new>
    <button pButton (click)="saveNewPemActivation1()" label="Guardar"></button>
</p-dialog>

<p-dialog appendTo="body" [modal]="true" [(visible)]="displayAddNewPem2" *ngIf="displayAddNewPem2"
    [style]="{width: '65%'}">
    <app-view-header title="Adicionar Ativação"></app-view-header>
    <app-pem-activation-new [(pem)]="newPem"></app-pem-activation-new>
    <button pButton (click)="saveNewPemActivation2()" label="Guardar"></button>
</p-dialog>

<p-dialog appendTo="body" [modal]="true" [(visible)]="displayEditInstallation" *ngIf="displayEditInstallation"
    [style]="{width: '65%'}">
    <app-view-header title="Editar dados da instalação"></app-view-header>
    <app-edit-installation [installation]="selectedParentNode"></app-edit-installation>
    <button pButton (click)="saveEditInstallation()" label="Guardar"></button>
</p-dialog>


<p-dialog appendTo="body" [(visible)]="displayEditPem" *ngIf="displayEditPem" [style]="{width: '65%'}">
    <app-view-header title="Editar dados da ativação"></app-view-header>
    <app-pem-activation-new [(pem)]="selectedChildNode"></app-pem-activation-new>
    <br>
    <br>
    <br>
    <button pButton (click)="saveEditPem()" label="Guardar"></button>
</p-dialog>

<p-dialog appendTo="body" [(visible)]="displaySeePem" *ngIf="displaySeePem" [style]="{width: '65%'}">
    <app-view-header title="Dados da ativação"></app-view-header>
    <app-pem-activation-new [(pem)]="selectedChildNode" viewOnly="true"></app-pem-activation-new>
</p-dialog>

<p-confirmDialog #cd header="Confirmação" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
        <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>