<div class="p-grid">
  <div class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-12">
    <app-section-header title="Nome e Notas"></app-section-header>
    <div class="form-group">
        <label for="name"><strong>Nome</strong></label><br>
        <div class="ui-inputgroup">
          <input class="form-control" type="text" *ngIf="!isDefined" required pInputText [(ngModel)]="clinic.name" [readonly]="isDefined"
            style="width:100%" (focus)="clearBtnColor()"/>
          <input type="text" *ngIf="isDefined" pInputText [readonly]="isDefined" style="width:100%" /><br>
          <button *ngIf="!isDefined" pButton id="CLIcheck" type="button" [icon]="iconCLI"
            [style.background-color]="hexColorCLI" [style.border-color]="hexColorCLI"
            (click)="checkClinicName()"></button>
        </div>
    </div>
    

    <label for="desde"><strong>Cliente Desde</strong></label><br>
    <!-- <p-calendar appendTo="body" *ngIf="!isDefined" id="desde" [(ngModel)]="clinic.clientSince" dateFormat="yy-mm-dd"
    [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="(2000:2020)"> -->
  
        <mat-form-field style="width:100%;border:#a6a6a6" appearance="outline">
            <input matInput  [matDatepicker]="picker" [(ngModel)]="clinic.clientSince">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

    

    <!-- </p-calendar> -->
    <input type="text" *ngIf="isDefined" pInputText [readonly]="isDefined" style="width:100%" /><br>

    <label for="notes"><strong>P Principais</strong></label><br>
    <input type="number" min="0" *ngIf="!isDefined" required pInputText [(ngModel)]="clinic.mainPostos" [readonly]="isDefined" style="width:100%" /><br>
    <input type="text" *ngIf="isDefined" pInputText [readonly]="isDefined" style="width:100%" /><br>

    <label for="notes"><strong>P Adicionais</strong></label><br>
    <input type="number" min="0" *ngIf="!isDefined" required pInputText [(ngModel)]="clinic.addPostos" [readonly]="isDefined" style="width:100%" /><br>
    <input type="text" *ngIf="isDefined" pInputText [readonly]="isDefined" style="width:100%" /><br>

    <label for="notes"><strong>Notas</strong></label><br>
    <textarea rows="3" *ngIf="!isDefined" pInputTextarea [(ngModel)]="clinic.notes" [readonly]="isDefined"
      style="width:100%"></textarea>
    <input type="text" *ngIf="isDefined" pInputText [readonly]="isDefined" style="width:100%" /><br>

    
  </div>
  <div class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-12 ">
    <app-section-header title="Contactos"></app-section-header>
    <label for="phone1"><strong>Telefone 1</strong></label><br>
    <input *ngIf="!isDefined" type="text" id="phone1" [(ngModel)]="clinic.contact.phone1" pInputText
      [readonly]="isDefined" style="width:100%" />
    <input type="text" *ngIf="isDefined" pInputText [readonly]="isDefined" style="width:100%" /><br>

    <label for="email"><strong>Email</strong></label><br>
    <input *ngIf="!isDefined" type="text" [(ngModel)]="clinic.contact.email" id="notes" pInputText
      [readonly]="isDefined" [pKeyFilter]="blockSpecial" style="width:100%" />
    <input type="text" *ngIf="isDefined" pInputText [readonly]="isDefined" style="width:100%" /><br>

    <label for="phone2"><strong>Telefone 2</strong></label><br>
    <input *ngIf="!isDefined" type="text" id="phone2" [(ngModel)]="clinic.contact.phone2" pInputText
      [readonly]="isDefined" style="width:100%" />
    <input type="text" *ngIf="isDefined" pInputText [readonly]="isDefined" style="width:100%" /><br>

    <label for="phone3"><strong>Telefone 3</strong></label><br>
    <input *ngIf="!isDefined" type="text" id="phone3" [(ngModel)]="clinic.contact.phone3" pInputText
      [readonly]="isDefined" style="width:100%" />
    <input type="text" *ngIf="isDefined" pInputText [readonly]="isDefined" style="width:100%" /><br>

    <label for="other"><strong>Outros</strong></label><br>
    <input *ngIf="!isDefined" type="text" id="other" [(ngModel)]="clinic.contact.other" pInputText
      [readonly]="isDefined" style="width:100%" />
    <input type="text" *ngIf="isDefined" pInputText [readonly]="isDefined" style="width:100%" /><br>

  </div>
  <div class=" p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-12">
    <app-section-header title="Morada"></app-section-header>

    <label for="address"><strong>Morada</strong></label><br>
    <input *ngIf="!isDefined" type="text" id="address" [(ngModel)]="clinic.address.address" pInputText
      [readonly]="isDefined" style="width:100%" />
    <input type="text" *ngIf="isDefined" pInputText [readonly]="isDefined" style="width:100%" /><br>

    <label for="pcode"><strong>Código Postal </strong></label><br>
    <div class="p-grid p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
      <input *ngIf="!isDefined" id="pcode" type="text" pInputText class="p-col-6" [(ngModel)]="clinic.address.postcode1"
        [readonly]="isDefined" />
      <input type="text" *ngIf="isDefined" pInputText class="p-col-6" [readonly]="isDefined" />
      <pre class="tab">  -  </pre>
      <input *ngIf="!isDefined" type="text" id="pcode2" pInputText class=" p-col-4"
        [(ngModel)]="clinic.address.postcode2" [readonly]="isDefined" />
      <input type="text" *ngIf="isDefined" pInputText class="p-col-4" [readonly]="isDefined" /><br>
    </div>
    <label for="location"><strong>Localização</strong></label><br>
    <input *ngIf="!isDefined" type="text" id="location" pInputText [(ngModel)]="clinic.address.addressLocation"
      [readonly]="isDefined" style="width:100%" />
    <input type="text" *ngIf="isDefined" pInputText [readonly]="isDefined" style="width:100%" />
  </div>
</div>