div.container1 {
    display: table-cell;
    vertical-align: middle
}              /* 1 */

:host ::ng-deep .ui-chkbox .ui-chkbox-box.ui-state-active {
    background-color: red;
    border-color:red;
}
