<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<div *ngIf="updateClient">
  <app-view-header title="Cliente"></app-view-header>
  <!-- <p-accordionTab header="Cliente ({{client.name}})" [selected]="updateClient"
    *ngIf="updateClient || (updateClinic && !updateInstallation)"> -->
  <div id="client" class="p-grid p-justify-center">
    <div class="p-grid p-col-12 p-xl-4 p-lg-4 p-md-6">
      <app-view-header title="Nome e NIF" style="width:100%"></app-view-header>
      <div class="p-col-12">
        <label for="name"><strong>Nome do Cliente</strong></label>
        <textarea pInputTextarea [(ngModel)]="client.name" rows="2"
          style="background-color:white;color:black;width:100%"></textarea>
      </div>
      <div class="p-col-12">
        <label for="nif"> <strong>NIF</strong></label>
        <input type="text" id="nif" pInputText [pKeyFilter]="numbReg" [(ngModel)]="client.nif"
          style="background-color:white;width:100%" />
      </div>
      <div class="p-col-12 " *ngIf="active != 'HELPDESK'">
        <label for="notes"><strong>Notas sobre cliente</strong></label><br>
        <textarea rows="5" [(ngModel)]="client.notes" style="width:100%;" pInputTextarea></textarea>
      </div>
    </div>

    <div class="p-grid p-col-12 p-xl-4 p-lg-4 p-md-6">
      <app-view-header title="Morada" style="width:100%"></app-view-header>
      <div class="p-col-12 p-xl-12 p-lg-12 p-md-12">
        <label for="nif"><strong>Morada</strong></label>
        <input type="text" pInputText [(ngModel)]="client.address.address"
          style="background-color:white;color:black;width:100%" />
      </div>
      <div class="p-col-12  p-xl-6 p-lg-6 p-md-6">
        <label for="nif"><strong>Código Postal</strong></label>
        <input type="text" pInputText [pKeyFilter]="numbReg" [(ngModel)]="client.address.postcode1"
          style="background-color:white;color:black;width:100%" />
      </div>
      <div class="p-col-12  p-xl-6 p-lg-6 p-md-6">
        <label for="nif"><strong>-</strong></label><br>
        <input type="text" pInputText [pKeyFilter]="numbReg" [(ngModel)]="client.address.postcode2"
          style="background-color:white;color:black;width:100%" />
      </div>

      <div class="p-col-12">
        <label for="nif"><strong>Local</strong></label>
        <input type="text"  pInputText [(ngModel)]="client.address.addressLocation"
          style="background-color:white;color:black;width:100%" />
      </div>

      <div class="p-col-12">
        <label for="email"><strong>Email</strong></label>
        <textarea id="email" rows="3" [pKeyFilter]="blockSpecial" [(ngModel)]="client.contact.email" style="width:100%"
          pInputTextarea></textarea>
      </div>
    </div>

    <div class="p-grid p-col-12 p-xl-4 p-lg-4 p-md-12">
      <app-view-header title="Contactos" style="width:100%"></app-view-header>
      <div class="p-col-12">
        <label for="name"><strong>Telefone 1</strong></label><br>
        <input type="text" pInputText [(ngModel)]="client.contact.phone1" style="background-color:white;color:black"
          style="width: 100%" />
      </div>
      <div class="p-col-12">
        <label for="nif"><strong>Telefone 2</strong></label><br>
        <input type="text" id="tel2" pInputText [(ngModel)]="client.contact.phone2"
          style="background-color:white;color:black" style="width: 100%" />
      </div>
      <div class="p-col-12">
        <label for="name"><strong>Telefone 3</strong></label><br>
        <input type="text" pInputText [(ngModel)]="client.contact.phone3" style="background-color:white;color:black"
          style="width: 100%" />
      </div>

      <div class="p-col-12">
        <label for="nif"><strong>Outros Contactos</strong></label>
        <textarea rows="3" [(ngModel)]="client.contact.other" style="width:100%;" pInputTextarea></textarea>
      </div>
    </div>
  </div>
  <div class="p-grid p-col-12 p-xl-12 p-lg-12 p-md-12">
    <app-view-header title="Motivo 1º Contacto" style="width:100%"></app-view-header>
    <div class="p-col-12 p-xl-6 p-lg-6 p-md-6">
      <label for="nif"><strong>Motivo</strong></label><br>
      <p-dropdown [options]="motivos" placeholder="Motivo" [(ngModel)]="selectedMotivo"></p-dropdown>
    </div>
    <div class="p-col-12 p-xl-6 p-lg-6 p-md-6">
      <label for="nif"><strong>Recomendado Por</strong></label><br>
      <input type="text" id="recomended" pInputText [(ngModel)]="client.recomendadoPor" />
    </div>
  </div>
</div>

<div *ngIf="updateClinic">
  <app-view-header title="Clínica"></app-view-header>
  <div id="client" class="p-grid p-justify-center">
    <div class="p-grid p-col-12 p-xl-4 p-lg-4 p-md-6">
      <app-view-header title="Nome, NIF, Notas" style="width:100%"></app-view-header>
      <div class="p-col-12">
        <label for="name"><strong>Nome da Clínica</strong></label>
        <textarea pInputTextarea [(ngModel)]="clinic.name" rows="3"
          style="background-color:white;color:black;width:100%"></textarea>
      </div>
      <div class="p-col-12">
        <label for="name"><strong>Cliente desde</strong></label><br>
        <p-calendar appendTo="body" [(ngModel)]="clinic.clientSince" dateFormat="yy-mm-dd" [monthNavigator]="true"
          [yearNavigator]="true" yearRange="2018:2025">
        </p-calendar>
      </div>
      <div class="p-col-12 ">
        <label for="notes"><strong>Notas</strong></label><br>
        <textarea rows="6" [(ngModel)]="clinic.notes" style="width:100%;" pInputTextarea></textarea>
      </div>
    </div>

    <div class="p-grid p-col-12 p-xl-4 p-lg-4 p-md-6">
      <app-view-header title="Morada" style="width:100%"></app-view-header>
      <div class="p-col-12 p-xl-12 p-lg-12 p-md-12">
        <label for="nif"><strong>Morada</strong></label>
        <input type="text" pInputText [(ngModel)]="clinic.address.address"
          style="background-color:white;color:black;width:100%" />
      </div>
      <div class="p-col-12  p-xl-6 p-lg-6 p-md-6">
        <label for="nif"><strong>Código Postal</strong></label>
        <input type="text"  pInputText [(ngModel)]="clinic.address.postcode1"
          style="background-color:white;color:black;width:100%" />
      </div>
      <div class="p-col-12  p-xl-6 p-lg-6 p-md-6">
        <label for="nif"><strong>-</strong></label><br>
        <input type="text"  pInputText [(ngModel)]="clinic.address.postcode2"
          style="background-color:white;color:black;width:100%" />
      </div>

      <div class="p-col-12">
        <label for="nif"><strong>Local</strong></label>
        <input type="text"  pInputText [(ngModel)]="clinic.address.addressLocation"
          style="background-color:white;color:black;width:100%" />
      </div>

      <div class="p-col-12">
        <label for="email"><strong>Email</strong></label>
        <textarea id="email" rows="3" [pKeyFilter]="blockSpecial" [(ngModel)]="clinic.contact.email" style="width:100%"
          pInputTextarea></textarea>
      </div>
    </div>

    <div class="p-grid p-col-12 p-xl-4 p-lg-4 p-md-12">
      <app-view-header title="Contactos" style="width:100%"></app-view-header>
      <div class="p-col-12">
        <label for="name"><strong>Telefone 1</strong></label><br>
        <input type="text" pInputText [(ngModel)]="clinic.contact.phone1" style="background-color:white;color:black"
          style="width: 100%" />
      </div>
      <div class="p-col-12">
        <label for="nif"><strong>Telefone 2</strong></label><br>
        <input type="text" pInputText [(ngModel)]="clinic.contact.phone2" style="background-color:white;color:black"
          style="width: 100%" />
      </div>
      <div class="p-col-12">
        <label for="name"><strong>Telefone 3</strong></label><br>
        <input type="text" pInputText [(ngModel)]="clinic.contact.phone3" style="background-color:white;color:black"
          style="width: 100%" />
      </div>

      <div class="p-col-12">
        <label for="nif"><strong>Outros Contactos</strong></label>
        <textarea rows="3" [(ngModel)]="clinic.contact.other" style="width:100%;" pInputTextarea></textarea>
      </div>
    </div>
  </div>
</div>

<div *ngIf="updateAccess">
  <app-view-header title="Acessos"></app-view-header>
  <div class="p-grid  p-justify-center ">
    <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
      <label for="notes"><strong>Acessos da clínica</strong></label><br>
      <textarea rows="5" [(ngModel)]="clinic.accessData" style="width:100%" pInputTextarea></textarea>
    </div>
    <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
      <label for="notes"><strong>Acessos do posto principal</strong></label><br>
      <textarea rows="5" [(ngModel)]="installation.accessData" style="width:100%" pInputTextarea></textarea>
    </div>
  </div>
</div>

<div *ngIf="updateInstallation">
  <app-view-header title="Instalação"></app-view-header>
  <div class="ui-inputgroup">
    <input type="text" id="nome" pInputText [(ngModel)]="installation.installationName" (focus)="clearName()"
      style="width: 60%" [readonly]="viewOnly" />
    <button pButton type="button" [icon]="iconNAME" [style.background-color]="hexColorNAME"
      [style.border-color]="hexColorNAME" (click)="checkName()" [disabled]="viewOnly"></button>
    <input type="text" id="pass" pInputText [(ngModel)]="installation.password" style="width: 40%"
      [readonly]="viewOnly" />
  </div>
</div>

<!-- FIM -->
<br>
<div class="form-group">
  <button (click)="save()" class="btn btn-primary">Guardar</button>
  <button (click)="back()" class="btn btn-secondary" style="margin-left:10px">Cancelar</button>
</div>