<div class="p-grid  p-justify-center ">
  <div class="p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
    <label for="notes"><strong>Acessos Posto Principal</strong></label><br>
    <textarea rows="3" [(ngModel)]="installation.accessData" style="width:100%" readonly
      pInputTextarea></textarea>
  </div>
  <div class="p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
    <label for="notes"><strong>Acessos Clínica</strong></label><br>
    <textarea rows="3" [(ngModel)]="clinic.accessData" style="width:100%" readonly
      pInputTextarea></textarea>
  </div>
</div>
