<div style="background-color: #ff9a00;">
        <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
          style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
        <app-header title="Registar Utilizador"></app-header>
      </div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>
<form [formGroup]="registerForm" (ngSubmit)="createNew()">
    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" required pInputText formControlName="_name" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f._name.errors }" />
        <div *ngIf="submitted && f._name.errors" class="invalid-feedback">
            <div *ngIf="f._name.errors.required">Obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <div class="ui-inputgroup">
            <input type="text" id="username" required pInputText formControlName="_username" class="form-control"
                [pKeyFilter]="blockSpace" (focus)="clearUsername()"
                [ngClass]="{ 'is-invalid': submitted && f._username.errors }" />
            <button pButton id="USERNAMEcheck" type="button" [icon]="iconUN" [style.background-color]="hexColorUN"
                [style.border-color]="hexColorUN" (click)="checkUsername()"></button>
        </div>
        <div *ngIf="submitted && f._username.errors" class="invalid-feedback">
            <div *ngIf="f._username.errors.required">Obrigatório</div>
        </div>

    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <div class="ui-inputgroup">
            <input type="email" id="email" required pInputText formControlName="_email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f._email.errors }" (focus)="clearEmail()" email />
            <button pButton id="EMAILcheck" type="button" [icon]="iconEM" [style.background-color]="hexColorEM"
                [style.border-color]="hexColorEM" (click)="checkEmail()"></button>
        </div>
        <div *ngIf="submitted && f._email.errors" class="invalid-feedback">
            <div *ngIf="f._email.errors.required">Obrigatório</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" pPassword promptLabel="" weakLabel="Fraco" mediumLabel="Médio" strongLabel="Forte"
            formControlName="_password" [(ngModel)]="_password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f._password.errors }" />
        <div *ngIf="submitted && f._password.errors" class="invalid-feedback">
            <div *ngIf="f._password.errors.required">Obrigatório</div>
            <div *ngIf="f._password.errors.minlength">Deve ter pelo menos 6 caracteres</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Repetir Password</label>
        <input type="password" pInputText formControlName="_retypePassword" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f._retypePassword.errors }" />
        <div *ngIf="submitted && f._retypePassword.errors" class="invalid-feedback">
            <div *ngIf="f._retypePassword.errors.required">Obrigatório</div>
            <div *ngIf="f._retypePassword.errors.pattern">As passwords devem coincidir</div>
        </div>
    </div>
    <div>
        <label for="userrole">Tipo de Utilizador</label><br>
        <p-dropdown required [options]="roles" formControlName="_selectedRole" placeholder="Tipo" optionLabel="userRole"
            [showClear]="true" [ngClass]="{ 'is-invalid': submitted && f._selectedRole.errors }"></p-dropdown>
        <div *ngIf="submitted && f._selectedRole.errors" class="invalid-feedback">
            <div *ngIf="f._selectedRole.errors.required">Obrigatório</div>
        </div>

        <!-- <input type="text" id="userrole" required pInputText formControlName="_userRole"
                class="form-control" (input)="userRole.value=$event.target.value.toUpperCase()"
                [ngClass]="{ 'is-invalid': submitted && f._userRole.errors }" /> -->
        <!-- <div *ngIf="submitted && f._userRole.errors" class="invalid-feedback">
                <div *ngIf="f._userRole.errors.required">Obrigatório</div>
            </div> -->
    </div>
    <br>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Registar</button>
        <img *ngIf="loading" class="pl-3" alt="loading" />
        <a routerLink="/login" class="btn btn-link">Cancelar</a>
    </div>
</form>