<div class="p-grid" style="background-color: white">
  <div class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-12">
    <app-view-header title="Nome, Nif, Notas"></app-view-header>
    <label for="name">Nome</label>
    <div class="ui-inputgroup">
      <input type="text" required pInputText class="form-control" (focus)="clearName()" [(ngModel)]="client.name" />
      <button pButton type="button" [icon]="iconNAME" [style.background-color]="hexColorNAME"
        [style.border-color]="hexColorNAME" (click)="checkName()"></button>

    </div>
    <label for="nif">NIF</label>
    <div class="ui-inputgroup">
      <input type="text" id="nif" [pKeyFilter]="numbReg" pInputText class="form-control" (focus)="clearNIF()"
        [(ngModel)]="client.nif" />
      <button pButton type="button" [icon]="iconNIF" [style.background-color]="hexColorNIF"
        [style.border-color]="hexColorNIF" (click)="checkNIF()"></button>

    </div>
    <label for="notes">Notas</label>
    <textarea rows="4" cols="30" pInputTextarea class="form-control" [(ngModel)]="client.notes"></textarea>
    <br>
  </div>
  <div class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-12">
    <app-view-header title="Contactos"></app-view-header>
    <label for="phone1">Telefone</label>
    <input type="text" id="phone1" [(ngModel)]="client.contact.phone1" pInputText class="form-control" />
    <label for="email">Email</label>
    <input type="text" [pKeyFilter]="blockSpecial" [(ngModel)]="client.contact.email" id="notes" pInputText
      class="form-control" />
    <label for="phone2">Telefone 2</label>
    <input type="text" id="phone2" [(ngModel)]="client.contact.phone2" pInputText class="form-control" />
    <label for="phone3">Telefone 3</label>
    <input type="text" id="phone3" [(ngModel)]="client.contact.phone3" pInputText class="form-control" />
    <label for="other">Outro</label>
    <input type="text" id="other" [(ngModel)]="client.contact.other" pInputText class="form-control" />
  </div>

  <div class="p-col-12 p-xl-4 p-lg-4 p-md-12 p-sm-12">
    <app-view-header title="Morada"></app-view-header>
    <label for="address">Morada</label>
    <input type="text" id="address" [(ngModel)]="client.address.address" pInputText class="form-control" />
    <label for="pcode">Código Postal </label>
    <div class="p-grid p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
      <input id="pcode" [pKeyFilter]="numbReg" type="text" pInputText class="form-control p-col-6"
        [(ngModel)]="client.address.postcode1" />
      <pre class="tab">  -  </pre>
      <input type="text" [pKeyFilter]="numbReg" id="pcode2" pInputText class="form-control p-col-4"
        [(ngModel)]="client.address.postcode2" />
    </div>
    <label for="location">Localização</label>
    <input type="text" id="location" pInputText class="form-control" [(ngModel)]="client.address.addressLocation" />
  </div>

  <div class="p-grid p-col-12 p-xl-12 p-lg-12 p-md-12">
    <app-view-header title="Motivo 1º Contacto" style="width:100%"></app-view-header>
    <div class="p-col-12 p-xl-6 p-lg-6 p-md-6">
      <label for="nif"><strong>Motivo</strong></label><br>
      <p-dropdown [options]="motivos" placeholder="Motivo" [(ngModel)]="client.motivo"></p-dropdown>
    </div>
    <div class="p-col-12 p-xl-6 p-lg-6 p-md-6">
      <label for="nif"><strong>Recomendado Por</strong></label><br>
      <input type="text" id="recomended" pInputText [(ngModel)]="client.recomendadoPor" />
    </div>
  </div>
</div>