<div class="customgrid" appMatchHeight="ui-card">
  <p-card styleClass="ui-card-shadow" header="{{res==null?'':res[0].nome}}" class="p-col-12 p-xl-3 p-lg-3 p-md-6 p-sm-6 pointer " 
    routerLink="./nrIntervencoesUserDia">
    <p-header>
    </p-header>
    
    <p-footer style="position:absolute;bottom:1em">
        <label class="mid-font tactisorange">{{res==null?'':res[0].valor}}</label>
        <div class="overview-box-title">Nr intervenções diárias</div>
    </p-footer>
  </p-card>

  <p-card styleClass="ui-card-shadow" header="{{res==null?'':res[1].nome}}" class="p-col-12 p-xl-3 p-lg-3 p-md-6 p-sm-6 pointer" 
    routerLink="./nrIntervencoesTotalDia">
    <p-header>
        <!-- <span class="overview-box-details-count big-font">{{res==null?'':res[1].nome}}</span> -->
        <!-- {{res==null?'':res[1].nome}} -->
    </p-header>
    
    <p-footer style="position:absolute;bottom:1em">
        <label class="mid-font tactisorange">{{res==null?'':res[1].valor}}</label>
        <div class="overview-box-title">Nr intervenções diárias totais</div>
    </p-footer>
   
  </p-card>


  <p-card styleClass="ui-card-shadow" header="{{res==null?'':res[2].nome}}" class="p-col-12 p-xl-3 p-lg-3 p-md-6 p-sm-6 pointer " 
    routerLink="./nrIntervencoesUserMes">
    <p-header>
        <!-- <span class="overview-box-details-count big-font">{{res==null?'':res[2].nome}}</span> -->
        <!-- {{res==null?'':res[2].nome}} -->
    </p-header>
    <p-footer style="position:absolute;bottom:1em">
        <label class="mid-font tactisorange">{{res==null?'':res[2].valor}}</label>
        <div class="overview-box-title">Nr intervenções mensais</div>
    </p-footer>
  </p-card>


  <p-card styleClass="ui-card-shadow" header ="{{res==null?'':res[3].nome}}" class="p-col-12 p-xl-3 p-lg-3 p-md-6 p-sm-6 pointer " 
    routerLink="./nrIntervencoesTotalMes">
    <p-header>
        <!-- <span class="overview-box-details-count big-font">{{res==null?'':res[3].nome}}</span> -->
        <!-- {{res==null?'':res[3].nome}} -->
    </p-header>
    
    <p-footer style="position:absolute;bottom:1em">
        <label class="mid-font tactisorange">{{res==null?'':res[3].valor}}</label>
        <div class="overview-box-title">Nr intervenções mensais totais</div>
    </p-footer>
  </p-card>


  <p-card styleClass="ui-card-shadow" header ="{{res==null?'':res[4].nome}}" class="p-col-12 p-xl-3 p-lg-3 p-md-6 p-sm-6 pointer " 
    routerLink="./nrIntervencoesTotalHora">
    <p-header>
        <!-- <span class="overview-box-details-count big-font">{{res==null?'':res[3].nome}}</span> -->
        <!-- {{res==null?'':res[3].nome}} -->
    </p-header>
    
    <p-footer style="position:absolute;bottom:1em">
        <label class="mid-font tactisorange">{{res==null?'':res[4].valor}}</label>
        <div class="overview-box-title">Evolução horária</div>
    </p-footer>
  </p-card>
</div>