<div class="p-grid">
  <div class="p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
    <app-section-header title="Nome de instalação e Password"></app-section-header>
    <div class="ui-inputgroup">
      <input type="text" id="nome" pInputText [(ngModel)]="installation.installationName" (focus)="clearName()"
        style="width: 60%" [readonly]="viewOnly" />
      <button pButton type="button" [icon]="iconNAME" [style.background-color]="hexColorNAME"
        [style.border-color]="hexColorNAME" (click)="checkName()" [disabled]="viewOnly"></button>
      <input type="text" id="pass" pInputText [(ngModel)]="installation.password" style="width: 40%"
        [readonly]="viewOnly" />
    </div>

    <app-section-header title="Permissões"></app-section-header>
    <div class="p-grid p-justify-center">
      <div class="p-grid p-col-12">
        <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
          <strong><em>NoviGest</em></strong><br>
          <p-checkbox [(ngModel)]="installation.installng" label="Novigest" binary="true"
            [disabled]="viewOnly">
          </p-checkbox><br>
          <p-checkbox *ngIf="installation.installng" label="NG Allowed" [(ngModel)]="installation.ngAllowed"
            binary="true" [disabled]="viewOnly">
          </p-checkbox>
        </div>
      </div>
      <div class="p-grid p-col-12">
        <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
          <strong><em>NoviPem</em></strong><br>
          <p-checkbox [(ngModel)]="installation.installpem" label="NoviPem" binary="true"
            [disabled]="viewOnly">
          </p-checkbox><br>
          <p-checkbox *ngIf="installation.installpem" label="PEM Allowed" [(ngModel)]="installation.pemAllowed"
            binary="true" [disabled]="viewOnly">
          </p-checkbox><br *ngIf="installation.installpem">
          <p-checkbox *ngIf="installation.installpem" label="Infarmed Allowed"
            [(ngModel)]="installation.bdinfarmedinfAllowed" binary="true" [disabled]="viewOnly">
          </p-checkbox>
        </div>
      </div>
      <div class="p-grid p-col-12">
        <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
          <strong><em>Tactis Updater</em></strong><br>
          <p-checkbox [(ngModel)]="installation.installtu" label="Tactis Updater" binary="true"
            [disabled]="viewOnly">
          </p-checkbox><br>
          <p-checkbox *ngIf="installation.installtu" label="TU Allowed" [(ngModel)]="installation.tuAllowed"
            binary="true" [disabled]="viewOnly">
          </p-checkbox>
        </div>
      </div>
    </div>
  </div>

  <div class="p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
    <app-section-header title="Acessos e Notas"></app-section-header>
    <div class="p-grid">
      <div class="p-col-12 p-xl-12 p-lg-12 p-md-12">
        <label for="name"><strong>Acessos</strong></label>
        <textarea rows="3" [(ngModel)]="installation.accessData" pInputTextarea [readonly]="viewOnly && !editAccess"
          style="width: 100%"></textarea>
      </div>

      <div class="p-col-12 p-xl-12 p-lg-12 p-md-12">
        <label for="name"><strong>Notas</strong></label>
        <textarea rows="3" [(ngModel)]="installation.notes" pInputTextarea style="width: 100%"
          [readonly]="viewOnly && !editAccess"></textarea>
      </div>
    </div>
  </div>
</div>