/* You can add global styles to this file, and also import other style files */
/*@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';*/

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import "~ng-pick-datetime/assets/style/picker.min.css";
* {
    -webkit-box-sizing: border-box;
  }

 .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
 
    color: black;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #a6a6a6;
}