<div style="background-color: #ff9a00;">
  <!-- <i class="pi pi-info-circle" (click)="openHelp=!openHelp" style="float:right;font-size: 2em;color: white;"></i> -->
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
    
  <p-calendar dateFormat="dd/mm/yy" [locale]="pt" [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"
  (onSelect)="dateChange();"[style]="{'font-size':'0.8em'}" style="font-size: 0.8em;"></p-calendar>
  <label id="lab" (click)="changeViewToDSM()">Vista DSM</label>
  <app-header title="Dashboard"></app-header>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<router-outlet></router-outlet>
