<div style="background-color: #ff9a00;">
    <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
        style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
    <app-header title="Atualizações {{titleDB}}"></app-header>
</div>

<div *ngIf="loading">

    <!-- <div *ngIf="selectedDB != 'ng' && selectedDB != 'tu'">
        <p-progressSpinner></p-progressSpinner>
    </div>

    <div *ngIf="selectedDB == 'ng' || selectedDB == 'tu'"> -->
    <strong>Pode demorar alguns segundos a carregar ... </strong> <br>
    <!-- <img *ngIf="randomNR==0" src="../../../../assets/images/informaticos.png" alt="uma piada">
        <img *ngIf="randomNR==1" src="../../../../assets/images/sql.jpg" alt="uma piada">
        <img *ngIf="randomNR==2" src="../../../../assets/images/sql2.jpg" alt="uma piada">
        <img *ngIf="randomNR==3" src="../../../../assets/images/count.jpg" alt="uma piada">
        <img *ngIf="randomNR==4" src="../../../../assets/images/foobar.jpg" alt="uma piada">
        <p *ngIf="randomNR==0" style="font-size: 65%">(Fonte : <a
                href="https://www.piadasecas.com/piadas-de-informatica/piadas-de-informatica/">Piadas Secas</a>)</p>
        <p *ngIf="randomNR >0 && randomNR < 5" style="font-size: 65%">(Fonte : <a
                href="http://www.skipser.com/p/2/p/the-best-programming-jokes-ever.html">Skipser</a>)</p>

    </div> -->

</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<p-treeTable #tt *ngIf="!loading" [value]="installations" [selection]="selectedNodes" [paginator]="true" [rows]="10"
    [rowsPerPageOptions]="[10,20,30]" paginatorDropdownAppendTo="body" selectionMode="checkbox"
    [metaKeySelection]="false">
    <ng-template pTemplate="caption">
        <div class="ui-g">
            <div class="ui-g-2 ui-md-2 ui-lg-2 filter-container">
                <div class="ui-g-12" style="text-align: left;display:table">
                    <button pButton type="button" lable="Click" class="ui-button-rounded ui-button-secondary"
                        icon="pi pi-undo" (click)="refresh()"></button>
                </div>
            </div>

            <div class="ui-g-8 ui-md-8 ui-lg-6 filter-container">
                <div class="ui-g-12" style="text-align: right;display:table">
                    <input type="text" pInputText (keyup.enter)="search()" placeholder="Procurar instalação ou clínica"
                        [(ngModel)]="toSearch" style="display:table-cell; width:100%">
                </div>
            </div>

            <div class="ui-g-2 ui-md-2 ui-lg-2 filter-container">
                <div class="ui-g-12" style="text-align: left;display:table">
                    <button pButton (click)="search()" (keyup.enter)="search()" icon="pi pi-search"
                        style="display:table-cell;background-color: black; border-color:black"></button>
                </div>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-2 filter-container">
                <div class="ui-g-12" style="text-align: right">
                    <p>Selecionados: [{{selectedNodes.length}}] </p>
                    <p *ngIf="tt.filteredNodes">Total: [{{tt.filteredNodes.length}}] </p>
                    <p *ngIf="!tt.filteredNodes">Total: [{{installations.length}}] </p>
                </div>
            </div>
        </div>
        <div>
            <app-view-header title="Filtros"></app-view-header>
            <div class="p-grid">

                <div class="p-col-12 p-xl-3 p-lg-3 p-md-6">
                    <label><strong>Permissões</strong></label><br>
                    <p-dropdown [options]="perm" [style]="{'width':'100%'}"
                        (onChange)="tt.filter($event.value, permField, 'equals');selectedFilt=false;checkBigCheckBox()">
                    </p-dropdown>
                </div>

                <div class="p-col-12 p-xl-3 p-lg-3 p-md-6">
                    <label><strong>Nome</strong></label><br>
                    <input pInputText type="text" placeholder="Procurar instalação"
                        (input)="tt.filter($event.target.value, 'installation.installationName', 'contains');selectedFilt=false;checkBigCheckBox();"
                        style="width:100%">
                </div>



                <div class="p-col-12 p-xl-3 p-lg-3 p-md-6">
                    <label><strong>Contrato</strong></label><br>
                    <p-multiSelect [options]="codes" defaultLabel="Códigos"
                        (onChange)="tt.filter($event.value, 'lastChange.changeCode', 'in');selectedFilt=false;checkBigCheckBox();"
                        [style]="{'width':'100%'}">
                    </p-multiSelect>
                </div>
                <div class="p-col-12 p-xl-3 p-lg-3 p-md-6">
                    <label><strong>Dívida</strong></label><br>
                    <p-dropdown [options]="dividas" [style]="{'width':'100%'}"
                        (onChange)="tt.filter($event.value, 'lastChange.changeNormalized', 'equals');selectedFilt=false;checkBigCheckBox()">
                    </p-dropdown>
                </div>
            </div>
        </div>
    </ng-template>


    <ng-template pTemplate="header">

        <tr>

            <th style="width: 1%" pTooltip="Permissão" tooltipPosition="bottom"></th><!-- SE TEM PERMISSAO -->
            <th style="width: 3em" pTooltip="Selecionar para alterar" tooltipPosition="bottom">
                <p-checkbox binary="true" [(ngModel)]="allSel" (onChange)="selectAll($event)"></p-checkbox>
            </th> <!-- checkbox -->
            <th style="width: 49%"
                [ttSortableColumn]="'installation' != undefined ? 'installation.installationName' : null">Nome
                <p-treeTableSortIcon [field]="'installation.installationName'"></p-treeTableSortIcon>
            </th>
            <th class="priority-3" *ngIf="selectedDB == 'ng'" [ttSortableColumn]="'novigest.version'">Versão
                <p-treeTableSortIcon [field]="'novigest.version'"></p-treeTableSortIcon>
            </th>
            <th class="priority-3" *ngIf="selectedDB == 'pem'" [ttSortableColumn]="'novipem.pemVersion'">Versão
                <p-treeTableSortIcon [field]="'novipem.pemVersion'"></p-treeTableSortIcon>
            </th>
            <th class="priority-3" *ngIf="selectedDB == 'tu'" [ttSortableColumn]="'updater.version'">Versão
                <p-treeTableSortIcon [field]="'updater.version'"></p-treeTableSortIcon>
            </th>
            <th class="priority-3" *ngIf="selectedDB == 'inf'" [ttSortableColumn]="'novipem.infarmedVersion'">Versão
                <p-treeTableSortIcon [field]="'novipem.infarmedVersion'"></p-treeTableSortIcon>
            </th>

            <th class="priority-3">Último ping</th>
            <th *ngIf="selectedDB == 'tu'" class="priority-3">Apache Daemon</th>

            <th class="priority-2">Contrato

            </th>
            <th style="width: 1%" pTooltip="Dívida" tooltipPosition="bottom"></th><!-- SE TEM DIVIDA -->
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-i="rowIndex">
        <!-- é parent-->
        <tr *ngIf="rowData.name == undefined">
            <!-- permissao allowed-->
            <td *ngIf="selectedDB == 'ng' && rowData.installation.ngAllowed == true " style="background-color:green"
                pTooltip="Permite" tooltipPosition="bottom">
            </td>
            <td *ngIf="selectedDB == 'ng' && rowData.installation.ngAllowed == false " style="background-color:red"
                pTooltip="Não permite" tooltipPosition="bottom">
            </td>
            <td *ngIf="selectedDB == 'ng' && rowData.installation.ngAllowed == undefined "></td>
            <td *ngIf="selectedDB == 'pem' && rowData.installation.pemAllowed == true " style="background-color:green"
                pTooltip="Permite" tooltipPosition="bottom">
            </td>
            <td *ngIf="selectedDB == 'pem' && rowData.installation.pemAllowed  == false" style="background-color:red"
                pTooltip="Não permite" tooltipPosition="bottom">
            </td>
            <td *ngIf="selectedDB == 'pem' && rowData.installation.pemAllowed == undefined "></td>
            <td *ngIf="selectedDB == 'tu' && rowData.installation.tuAllowed == true  " style="background-color:green"
                pTooltip="Permite" tooltipPosition="bottom">
            </td>
            <td *ngIf="selectedDB == 'tu' && rowData.installation.tuAllowed == false " style="background-color:red"
                pTooltip="PerNão permitemissão" tooltipPosition="bottom">
            </td>
            <td *ngIf="selectedDB == 'tu' && rowData.installation.tuAllowed == undefined " pTooltip="Permissão"
                tooltipPosition="bottom"></td>
            <td *ngIf="selectedDB == 'inf' && rowData.installation.bdinfarmedAllowed == true  " pTooltip="Permite"
                tooltipPosition="bottom" style="background-color:green">
            </td>
            <td *ngIf="selectedDB == 'inf' && rowData.installation.bdinfarmedAllowed == false " pTooltip="Não permite"
                tooltipPosition="bottom" style="background-color:red">
            </td>
            <td *ngIf="selectedDB == 'inf' && rowData.installation.bdinfarmedAllowed == undefined " pTooltip="Permissão"
                tooltipPosition="bottom"></td>

            <!-- checkbox-->
            <td pTooltip="Selecionar para alterar" tooltipPosition="bottom">
                <p-checkbox [(ngModel)]="rowData.isSelected" binary="true" (onChange)="selectChange($event, rowNode)">
                </p-checkbox>
            </td>

            <!-- installation -->
            <td>
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                <label>{{rowData.installation.installationName}}</label>
                <!-- (click)="openInstallationInfo(rowData)" -->
            </td>

            <!-- version -->
            <td class="priority-3" *ngIf="selectedDB == 'ng'">{{rowData.novigest.version}}</td>
            <td class="priority-3" *ngIf="selectedDB == 'pem'">{{rowData.novipem.pemVersion}}</td>
            <td class="priority-3" *ngIf="selectedDB == 'tu'">{{rowData.updater.version}}</td>
            <td class="priority-3" *ngIf="selectedDB == 'inf'">{{rowData.novipem.infarmedVersion}}</td>

            <!-- ping -->
            <td class="priority-3" *ngIf="selectedDB == 'ng'">
                {{rowData.novigest.dataping | dateTimeFormatFilter: 'YYYY-MM-DD HH:mm:ss'}}</td>
            <td class="priority-3" *ngIf="selectedDB == 'pem'">
                {{rowData.novipem.dataping | dateTimeFormatFilter: 'YYYY-MM-DD HH:mm:ss'}}</td>
            <td class="priority-3" *ngIf="selectedDB == 'tu'">
                {{rowData.updater.dataping | dateTimeFormatFilter: 'YYYY-MM-DD HH:mm:ss'}}
            </td>
            <td class="priority-3" *ngIf="selectedDB == 'inf'">
                {{rowData.novipem.dataping | dateTimeFormatFilter: 'YYYY-MM-DD HH:mm:ss'}}</td>

            <td *ngIf="selectedDB == 'tu'" class="priority-3">{{rowData.updater.apacheDaemon}}</td>

            <!-- contrato -->
            <td class="priority-2" *ngIf=" rowData.lastChange == undefined">Sem dados</td>
            <td class="priority-2" *ngIf=" rowData.lastChange != undefined">{{rowData.lastChange.changeCode}}</td>

            <!-- divida -->
            <td *ngIf=" rowData.lastChange != undefined && !rowData.lastChange.changeNormalized"
                style="background-color:red" pTooltip="Em dívida" tooltipPosition="bottom"></td>
            <td *ngIf=" rowData.lastChange != undefined && rowData.lastChange.changeNormalized"
                style="background-color:green" pTooltip="Sem dívida" tooltipPosition="bottom"></td>
            <td *ngIf=" rowData.lastChange == undefined" pTooltip="Dívida" tooltipPosition="bottom"></td>

        </tr>

        <!-- é filho-->
        <tr *ngIf="rowData.name != undefined" ttSelectableRowDisabled>
            <td></td>

            <td>
            </td>

            <td>
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                <label (click)="openClinicInfo(rowData, rowNode)">{{rowData.name}}</label>
            </td>

            <td class="priority-3"></td>
            <td class="priority-3"></td>
            <td *ngIf="selectedDB == 'tu'" class="priority-3"></td>
            <td class="priority-2"></td>

            <td *ngIf=" rowNode.parent.data.lastChange == undefined"></td>
            <td *ngIf=" rowNode.parent.data.lastChange != undefined && !rowNode.parent.data.lastChange.changeNormalized"
                style="background-color:red"></td>
            <td *ngIf=" rowNode.parent.data.lastChange != undefined && rowNode.parent.data.lastChange.changeNormalized"
                style="background-color:green"></td>

        </tr>
    </ng-template>
</p-treeTable>
<br>
<div *ngIf="!loading" class="form-group">
    <button (click)="save()" class="btn btn-primary">Atualizar</button>
    <a routerLink="/home" class="btn btn-link">Cancelar</a>
</div>

<p-dialog #d2 appendTo="body" [responsive]="true" header="Clínica" [(visible)]="displayClinica" *ngIf="displayClinica"
    [style]="{width: '65%'}">
    <app-view-header title="Dados da clínica"></app-view-header>
    <app-clinic-view #clinic [clinic]="selectedClinic"></app-clinic-view>
</p-dialog>

<p-dialog appendTo="body" [(visible)]="displayContract" *ngIf="displayContract" [modal]="true" [responsive]="true"
    [style]="{width: '65%'}">
    <p-scrollPanel [style]="{width: '100%', height: '600px'}">
        <app-view-header title="Dados da instalação"></app-view-header>
        <app-edit-installation viewOnly="true" [installation]="selectedInstallation"></app-edit-installation>
        <app-view-header title="Dados do Contrato"></app-view-header>
        <app-clinic-status-view #status [clinic]="selectedClinic" [contractchange]="selectedContract">
        </app-clinic-status-view>
    </p-scrollPanel>

</p-dialog>