<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<div>
  <label for="name">App/DB</label><br>
  <input type="text" [(ngModel)]="up.appTag" size="60" required pInputText />
</div>

<div>
  <label for="version">Versão</label><br>
  <input type="text" id="version" [(ngModel)]="up.versao" size="60" required pInputText />
</div>

<div>
  <label for="checksum">Checksum</label><br>
  <input type="text" id="checksum" required [(ngModel)]="up.checksum" size="60" pInputText />
</div>

<!-- <div>
  <label for="urldb">URL DB</label><br>
  <input type="text" id="urldb" required [(ngModel)]="up.urlDb"size="60"  pInputText/>
</div> -->

<div>
  <label for="urlapp">URL</label><br>
  <input type="text" id="urlapp" [(ngModel)]="up.urlApp" size="60" required pInputText />

</div>

<div *ngIf="up.appTag=='Novipem'">
  <label for="urlapp">URL Versão</label><br>
  <input type="text" id="urlapp" [(ngModel)]="up.urlDb" size="60" required pInputText />
</div>

<div>
  <label for="password">Password</label><br>
  <input type="text" id="password" [(ngModel)]="up.password" size="60" required pInputText />
</div>

<div>
  <p-checkbox [(ngModel)]="up.ativo" label="Ativo" binary="true"></p-checkbox>
</div>

<!-- <p-confirmDialog #cd header="Confirmação" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog> -->
<p-confirmDialog appendTo="body" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<br>
<button pButton label="Guardar" (click)="save()"></button>
<button pButton icon="pi pi-trash" class="ui-button-secondary" (click)="confirmDelete()" style="float:right"></button>