<div style="background-color: #ff9a00;">
  <i class="pi pi-info-circle" (click)="openHelp=!openHelp" style="float:right;font-size: 2em;color: white;"></i>
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Instalações"></app-header>
</div>
<div *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<br>
<br>
<div *ngIf="!loading">
  <div class="p-grid">

    <div class="p-grid p-col-6 p-lg-10 p-xl-10 p-md-10 p-sm-6">

      <p-card *ngFor="let d of data" header="Contrato" [style]="{color: 'orange', width:'15em'}"
        style="margin-right: 10px;margin-bottom:10px" styleClass="ui-card-shadow">
        <p-header>
          <div style="background-color:#333333;top:10px;right:10px;text-align: center;"
            *ngIf="d.installation == undefined">
            <strong>{{d.aditamento.contractId.contractNumber}}</strong>
          </div>
          <div style="background-color:#333333;top:10px;right:10px;text-align: center;"
            *ngIf="d.installation != undefined">
            <strong>&nbsp;</strong>
          </div>
        </p-header>
        <div style="color:black" *ngIf="d.installation != undefined">
          <div *ngFor="let clinic of d.installation.clinicList">
            <strong>Clínica:</strong> {{clinic.name}}<br>
          </div>
          <strong>Data:</strong> {{d.installation.installationDate | dateTimeFormatFilter:'YYYY-MM-DD HH:mm'}}
          <strong>Postos: </strong>{{d.contract.qtyMainStations}} PP + {{d.contract.qtyAddStations}} PA<br>
        </div>
        <div style="color:black"
          *ngIf="d.installation != undefined && selectedEAU != undefined && d.installation.description == selectedEAU.event.description">
          <p><strong>Atribuída a</strong></p>
          <p *ngFor="let u of selectedEAU.users">{{u.username}}</p>
        </div>
        <div style="color:black" *ngIf="d.installation == undefined">
          <strong>Clínica:</strong> {{d.aditamento.clinicId.name}}<br>
          <strong>Data:</strong> {{d.aditamento.data | dateTimeFormatFilter:'YYYY-MM-DD HH:mm'}}
          <strong>Postos: </strong>{{d.aditamento.mainPostos}} PP + {{d.aditamento.addPostos}} PA<br>
        </div>
        <div style="color:black"
          *ngIf="d.aditamento != undefined && selectedEAU != undefined && d.aditamento.description == selectedEAU.event.description">
          <p><strong>Atribuída a</strong></p>
          <p *ngFor="let u of selectedEAU.users">{{u.username}}</p>
        </div>
        <p-footer>
          <button pButton type="button" (click)="editSchedule(d)" icon="pi pi-pencil"
            class="ui-button-rounded ui-button-secondary" style="border-color:black"></button>
          <button pButton type="button" (click)="assignedTo(d)" icon="pi pi-users"
            class="ui-button-rounded ui-button-secondary" style="border-color:black"></button>
        </p-footer>
      </p-card>
    </div>
    <app-event-resume-view *ngIf="dataLoaded" [installations]="data"></app-event-resume-view>
  </div>
</div>

<p-dialog *ngIf="display" header="Alterar instalação" [(visible)]="display" [style]="{'width': '50%' }">
  <br>
  <div class="p-grid" style="float:left">
    <div class="p-grid p-col-6 p-xl-6 p-lg-6 p-md-6 p-sm-6">

      <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
        <label for="name"><strong>Data</strong></label><br>
        <p-calendar appendTo="body" [(ngModel)]="newInstDate" dateFormat="yy-mm-dd" [showTime]="true"
          [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2025"></p-calendar>
      </div>
      <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
        <label for="name"><strong>Notas</strong></label><br>
        <textarea rows="6" cols="32" [(ngModel)]="selectedInstallation.notes" pInputTextarea style="width: 100%"
          *ngIf="selectedInstallation != null"></textarea>
        <textarea rows="6" cols="32" [(ngModel)]="selectedAditamento.notas" pInputTextarea style="width: 100%"
          *ngIf="selectedInstallation == null"></textarea>
      </div>
    </div>
    <div class="p-grid p-col-6 p-xl-6 p-lg-6 p-md-6 p-sm-6">
      <h4>Utilizadores</h4>
      <div class="item" class="content-box">
        <p-checkbox class="ui-g-6" *ngFor="let user of users" name="group1" [value]="user" label="{{user.username}}"
          [(ngModel)]="values">
        </p-checkbox>
      </div>
    </div>
  </div>
  <button pButton label="Confirmar" (click)="confirmInstallationAlteration()"></button>
</p-dialog>

<p-dialog header="Ajuda" [modal]="true" [positionTop]="100" [(visible)]="openHelp"
  [style]="{'width':'70%', 'max-height':'400px'}">
  <div style="height:400px">

    Em contrução.<br>
    Aqui estará um guião para ajudar a visualizar os agendamentos.<br>
    --------------------------------------------------------------------------------------------------<br>
    Cada card corresponde a uma instalação já atribuída. <br>
    Pode editar a data ou escolher outros utilizadores.<br>
    As cards com indicação do número de contrato correspondem a aditamentos.
  </div>
</p-dialog>