<div style="text-align: center;margin:auto;width: 100%;">
  <hr style="border:0.5px solid #ff9a00">
  <h6 style="color:black">{{title}}<strong></strong>
  </h6>
  <hr style="border:0.5px solid #ff9a00">
</div>