 <div style="background-color:#e9ecef">
  <div class="container">
        <router-outlet></router-outlet> 
  </div>
</div> 

<!-- credits -->
<div class="text-center">
  <p>
      <a href="http://www.tactis.pt" target="_top">Tactis - Serviços Informáticos</a>
  </p>
 
</div>
