<div style="background-color: #ff9a00;">
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Registar Potencial Cliente"></app-header>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>
<br>

<app-client-new-form [(client)]="client"></app-client-new-form>
<br>

<div>
  <button (click)="submit()" class="btn btn-primary" style="background-color:  #ff9a00;border-color: #ff9a00">Registar</button>
</div>
<br>