<div class="customgrid" appMatchHeight="ui-card">
  <p-card styleClass="ui-card-shadow" header="{{res==null?'':res[0].nome}}" class="p-col-12 p-xl-3 p-lg-3 p-md-6 p-sm-6 pointer " 
    routerLink="./nrIntervencoesUser">
    <p-header>
    </p-header>
    
    <p-footer style="position:absolute;bottom:1em">
        <label class="mid-font tactisorange">{{res==null?'':res[0].valor}}</label>
        <div class="overview-box-title">Nr intervenções</div>
    </p-footer>
  </p-card>

  <p-card styleClass="ui-card-shadow" header="{{res==null?'':res[1].nome}}" class="p-col-12 p-xl-3 p-lg-3 p-md-6 p-sm-6 pointer" 
    routerLink="./durIntervencoesUser">
    <p-header>
        <!-- <span class="overview-box-details-count big-font">{{res==null?'':res[1].nome}}</span> -->
        <!-- {{res==null?'':res[1].nome}} -->
    </p-header>
    
    <p-footer style="position:absolute;bottom:1em">
        <label class="mid-font tactisorange">{{m1==null?'':h1 + 'h ' +m1 + 'm'}}</label>
        <div class="overview-box-title">Duração intervenções</div>
    </p-footer>
   
  </p-card>


  <p-card styleClass="ui-card-shadow" header="{{res==null?'':res[2].nome}}" class="p-col-12 p-xl-3 p-lg-3 p-md-6 p-sm-6 pointer " 
    routerLink="./nrIntervencoesActivity">
    <p-header>
        <!-- <span class="overview-box-details-count big-font">{{res==null?'':res[2].nome}}</span> -->
        <!-- {{res==null?'':res[2].nome}} -->
    </p-header>
    <p-footer style="position:absolute;bottom:1em">
        <label class="mid-font tactisorange">{{res==null?'':res[2].valor}}</label>
        <div class="overview-box-title">Nr intervenções</div>
    </p-footer>
  </p-card>


  <p-card styleClass="ui-card-shadow" header ="{{res==null?'':res[3].nome}}" class="p-col-12 p-xl-3 p-lg-3 p-md-6 p-sm-6 pointer " 
    routerLink="./durIntervencoesActivity">
    <p-header>
        <!-- <span class="overview-box-details-count big-font">{{res==null?'':res[3].nome}}</span> -->
        <!-- {{res==null?'':res[3].nome}} -->
    </p-header>
    
    <p-footer style="position:absolute;bottom:1em">
        <label class="mid-font tactisorange">{{m2==null?'':h2 + 'h ' +m2 + 'm'}}</label>
        <div class="overview-box-title">Duração intervenções</div>
    </p-footer>
  </p-card>
</div>