.whitecard {
    border-radius: 0px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

:host ::ng-deep .ui-inputtext {
    width: 180px;
}

:host ::ng-deep .ui-card {
    height: 100%;
    position: relative;
}

:host ::ng-deep .ui-card-body {
    height: inherit;
}

:host ::ng-deep .ui-card-footer {
    padding-top: 4em;
}

/* :host ::ng-deep .ui-card-shadow.ui-card.ui-widget.ui-widget-content.ui-corner-all {
    position: relative;
} */

.pointer {
    cursor: pointer;
}

#calwrapper {
    text-align: center;
    margin: 0 auto;
}

.center {
    text-align: center;
    margin: 0 auto;
    background-color: white;
}

/* h2 {
    height: 33px;
} */

.customgrid {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.big-font {
    font-size: 20pt;
}

.overview-box-title {
    font-size: 14px;
    width: 100%;
}

.overview-box-details {
    width: 100%;
    padding: 8px 0;
}

.mid-font {
    font-size: 14pt;
}

.tactisorange {
    color: #ff9a00;
}