<div style="background-color: #ff9a00;">
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Formações"></app-header>
</div>
<div *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<br>
<br>
<div *ngIf="!loading">
  <div class="p-grid">
    <div class="p-grid p-col-10 p-lg-10 p-xl-10 p-md-10 p-sm-10">
      <p-card *ngFor="let d of data" header="{{d.event.clinicId.name}}" [style]="{color: 'orange', width:'15em'}"
        style="margin-right: 10px;margin-bottom:10px" styleClass="ui-card-shadow">
        <p-header>
        </p-header>
        <div style="color:black">
          <div style="color:black">
            <strong>Data:</strong> {{d.event.beginDate | dateTimeFormatFilter:'YYYY-MM-DD HH:mm'}}
            <strong>Notas:</strong>{{d.event.notes}}
          </div>
        </div>
        <p-footer>
          <div class="p-grid ">
            <div class="p-col-6 p-lg-6 p-xl-6 p-md-6 p-sm-6">
              <button *ngIf="todayInstall(d.event.beginDate)==1" pButton label="Concluir" (click)="install(d.event)"
                class="ui-button-rounded ui-button-secondary" style=" margin: 0 auto; border: 3px solid red "></button>

              <button *ngIf="todayInstall(d.event.beginDate)==2" pButton label="Concluir" (click)="install(d.event)"
                class="ui-button-rounded ui-button-secondary" style=" margin: 0 auto; border-color: blue "></button>

              <button *ngIf="todayInstall(d.event.beginDate)==3" pButton label="Concluir" (click)="install(d.event)"
                class="ui-button-rounded ui-button-secondary"
                style=" margin: 0 auto; border: 3px solid red; background-color:red; color:white "></button>

              <button *ngIf="todayInstall(d.event.beginDate)==4" pButton label="Concluir" (click)="install(d.event)"
                class="ui-button-rounded ui-button-secondary" style=" margin: 0 auto; border-color: black"></button>

              <!-- <button pButton label="Editar" (click)="edit(d.event)" class="ui-button-rounded ui-button-secondary"
                style="margin: 0 auto; border-color: black"></button> -->

            </div>
            <div class="p-col-6 p-lg-6 p-xl-6 p-md-6 p-sm-6" style="text-align: right">
              <button pButton type="button" (click)="editSchedule(d)" icon="pi pi-pencil"
                class="ui-button-rounded ui-button-secondary" style="border-color:black"></button>
            </div>

          </div>
        </p-footer>
      </p-card>
    </div>
    <app-event-resume-view *ngIf="dataLoaded" [events]="data"></app-event-resume-view>
  </div>
</div>

<p-dialog *ngIf="display" header="Alterar Formação" [(visible)]="display" [style]="{'width': '85%' }">
  <br>
  <div class="p-grid" style="float:left;background-color:white">
    <div class="p-grid p-col-6 p-xl-6 p-lg-6 p-md-6 p-sm-6">

      <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
        <app-view-header title="Data e Notas"></app-view-header>
        <label for="name"><strong>Data</strong></label><br>
        <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2025" appendTo="body" [(ngModel)]="newInstDate" dateFormat="yy-mm-dd" [showTime]="true"></p-calendar>
      </div>
      <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
        <label for="name"><strong>Notas</strong></label><br>
        <textarea rows="6" [(ngModel)]="selectedEvent.notes" pInputTextarea style="width: 75%"></textarea>
      </div>
    </div>
    <div class="p-grid p-col-6 p-xl-6 p-lg-6 p-md-6 p-sm-6">
      <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
        <app-view-header title="Utilizadores"></app-view-header>
      </div>
      <div class="item" class="content-box">
        <p-checkbox class="ui-g-6" *ngFor="let user of usersT;let i" name="group1" [value]="user"
          label="{{user.username}}" [(ngModel)]="values" inputId="{{user.username}}">
        </p-checkbox>
      </div>
    </div>
  </div>
  <button pButton label="Confirmar" (click)="confirmEditedTraining()"></button>
</p-dialog>