<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>
<div class="p-grid">
  <div class="p-grid p-col-12">
    <div class="p-col-12 p-xl-3 p-lg-4 p-md-4 p-sm-12">
      <label for="name"><strong>Max Users</strong></label><br>
      <input type="number" min=0 required pInputText [(ngModel)]="pem.maxusers" [readonly]="viewOnly" />
    </div>
    <div class="p-col-12 p-xl-3 p-lg-4 p-md-4 p-sm-12">
      <label for="name"><strong>Cod receitas</strong></label><br>
      <input type="text" required pInputText [(ngModel)]="pem.codreceitas" [readonly]="viewOnly" />
    </div>
    <div class="p-col-12 p-xl-3 p-lg-4 p-md-4 p-sm-12">
      <label for="name"><strong>Local prescrição</strong></label><br>
      <input type="text" required pInputText [(ngModel)]="pem.localprescricao" [readonly]="viewOnly" />
    </div>
  </div>
  <div class="p-grid p-col-12">
    <div class="p-col-12 p-xl-3 p-lg-4 p-md-4 p-sm-12">
      <label for="name"><strong>Ativação início</strong></label><br>
      <p-calendar appendTo="body" [(ngModel)]="pem.activacaoinicio" dateFormat="yy-mm-dd" [style]="{'width':'100%'}"
        [disabled]="viewOnly" [monthNavigator]="true" [yearNavigator]="true"  yearRange="2018:2025">
      </p-calendar>
    </div>
    <div class="p-col-12 p-xl-3 p-lg-4 p-md-4 p-sm-12">
      <label for="name"><strong>Ativação fim</strong></label><br>
      <p-calendar appendTo="body" [(ngModel)]="pem.activacaofim" dateFormat="yy-mm-dd" [style]="{'width':'100%'}"
        [disabled]="viewOnly" [monthNavigator]="true" [yearNavigator]="true"  yearRange="2018:2025">
      </p-calendar>
    </div>
    <div class="p-col-12 p-xl-3 p-lg-4 p-md-4 p-sm-12">
      <label for="name"><strong>Chave Ativa</strong></label><br>
      <p-checkbox [(ngModel)]="pem.activa" binary="true" label="Ativa" [disabled]="viewOnly"></p-checkbox>
    </div>

  </div>