<div class="ui-g" style="background-color: white">

  <div class="ui-g-12 ui-xl-6 ui-lg-6 ui-md-6">
    <!-- <div class="p-col-12 p-xl-4 p-lg-4 p-md-12 p-sm-12"> -->
    <app-view-header title="Contrato"></app-view-header>

    <label *ngIf="typesLoaded" for="email"> Tipo Contrato </label><br>

    <p-dropdown *ngIf="typesLoaded" [options]="codes" placeholder="Descrição" [(ngModel)]="selectedType"
      optionLabel="descr" (onChange)="tellParent();" [showClear]="true" [style]="{'max-width': '100%'}"></p-dropdown><br>

    <label for="pa"> Proposta </label><br>
    <input type="text" pInputText id="proposta" [(ngModel)]="contract.proposta" /><br>
  </div>

  <div class="ui-g-12 ui-xl-6 ui-lg-6 ui-md-6">
    <!-- <div class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-12"> -->
    <app-view-header title="Postos"></app-view-header>
    <label for="pp"> Postos Principais </label><br>
    <input type="number" min="0" pInputText [pKeyFilter]="numbReg" id="pp" [(ngModel)]="contract.qtyMainStations" /><br>
    <label for="pa"> Postos Adicionais </label><br>
    <input type="number" min="0" pInputText [pKeyFilter]="numbReg" id="pa" [(ngModel)]="contract.qtyAddStations" /><br>
  </div>

</div>