<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>
<p-accordion multiple="true">
  <p-accordionTab header="Cliente" [selected]="true">
    <app-client-view [client]="contract.client"></app-client-view>
  </p-accordionTab>
  <p-accordionTab header="Contrato" [selected]="true">
    <div class="p-grid" style="background-color: white">
      <div class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-12">
        <app-view-header title="Datas"></app-view-header>

        <label for="nif"> Cliente desde </label><br>
        <p-calendar class="ui-fluid" appendTo="body" [(ngModel)]="clientSince" 
          [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2025" dateFormat="yy-mm-dd"
          [style]="{'width':'100%'}"></p-calendar>
        <div *ngIf="isCM">
          <label>CM Inicial</label><br>
          <p-dropdown [options]="timesCM" [(ngModel)]="selectedTime" [showClear]="true" (onChange)="calculateTime()" [style]="{'max-width':'100%','width':'100%'}">
          </p-dropdown>
        </div>

        <div *ngIf="isCAL">
          <label>CAL</label><br>
          <p-dropdown [options]="timesCAL" [(ngModel)]="selectedTime" [showClear]="true" (onChange)="calculateTime()" [style]="{'max-width':'100%','width':'100%'}">
          </p-dropdown>
        </div>

        <label for="nif">Data do Contrato</label><br>
        <input pInputText id="dataContrato" [ngModel]="contractAte | dateTimeFormatFilter:'YYYY-MM-DD'"  style="width:100%"/><br>
        </div>

      <div class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-12">
        <app-view-header title="Postos"></app-view-header>
        <label for="pp"> Postos Principais </label><br>
        <input type="number" min="0" pInputText id="pp" style="width: 100%"
          [(ngModel)]="contract.contract.qtyMainStations" /><br>
        <label for="pa"> Postos Adicionais </label><br>
        <input type="number" min="0" pInputText id="pa" style="width: 100%"
          [(ngModel)]="contract.contract.qtyAddStations" /><br>
        <label for="proposta">Proposta </label><br>
        <input type="text" pInputText id="pa" style="width: 100%" [(ngModel)]="contract.contract.proposta"
          readonly /><br>
      </div>

      <div class="p-col-12 p-xl-4 p-lg-4 p-md-12 p-sm-12">
        <app-view-header title="Contrato"></app-view-header>

        <label for="email"> Tipo Contrato </label><br>
         <input *ngIf="typesLoaded" type="text" pInputText [(ngModel)]="selectedType.descr" readonly
          style="width: 100%" /><br>

        <label for="email"> Código </label><br>
        <input *ngIf="typesLoaded" type="text" pInputText [(ngModel)]="selectedType.code" readonly
          style="width: 100%" /><br>

        <label for="ncontract"> Número Contrato </label><br>
        <div class="ui-inputgroup" style="width:100%">
          <button pButton type="button" icon="pi pi-search" (click)="sugestNextCode()"></button>
          <input *ngIf="selectedType != undefined && !isCAL && !isCM" type="text" pInputText (focus)="clearCNbutton()"
            [(ngModel)]="contract.contract.contractNumber">

          <p-inputMask *ngIf="selectedType != undefined && isCAL" [(ngModel)]="contract.contract.contractNumber"
            (onFocus)="clearCNbutton()" mask="CAL9999/9/99" style="width:100%">
          </p-inputMask>

          <p-inputMask *ngIf="selectedType != undefined &&  isCM" [(ngModel)]="contract.contract.contractNumber"
            (onFocus)="clearCNbutton()" mask="CM9999/9/99">
          </p-inputMask>

          <button *ngIf="selectedType != undefined" pButton id="CNcheck" type="button" [icon]="icon"
            [style.background-color]="hexColor" [style.border-color]="hexColor"
            (click)="checkValidAndExistsContractNumber()"></button>
        </div>


        <!-- <button pButton type="button" icon="pi pi-search" (click)="sugestNextCode()"></button>
        
            <input *ngIf="selectedType != undefined && !isCAL && !isCM" type="text" pInputText (focus)="clearCNbutton()"
              [(ngModel)]="contract.contract.contractNumber">
        
            <p-inputMask *ngIf="selectedType != undefined && isCAL" [(ngModel)]="contract.contract.contractNumber"
              (onFocus)="clearCNbutton()" mask="CAL9999">
            </p-inputMask>
        
            <p-inputMask *ngIf="selectedType != undefined &&  isCM" [(ngModel)]="contract.contract.contractNumber"
              (onFocus)="clearCNbutton()" mask="CM9999">
            </p-inputMask>
        
            <button *ngIf="selectedType != undefined" pButton id="CNcheck" type="button" [icon]="icon"
              [style.background-color]="hexColor" [style.border-color]="hexColor"
              (click)="checkValidAndExistsContractNumber()"></button> -->
      </div>
    </div>
  </p-accordionTab>
</p-accordion>