<div class="p-grid">
  <div class="p-col-12 p-xl-4 p-sm-12">
    <!-- TIPO -->
    <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
      <label for="name"><strong>Tipo</strong></label><br>
      <p-dropdown [options]="interventionTypes" [(ngModel)]="selectedType" placeholder="Escolha um tipo"
        required optionLabel="description" [showClear]="true"></p-dropdown>
    </div>

    <!--  DATA/HORA -->
    <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
      <label for="name"><strong>Data/Hora:</strong></label><br>
      <p-calendar [monthNavigator]="true" [yearNavigator]="true"  yearRange="2018:2025" [(ngModel)]="interventionDate" appendTo="body" dateFormat="yy-mm-dd" [showTime]="true" [locale]="pt">
      </p-calendar>
    </div>

    <!-- PRODUTO-ATIVIDADE -->
    <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
      <label for="name"><strong>Produto-Atividade</strong></label><br>
      <p-dropdown [options]="paItems" [(ngModel)]="selectedProductActivities" placeholder="Produto-Atividade"
        required filter="true" [style]="{width:'100%', 'float':'left'}" emptyFilterMessage="Sem resultados."
        [showClear]="true" filterPlaceholder="Escreva aqui">
        <ng-template let-item pTemplate="selectedItem">
          <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
            <div style="font-size:14px;float:left;margin-top:4px">
              {{item.label}}
            </div>
          </div>
        </ng-template>
        <ng-template let-productActivity pTemplate="item">
          <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
            <div style="font-size:14px;float:left;margin-top:4px">
              {{productActivity.value.product + ' - ' + productActivity.value.activity}}
            </div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

  </div>

  <div class="p-col-12 p-xl-8 p-sm-12 p-grid">
    <!-- NOTAS -->
    <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12"><br>
      <label for="name"><strong>Notas</strong></label><br>
      <textarea rows="4" cols="" [(ngModel)]="notes" pInputTextarea style="width: 100%"></textarea>
    </div>

    <div class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-12">
      <label for="name"><strong>Interlocutor</strong></label><br>
      <input type="text" pInputText [(ngModel)]="interlocutor" />
    </div>

    <!-- DURAÇÃO -->
    <div class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-12">
      <label for="name"><strong>Duração (min):</strong></label><br>
      <input type="number" min="0" pInputText [pKeyFilter]="numbReg" [(ngModel)]="duration" />
    </div>

    <div class="p-col-12 p-xl-4 p-lg-4 p-md-4 p-sm-12">
      <br>
      <button pButton type="button" (click)="saveIntervention()" label="Confirmar"
        style="background-color:orange; border-color: orange"></button>
      <button pButton type="button" (click)="cancelIntervention()" class="ui-button-secondary"
        icon="pi pi-times"></button>
    </div>
  </div>
</div>