<div style="background-color: #ff9a00;">
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Outros eventos"></app-header>
</div>
<div *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<br>
<br>
<div *ngIf="!loading">
  <div class="p-grid">


    <div class="p-grid p-col-10 p-lg-10 p-xl-10 p-md-10 p-sm-10">
      <p-card *ngFor="let d of data" header="{{d.event.name}}" [style]="{color: 'orange', width:'15em'}"
        style="margin-right: 10px;margin-bottom:10px" styleClass="ui-card-shadow">
        <p-header>
        </p-header>
        <div style="color:black">
          <div style="color:black">
            <strong>Data:</strong> {{d.event.beginDate | dateTimeFormatFilter:'YYYY-MM-DD HH:mm'}}
          </div>
        </div>
        <p-footer>
          <div class="p-grid ">
            <div class="p-col-6 p-lg-6 p-xl-6 p-md-6 p-sm-6">
              <button *ngIf="todayInstall(d.event.beginDate)==1" pButton label="Concluir" (click)="install(d.event)"
                class="ui-button-rounded ui-button-secondary"
                style="display: block; margin: 0 auto; border: 3px solid red "></button>

              <button *ngIf="todayInstall(d.event.beginDate)==2" pButton label="Concluir" (click)="install(d.event)"
                class="ui-button-rounded ui-button-secondary"
                style="display: block; margin: 0 auto; border-color: blue "></button>

              <button *ngIf="todayInstall(d.event.beginDate)==3" pButton label="Concluir" (click)="install(d.event)"
                class="ui-button-rounded ui-button-secondary"
                style="display: block; margin: 0 auto; border: 3px solid red; background-color:red; color:white "></button>

              <button *ngIf="todayInstall(d.event.beginDate)==4" pButton label="Concluir" (click)="install(d.event)"
                class="ui-button-rounded ui-button-secondary"
                style="display: block; margin: 0 auto; border-color: black"></button>

            </div>
          </div>
        </p-footer>
      </p-card>
    </div>

    <app-event-resume-view *ngIf="dataLoaded" [events]="data"></app-event-resume-view>
  </div>
</div>