<em *ngIf="hasNG">novigestmonitor</em>
<div class="p-grid" *ngIf=" instReady && hasNG">
  <div class="p-col-4">
    <label for="nif"><strong>id Clínica</strong></label>
    <input type="text" pInputText [(ngModel)]="monitor.ngmonitor.idclinica" style="background-color:white;color:black"
      readonly class="form-control" />
  </div>
  <div class="p-col-4" style="background-color: white">
    <label for="nif"><strong>Versão</strong></label>
    <input type="text" pInputText [(ngModel)]="monitor.ngmonitor.version" style="background-color:white;color:black"
      readonly class="form-control" />
  </div>
  <div class="p-col-4">
    <label for="nif"><strong>Dataping</strong></label>
    <input type="text" pInputText [ngModel]="monitor.ngmonitor.dataping | dateTimeFormatFilter: 'YYYY-MM-DD HH:mm:ss'"
      style="background-color:white;color:black" readonly class="form-control" />
  </div>
</div>
<hr>
<em *ngIf="hasPEM">novipemmonitor</em>
<div class="p-grid" *ngIf="instReady && hasPEM">
  <div class="p-col-6">
    <label for="nif"><strong>id Clínica</strong></label>
    <input type="text" pInputText [(ngModel)]="monitor.pemmonitor.idclinica" style="background-color:white;color:black"
      readonly class="form-control" />
  </div>
  <div class="p-col-6" style="background-color: white">
    <label for="nif"><strong>Versão</strong></label>
    <input type="text" pInputText [(ngModel)]="monitor.pemmonitor.version" style="background-color:white;color:black"
      readonly class="form-control" />
  </div>
  <div class="p-col-4">
    <label for="nif"><strong>Versão PEM</strong></label>
    <input type="text" pInputText [(ngModel)]="monitor.pemmonitor.pemVersion" style="background-color:white;color:black"
      readonly class="form-control" />
  </div>
  <div class="p-col-4">
    <label for="nif"><strong>Versão Infarmed</strong></label>
    <input type="text" pInputText [(ngModel)]="monitor.pemmonitor.infarmedVersion"
      style="background-color:white;color:black" readonly class="form-control" />
  </div>
  <div class="p-col-4">
    <label for="nif"><strong>Dataping</strong></label>
    <input type="text" pInputText [ngModel]="monitor.pemmonitor.dataping | dateTimeFormatFilter: 'YYYY-MM-DD HH:mm:ss'"
      style="background-color:white;color:black" readonly class="form-control" />
  </div>
</div>
<hr *ngIf="hasPEM">
<em *ngIf="hasTU">tactisupdater</em>
<div class="p-grid" *ngIf="instReady && hasTU">
  <div class="p-col-6">
    <label for="nif"><strong>id Clínica</strong></label>
    <input type="text" pInputText [(ngModel)]="monitor.tumonitor.idclinica" style="background-color:white;color:black"
      readonly class="form-control" />
  </div>
  <div class="p-col-6" style="background-color: white">
    <label for="nif"><strong>Versão</strong></label>
    <input type="text" pInputText [(ngModel)]="monitor.tumonitor.version" style="background-color:white;color:black"
      readonly class="form-control" />
  </div>
  <div class="p-col-4">
    <label for="nif"><strong>Dataping</strong></label>
    <input type="text" pInputText [ngModel]="monitor.tumonitor.dataping | dateTimeFormatFilter: 'YYYY-MM-DD HH:mm:ss'"
      style="background-color:white;color:black" readonly class="form-control" />
  </div>
  <div class="p-col-4">
    <label for="nif"><strong>ApacheDaemon</strong></label>
    <input type="text" pInputText [ngModel]="monitor.tumonitor.apacheDaemon" style="background-color:white;color:black"
      readonly class="form-control" />
  </div>
  <div class="p-col-4">
    <label for="nif"><strong>Allowed</strong></label>
    <input type="text" pInputText style="background-color:white;color:black" readonly class="form-control" />
  </div>
</div>