<div class="p-grid">

  <div class="p-col" *ngFor="let clinic of clinicList">
    <p-card [style]="{'max-width': '100%','width':'320px'}" style="margin-left: 10px;" styleClass="ui-card-shadow">
      <strong>Clínica</strong><br>
      <p>{{clinic.name}}</p>

      <p>{{clinic.address.address}} {{clinic.address.postcode1}}-{{clinic.address.postcode2}}
        {{clinic.address.addressLocation}}</p>

      <strong>Contactos</strong><br>
      <p>{{clinic.contact.phone1}}</p>
      <p>{{clinic.contact.phone2}}</p>
      <p>{{clinic.contact.phone3}}</p>
      <p style="word-break: break-all;">{{clinic.contact.email}}</p>

      <strong>Postos</strong><br>
      <div *ngIf="aditamento != undefined">
        <label><u>Atualmente:</u> {{clinic.mainPostos}} PP&nbsp;</label><label> + {{clinic.addPostos}} PA</label><br>
        <label><u>Acrescentar:</u> {{aditamento.mainPostos}} PP&nbsp;</label><label> + {{aditamento.addPostos}}
          PA</label>
          <div *ngIf="aditamento != undefined && aditamento.pendente > 0">
              <label><u>Pendente: </u>  {{aditamento.pendente}}</label> posto(s)
          </div>
      </div>
      <div *ngIf="aditamento == undefined">
        <label>{{clinic.mainPostos}} PP&nbsp;</label><label> + {{clinic.addPostos}} PA</label>
      </div>


      <strong *ngIf="clinic.notes.trim().length > 0">Notas</strong><br>
      <p *ngIf="clinic.notes.trim().length > 0">{{clinic.notes}}</p>

    </p-card>
  </div>

</div>