<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>
<div style="position: relative ">
  <div>
    <div>
      <label for="name">App/DB</label><br>
      <input type="text" [(ngModel)]="app" readonly size="60" pInputText style="width:100%" />
    </div>

    <div>
      <label for="version">Versão</label><br>
      <input type="text" id="version" [(ngModel)]="versao" size="60" required pInputText style="width:100%" />
    </div>

    <div>
      <label for="checksum">Checksum</label><br>
      <input type="text" id="checksum" required [(ngModel)]="checksum" size="60" pInputText style="width:100%" />
    </div>

    <div>
      <label for="password">Password</label><br>
      <input type="text" id="password" [(ngModel)]="password" size="60" required pInputText style="width:100%" />
    </div>

    <div>
      <label for="urlapp">URL</label><br>
      <input type="text" id="urlapp" [(ngModel)]="url_app" size="60" required pInputText style="width:100%" />
    </div>

    <div *ngIf="app=='pem'">
      <label for="urldb">URL Versão</label><br>
      <input type="text" id="urldb" required [(ngModel)]="url_db" size="60" pInputText style="width:100%" />
    </div>

    <br>
    <div>
      <p-checkbox [(ngModel)]="ativo" label="Ativo" binary="true"></p-checkbox>
    </div>

  </div>
  <br>
  <div class="form-group">
    <button class="btn btn-primary" (click)="createNew()">Registar</button>
  </div>

</div>