<div style="background-color: #ff9a00;">
  <i class="pi pi-info-circle" (click)="openHelp=!openHelp" style="float:right;font-size: 2em;color: white;"></i>
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Registar Novo Contrato"></app-header>
</div>
<div *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<div *ngIf="!loading">
  <p-accordion [multiple]="true">
    <p-accordionTab header="Cliente"  [selected]="true">
      <app-client-new-form [(client)]="client"></app-client-new-form>
      <div style="display: flex; justify-content: center;">
        <button pButton label="Copiar para clínica" (click)="copyToClinic()" style="align-self:right"></button>
      </div>

    </p-accordionTab>

    <p-accordionTab header="Contrato" [selected]="true">
      <!--[(selectedType)]="selectedType"-->
      <!-- <app-contract-new-form #contForm [(contract)]="contract" (code)="hearType($event)"></app-contract-new-form>-->

      <div class="ui-g" style="background-color: white">

        <div class="ui-g-12 ui-xl-6 ui-lg-6 ui-md-6">
          <app-view-header title="Contrato"></app-view-header>

          <label *ngIf="typesLoaded" for="email"> Tipo Contrato </label><br>

          <p-dropdown *ngIf="typesLoaded" [options]="codes" placeholder="Descrição" [(ngModel)]="selectedType"
            optionLabel="descr" [showClear]="true" [style]="{'max-width': '100%'}">
          </p-dropdown><br>

          <label for="pa"> Proposta </label><br>
          <input type="text" pInputText id="proposta" [(ngModel)]="contract.proposta" /><br>
          <label style="font-size:0.7em">Preencher "doação", se for o caso</label>
        </div>

        <div class="ui-g-12 ui-xl-6 ui-lg-6 ui-md-6">
          <app-view-header title="Postos"></app-view-header>
          <label for="pp"> Postos Principais </label><br>
          <input type="number" min="0" pInputText [pKeyFilter]="numbReg" id="pp"
            [(ngModel)]="contract.qtyMainStations" />
          <button pButton id="qtyInst" type="button" label="Criar" *ngIf="contract.qtyMainStations >= 1 && contract.qtyMainStations != installations.length"
            (click)="createInstallations()" style="margin-left:10px" [disabled]="selectedType == undefined || selectedType == null"></button><br>

          <label for="pa"> Postos Adicionais </label><br>
          <input type="number" min="0" pInputText [pKeyFilter]="numbReg" id="QTYADD"
            [(ngModel)]="contract.qtyAddStations" /><br>
        </div>

      </div>


      <div style="display: flex; justify-content: center;">
        <button pButton type="button" label="Criar outro contrato" (click)="oneMoreContract()"
          style="align-self:right"></button>
      </div>

    </p-accordionTab>

    <p-accordionTab [selected]="true" *ngFor="let ct of contract.contractList">

      <p-header>
        <label>Associar a Contrato&nbsp;</label><label *ngIf="ct.clientId != null">({{ct.clientId.name}})</label>
      </p-header>

      <app-new-contract-association [(contract)]="ct" (cli)="listenClientChosen(ct, $event)">
      </app-new-contract-association>
      <br>
      <div style="display: flex; justify-content: flex-end">
        <button pButton label="Remover" (click)="removeContractFromList(ct)" class="ui-button-secondary"></button>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Nº de Instalações e Clínicas" [selected]="true">
      <!-- <div class="p-grid">
        <div class="p-col-6 p-xl-6 p-lg-4 p-md-4 p-sm-6">
          <label for="i"><strong>Nº Instalações</strong></label><br>
          <input type="number" min="0" pInputText [pKeyFilter]="numbReg" id="ninst" [(ngModel)]="qtyInstallations"
            (ngModelChange)="checkNInstallations()" />
          <button pButton id="qtyInst" type="button" label="Criar" [style.background-color]="instColor"
            [style.border-color]="instColor" [disabled]="selectedType == undefined || selectedType == null"
            (click)="createInstallations()"></button>
        </div>
      </div> -->


      <div *ngFor="let inst of installations">
        <p-accordion [multiple]="true">

          <p-accordionTab header="Instalação ({{inst.installationName}})">
            <button pButton icon="pi pi-minus" label="Remover" class="ui-button-rounded ui-button-secondary"
              (click)="removeInstallation(inst)" style="float: right;"></button>
            <button pButton type="button" icon="pi pi-plus" class="ui-button-rounded ui-button-secondary"
              (click)="associateClinicToInstallation(inst)" label="Associar" style="float: right;"></button>
            <button pButton type="button" icon="pi pi-plus" class="ui-button-rounded ui-button-secondary"
              (click)="addClinic(inst)" label="Nova Clínica" style="float: right;"></button>

            <br><br><br>
            <div class="p-grid">
              <p-card *ngFor="let clinic of inst.clinicList" header="Clínica" [style]="{color: 'orange', width:'auto'}"
                style="margin-right: 10px" styleClass="ui-card-shadow" (click)="selectClinic(clinic)">
                <p-footer>
                  <div>
                    <div class="form-group">
                      <label for="nif"><strong>Nome</strong></label>
                      <div class="ui-inputgroup">
                        <input type="text" id="nif" pInputText [(ngModel)]="clinic.name" (focus)="clearBtnColor()"
                          class="form-control" />
                        <button *ngIf="selectedClinic1==clinic" pButton id="CLIcheck" type="button" [icon]="iconCLI"
                          [style.background-color]="hexColorCLI" [style.border-color]="hexColorCLI"
                          (click)="checkClinicName(clinic)"></button>
                        <button *ngIf="selectedClinic1!=clinic" pButton id="CLIcheck" type="button"
                          icon="pi pi-question" style.background-color="grey" style.border-color="grey"
                          (click)="checkClinicName(clinic)"></button>
                      </div>
                      <label for="nif"><strong>Postos Principais</strong></label><br>
                      <input type="number" min="0" id="pmain" [(ngModel)]="clinic.mainPostos" pInputText
                        style="width:100%" />
                      <label for="nif"><strong>Postos Adicionais</strong></label><br>
                      <input type="number" min="0" id="padd" [(ngModel)]="clinic.addPostos" pInputText
                        style="width:100%" />
                    </div>
                    <label for="notes"><strong>Notas</strong></label><br>
                    <textarea rows="5" cols="32" [(ngModel)]="clinic.notes" pInputTextarea></textarea>
                    <br>
                    <label for="nif">Contactos</label>
                    <div class="form-group">
                      <button pButton (click)="addContact(clinic)" icon="pi pi-pencil"></button>
                      <button pButton label="Copiar Dados" class="ui-button-rounded ui-button-secondary"
                        (click)="keepClientContact(clinic)"></button>

                    </div>
                    <label for="nif">Morada</label>
                    <div class="form-group">
                      <button pButton (click)="addAddress(clinic)" icon="pi pi-pencil"></button>
                      <button pButton label="Copiar Dados" class="ui-button-rounded ui-button-secondary"
                        (click)="keepClientAddress(clinic)"></button>

                    </div>
                    <button pButton (click)="removeClinic(inst,clinic)" icon="pi pi-trash"></button>
                  </div>
                </p-footer>
              </p-card>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>

      <!-- NOVO CONTACTO DIALOG -->
      <p-dialog header="Novo Contacto" [(visible)]="displayContactDialog" [responsive]="true" [blockScroll]="true"
        showEffect="fade" [modal]="true">
        <div class="ui-g" *ngIf="selectedClinic && showContact">
          <div class="ui-g" style="margin-bottom:10px">
            <div class="p-grid">

              <div class="form-group p-col-12 p-xl-3 p-lg-3 p-md-3 p-sm-6">
                <label for="phone1">Telefone</label>
                <input type="text" id="phone1" [(ngModel)]="selectedClinic.contact.phone1" pInputText
                  class="form-control" />
              </div>
              <div class="form-group p-col-12 p-xl-3 p-lg-3 p-md-3 p-sm-6">
                <label for="phone2">Telefone 2</label>
                <input type="text" id="phone2" [(ngModel)]="selectedClinic.contact.phone2" pInputText
                  class="form-control" />
              </div>
              <div class="form-group p-col-12 p-xl-3 p-lg-3 p-md-3 p-sm-6">
                <label for="phone3">Telefone 3</label>
                <input type="text" id="phone3" [(ngModel)]="selectedClinic.contact.phone3" pInputText
                  class="form-control" />
              </div>
              <div class="form-group p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
                <label for="email">Email</label>
                <input type="text" [(ngModel)]="selectedClinic.contact.email" id="notes" pInputText
                  class="form-control" />
              </div>
              <div class="form-group p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
                <label for="other">Outro</label>
                <input type="text" id="other" [(ngModel)]="selectedClinic.contact.other" pInputText
                  class="form-control" />
              </div>

            </div>
          </div>

        </div>
        <div>
          <button pButton label="Guardar" (click)="onContactDialogHide()"></button>
        </div>
      </p-dialog>

      <!-- NOVO ADDRESS DIALOG -->
      <p-dialog header="Nova Morada" [(visible)]="displayAddressDialog" [responsive]="true" [blockScroll]="true"
        showEffect="fade" [modal]="true" [contentStyle]="{'max-height':'auto'}">
        <div class="ui-g" *ngIf="selectedClinic && showAddress">
          <div class="ui-g" style="margin-bottom:10px">
            <div class="p-grid">
              <div class="form-group p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
                <label for="address">Morada</label>
                <input type="text" id="address" [(ngModel)]="selectedClinic.address.address" pInputText
                  class="form-control" />
              </div>
              <div class="form-group p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">

                <label for="nif">Código Postal</label>
                <div class="p-grid">
                  <div class="p-col-6 p-xl-6 p-lg-6 p-md-6 p-sm-6">
                    <input type="text" id="pc1" pInputText [(ngModel)]="selectedClinic.address.postcode1"
                      class="form-control" />
                  </div>
                  <div class="p-col-6 p-xl-6 p-lg-6 p-md-6 p-sm-6">
                    <input type="text" id="pc2" pInputText [(ngModel)]="selectedClinic.address.postcode2"
                      class="form-control" />
                  </div>
                </div>

              </div>
              <div class="form-group p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
                <label for="location">Localização</label>
                <input type="text" id="location" pInputText class="form-control"
                  [(ngModel)]="selectedClinic.address.addressLocation" />
              </div>
            </div>
          </div>
        </div>
        <button pButton label="Guardar" (click)="onAddressDialogHide()"></button><br>
      </p-dialog>

    </p-accordionTab>
  </p-accordion>
</div>
<!-- CLIENTE BASIC INFO -->
<!-- FIM -->
<br>
<div class="form-group">
  <button (click)="save()" class="btn btn-primary">Guardar</button>
  <a routerLink="/home" class="btn btn-link">Cancelar</a>
</div>

<p-confirmDialog #cd header="Confirmação" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>
<div *ngIf="associatePlease">

  <p-dialog header="Escolha um Potencial Cliente" [positionTop]="100" [(visible)]="associatePlease"
    [style]="{'width':'70%', 'max-height':'200px'}">
    <p-dropdown *ngIf="!clinicLoading" [options]="clinics" [(ngModel)]="selectedClinic"
      placeholder="Selecionar uma Clínica" optionLabel="name" filter="true" [style]="{'width':'100%'}"
      [showClear]="true" (onChange)="event($event)"></p-dropdown>

    <div *ngIf="selectedClinic == undefined">
      <br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <div *ngIf="selectedClinic != undefined">
      <br>
      <div class="p-grid">

        <div class="p-col-8 p-grid">

          <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
            <label for="name"><strong>Nome</strong></label><br>
            <input type="text" id="name" pInputText style="width:100%" [(ngModel)]="selectedClinic.name" />
          </div>

          <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
            <label for="email"><strong>Email</strong></label><br>
            <input type="text" [(ngModel)]="selectedClinic.contact.email" id="notes" pInputText style="width:100%" />
          </div>

          <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
            <label for="address"><strong>Morada</strong></label><br>
            <input type="text" id="address" [(ngModel)]="selectedClinic.address.address" style="width:100%"
              pInputText />
          </div>
          <div class="p-col-12 p-xl-4 p-lg-12 p-md-12 p-sm-12">
            <label for="nif"><strong>Código Postal</strong></label><br>
            <input type="text" id="cod1" pInputText [(ngModel)]="selectedClinic.address.postcode1" style="width:100%" />
          </div>
          <div class="p-col-12 p-xl-4 p-lg-12 p-md-12 p-sm-12">
            <label for="nif"><strong>-</strong></label><br>
            <input type="text" id="cod2" pInputText [(ngModel)]="selectedClinic.address.postcode2" style="width:100%" />
          </div>
          <div class="p-col-12 p-xl-4 p-lg-12 p-md-12 p-sm-12">
            <label for="location"><strong>Localização</strong></label>
            <input type="text" id="location" pInputText [(ngModel)]="selectedClinic.address.addressLocation"
              style="width:100%" />
          </div>

          <div class="p-col-12 p-xl-4 p-lg-12 p-md-12 p-sm-12">
            <label for="phone1"><strong>Telefone</strong></label><br>
            <input type="text" id="phone1" [(ngModel)]="selectedClinic.contact.phone1" pInputText style="width:100%" />
          </div>
          <div class="p-col-12 p-xl-4 p-lg-12 p-md-12 p-sm-12">
            <label for="phone2"><strong>Telefone 2</strong></label><br>
            <input type="text" id="phone2" [(ngModel)]="selectedClinic.contact.phone2" pInputText style="width:100%" />
          </div>
          <div class=" p-col-12 p-xl-4 p-lg-12 p-md-12 p-sm-12">
            <label for="phone3"><strong>Telefone 3</strong></label><br>
            <input type="text" id="phone3" [(ngModel)]="selectedClinic.contact.phone3" pInputText style="width:100%" />
          </div>

          <hr>
        </div>

        <div class="p-col-4">
          <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
            <label for="notes"><strong>Notas</strong></label><br>
            <textarea rows="6" cols="32" [(ngModel)]="selectedClinic.notes" style="width:100%"
              pInputTextarea></textarea>
          </div>
          <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
            <label for="other"><strong>Outros contactos</strong></label><br>
            <textarea rows="6" cols="32" [(ngModel)]="selectedClinic.contact.other" style="width:100%"
              pInputTextarea></textarea>
          </div>
          <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
            <button (click)="associate()" class="btn btn-primary">Associar esta clínica</button>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
</div>

<p-dialog header="Ajuda" [modal]="true" [positionTop]="100" [(visible)]="openHelp"
  [style]="{'width':'70%', 'max-height':'200px'}">
  <div style="height:200px">

    Em construção.<br>
    Aqui estará um guião para ajudar a criar um contrato.
    <br>
    -----------------------------------
    Em primeiro lugar, deve verificar se os dados do cliente (a faturar) estão corretos.
    <br> se esses dados são sobre uma clínica, pode carregar em "copiar para clinica"
    <br>

  </div>
</p-dialog>