.bottom-right {
    position: absolute;
    top: -10px;
    right: -10px;
}

.ui-button-icon{
    font-size: 3em;
}

.dot {
    height: 22px;
    width: 22px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }