<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<div class="p-grid">
  <div class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" (click)="doSomething()" style="text-align: center">
    <p-card [style]="{color: 'black', width:'auto'}" styleClass="ui-card-shadow">
      <em class="pi pi-search" style="font-size:3em"></em><em class="pi pi-user" style="font-size:3em"></em>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Procurar por Cliente</strong></label>
      </p-footer>
    </p-card>
  </div>

  <div *ngIf="client_new" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" (click)="createClient()"
    style="text-align: center">
    <p-card [style]="{color: 'black', width:'auto'}" styleClass="ui-card-shadow">
      <em class="pi pi-user-plus" style="font-size:3em"></em>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Criar Potencial Cliente</strong></label>
      </p-footer>
    </p-card>
  </div>

  <!-- <div *ngIf="contract_new" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" (click)="createFullContract()"
    style="text-align: center">
    <p-card [style]="{color: 'black', width:'auto'}" styleClass="ui-card-shadow">
      <em class="pi pi-user-plus" style="font-size:3em"></em>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Registar Contrato Completo</strong></label>
      </p-footer>
    </p-card>
  </div>  -->

  <div *ngIf="contract_see" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" (click)="seeContractsUnfinished()"
    style="text-align: center">
    <p-card [style]="{color: 'black', width:'auto'}" styleClass="ui-card-shadow">
      <div style="position:relative">
        <em class="pi pi-briefcase" style="font-size:3em">
        </em>
        <span class="dot bottom-right" *ngIf="nrCont!=0 && nrContLoaded">
          <p style="font-size:13px; color:white"><strong>{{nrCont}}</strong></p>
        </span>
      </div>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Contratos por Concluir</strong></label>
      </p-footer>
    </p-card>
  </div>


  <div *ngIf="alerts" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" (click)="seeAlerts()" style="text-align: center">
    <p-card [style]="{color: 'black', width:'auto'}" styleClass="ui-card-shadow">
      <div style="position:relative">
        <em class="pi pi-bell" style="font-size:3em">
        </em>
        <span class="dot bottom-right" *ngIf="nrAlerts!=0 && nrAlertsLoaded">
          <p style="font-size:13px; color:white"><strong>{{nrAlerts}}</strong></p>
        </span>
      </div>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Alertas</strong></label>
      </p-footer>
    </p-card>
  </div>


  <div *ngIf="listagens" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" (click)="seeListagens()"
    style="text-align: center">
    <p-card [style]="{color: 'black', width:'auto'}" styleClass="ui-card-shadow">
      <em class="pi pi-list" style="font-size:3em"></em>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Listagens</strong></label><br>
        <p-dropdown [options]="lists" [(ngModel)]="selectedListagem" placeholder="Escolher Listagem" [showClear]="true">
        </p-dropdown>
      </p-footer>
    </p-card>
  </div>

  <!-- <div *ngIf="calendar" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" (click)="seeCalendar()" style="text-align: center">
    <p-card styleClass="ui-card-shadow" [style]="{color: 'black', width:'auto'}">
      <em class="pi pi-calendar" style="font-size:3em"></em>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Calendários para teste</strong></label>
      </p-footer>
    </p-card>
  </div> -->

  <div *ngIf="statistics" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" style="text-align: center" (click)="seeDashboard()">
    <p-card styleClass="ui-card-shadow" [style]="{color: 'black', width:'auto'}">
      <em class="pi pi-chart-bar" style="font-size:3em"></em>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Estatísticas</strong></label>
      </p-footer>
    </p-card>
  </div>

  <div *ngIf="schedules" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" style="text-align: center"
    (click)="doSchedules()">
    <p-card styleClass="ui-card-shadow" [style]="{color: 'black', width:'auto'}">
      <div style="position:relative">
        <em class="pi pi-clock" style="font-size:3em">
        </em>
        <span class="dot bottom-right" *ngIf="number!=0 && numberloaded">
          <p style="font-size:13px; color:white"><strong>{{number}}</strong></p>
        </span>
      </div>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Marcar Agendamentos</strong></label>
      </p-footer>
    </p-card>
  </div>

  <div *ngIf="schedules" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" style="text-align: center"
    (click)="seeSchedules()">
    <p-card styleClass="ui-card-shadow" [style]="{color: 'black', width:'auto'}">
      <div style="position:relative">
        <em class="pi pi-clock" style="font-size:3em">

        </em>
        <em class="material-icons" style="font-size:2.5em">
          build
        </em>
        <span class="dot bottom-right" *ngIf="instAg!=0 && instAgLoaded">
          <p style="font-size:13px; color:white"><strong>{{instAg}}</strong></p>
        </span>
      </div>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Ver Agendamentos (Instalações)</strong></label>
      </p-footer>
    </p-card>
  </div>

  <div *ngIf="schedules" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" style="text-align: center"
    (click)="seeTSchedules()">
    <p-card styleClass="ui-card-shadow" [style]="{color: 'black', width:'auto'}">
      <div style="position:relative">
        <em class="pi pi-clock" style="font-size:3em">
        </em>
        <em class="material-icons" style="font-size:2.5em">
          speaker_notes
        </em>
        <span class="dot bottom-right" *ngIf="trainAg!=0 && trainAgLoaded">
          <p style="font-size:13px; color:white"><strong>{{trainAg}}</strong></p>
        </span>
      </div>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Ver Agendamentos (Formações)</strong></label>
      </p-footer>
    </p-card>
  </div>

  <div *ngIf="schedules" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" style="text-align: center"
    (click)="seeOtherSchedules()">
    <p-card styleClass="ui-card-shadow" [style]="{color: 'black', width:'auto'}">
      <div style="position:relative">
        <em class="pi pi-clock" style="font-size:3em">
        </em>
        <span class="dot bottom-right" *ngIf="otherAg!=0 && otherAgLoaded">
          <p style="font-size:13px; color:white"><strong>{{otherAg}}</strong></p>
        </span>
      </div>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Ver Agendamentos (Outros Eventos)</strong></label>
      </p-footer>
    </p-card>
  </div>

  <div *ngIf="doInstallations" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" style="text-align: center"
    (click)="userInstallationsToDo()">
    <p-card styleClass="ui-card-shadow">
      <div style="position:relative">
        <em class="material-icons" style="font-size:3em">
          build
        </em>
        <span class="dot bottom-right" *ngIf="userInst!=0 && userInstLoaded">
          <p style="font-size:13px; color:white"><strong>{{userInst}}</strong></p>
        </span>
      </div>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Instalações</strong></label>
      </p-footer>
    </p-card>
  </div>

  <!-- <div *ngIf="doInstallations" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" style="text-align: center"
    (click)="userInstallationsAditamentos()">
    <p-card styleClass="ui-card-shadow">
      <div style="position:relative">
        <em class="material-icons" style="font-size:3em">
          build
        </em>
        <span class="dot bottom-right" *ngIf="userInst!=0 && userInstLoaded">
          <p style="font-size:13px; color:white"><strong>{{userInst}}</strong></p>
        </span>
      </div>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Instalações PA</strong></label>
      </p-footer>
    </p-card>
  </div> -->

  <div *ngIf="doTrainings" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" style="text-align: center"
    (click)="userTrainingsToDo()">
    <p-card styleClass="ui-card-shadow">
      <div style="position:relative">
        <em class="material-icons" style="font-size:3em">
          speaker_notes
        </em>
        <span class="dot bottom-right" *ngIf="userTrain!=0 && userTrainLoaded">
          <p style="font-size:13px; color:white"><strong>{{userTrain}}</strong></p>
        </span>
      </div>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Formações</strong></label>
      </p-footer>
    </p-card>
  </div>

  <div class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" style="text-align: center" (click)="userOtherEventsToDo()">
    <p-card styleClass="ui-card-shadow">
      <div style="position:relative">
        <em class="pi pi-comments" style="font-size:3em"></em>
        <span class="dot bottom-right" *ngIf="userOthers!=0 && userOthersLoaded">
          <p style="font-size:13px; color:white"><strong>{{userOthers}}</strong></p>
        </span>
      </div>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Outros Eventos</strong></label>
      </p-footer>
    </p-card>
  </div>

  <div *ngIf="users_search" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" (click)="searchUsers()"
    style="text-align: center">
    <p-card [style]="{color: 'black', width:'auto'}" styleClass="ui-card-shadow">
      <em class="pi pi-users" style="font-size:3em"></em>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Ver Utilizadores</strong></label>
      </p-footer>
    </p-card>
  </div>

  <div *ngIf="users_new" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" (click)="createNewUser()"
    style="text-align: center">
    <p-card [style]="{color: 'black', width:'auto'}" styleClass="ui-card-shadow">
      <em class="pi pi-user" style="font-size:3em"></em>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Registar Utilizador</strong></label>
      </p-footer>
    </p-card>
  </div>

  <div *ngIf="definitions" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" (click)="tools()" style="text-align: center">
    <p-card [style]="{color: 'black', width:'auto'}" styleClass="ui-card-shadow">
      <em class="pi pi-cog" style="font-size:3em"></em>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Definições</strong></label>
      </p-footer>
    </p-card>
  </div>

  <div *ngIf="updates" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" (click)="manageUpdates()"
    style="text-align: center">
    <p-card [style]="{color: 'black', width:'auto'}" styleClass="ui-card-shadow">
      <em class="pi pi-sliders-v" style="font-size:3em"></em>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Gestão de Versões</strong></label><br>
        <p-dropdown [options]="apps" [(ngModel)]="selectedGDB" placeholder="Escolher App/DB" [showClear]="true">
        </p-dropdown>
      </p-footer>
    </p-card>
  </div>

  <div *ngIf="updates" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" (click)="doUpdates()" style="text-align: center">
    <p-card [style]="{color: 'black', width:'auto'}" styleClass="ui-card-shadow">
      <em class="pi pi-refresh" style="font-size:3em"></em>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Atualizações</strong></label><br>
        <p-dropdown [options]="apps" [(ngModel)]="selectedDB" placeholder="Escolher App/DB" [showClear]="true">
        </p-dropdown>
      </p-footer>
    </p-card>
  </div>

  <div *ngIf="activations" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" (click)="doActivations()"
    style="text-align: center">
    <p-card [style]="{color: 'black', width:'auto'}" styleClass="ui-card-shadow">
      <em class="pi pi-key" style="font-size:3em"></em>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Ativações</strong></label><br>
        <p-dropdown [options]="appsAtiv" [(ngModel)]="selectedDB" placeholder="Escolher App" [showClear]="true">
        </p-dropdown>
      </p-footer>
    </p-card>
  </div>

  <div *ngIf="novidash" class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" (click)="novidash()" style="text-align: center">
    <p-card styleClass="ui-card-shadow" [style]="{color: 'black', width:'auto'}">
      <em class="pi pi-chart-bar" style="font-size:3em"></em>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Novidash</strong></label><br>
        <p-dropdown [options]="prefs" [(ngModel)]="selectedPref" placeholder="Escolher Preferencia" [showClear]="true">
        </p-dropdown>
      </p-footer>
    </p-card>
  </div>

  <div class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-6" (click)="logout()" style="text-align: center">
    <p-card [style]="{color: 'black', width:'auto'}" styleClass="ui-card-shadow">
      <em class="pi pi-sign-out" style="font-size:3em"></em>
      <p-footer>
        <label style="font-size: 1.5em"><strong>Logout</strong></label>
      </p-footer>
    </p-card>
  </div>



</div>