<div style="background-color: white;width:100%;height:auto;">
  <div id="title">
    <span>Intervenções Diárias por Utilizador</span>
  </div>
</div>
<div id="chartwrapper">
  <p-chart id="chart" type="line" [data]="dados" [options]="options"></p-chart>
</div>