<div class="p-grid  p-justify-center ">
  <div class="p-col-12 p-xl-4 p-lg-4 p-md-4 p-sm-12 ">
    <label for="nif"><strong>Produto</strong></label>
    <input type="text" id="nif" [(ngModel)]="type" pInputText style="background-color:white;color:black"
      readonly class="form-control" />
  </div>
  <div class="p-col-6 p-xl-4 p-lg-4 p-md-4 p-sm-6 ">
    <label for="nif"><strong>Adquirido Em</strong></label>
    <input type="text" id="nif" [ngModel]="clinic.clientSince | dateTimeFormatFilter:'YYYY-MM-DD'" pInputText
      style="background-color:white;color:black" readonly class="form-control" />
  </div>
  <div class="p-col-6 p-xl-4 p-lg-4 p-md-4 p-sm-6 ">
    <label for="nif"><strong>Dívida</strong></label>
    <input type="text" id="nif" [(ngModel)]="product_divida" pInputText style="background-color:white;color:black"
      readonly class="form-control" />
  </div>
</div>
