
:host ::ng-deep .ui-calendar {
    float: right;
    border-radius: 0;
    padding:0.5em;
}

:host ::ng-deep .ui-inputtext {
    font-size:0.9em;
}

:host ::ng-deep .ui-corner-all {
    border-radius: 0;
}

:host ::ng-deep .ui-datepicker {
    left: -213px !important;
    top: 33px !important;
}


#lab {
    float:right;
    font-size: 0.8em;
    padding:0.5em;
    color:white;
    cursor: pointer;
}