<div style="background-color: #ff9a00;">
  <i class="pi pi-info-circle" (click)="openHelp=!openHelp" style="float:right;font-size: 2em;color: white;"></i>
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Instalações"></app-header>
</div>
<div *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<br>
<br>
<div *ngIf="!loading">
  <div class="p-grid">


    <div class="p-grid p-col-10 p-lg-10 p-xl-10 p-md-10 p-sm-10">
      <p-card *ngFor="let d of data" [style]="{color: '#ff9a00', width:'15em'}"
        style="margin-right: 10px;margin-bottom:10px" styleClass="ui-card-shadow">
        <p-header>
          <div style="background-color:#333333;top:10px;right:10px;text-align: center;"
            *ngIf="d.installation == undefined">
            <strong>Aditamento (PA)</strong>
          </div>
          <div style="background-color:#333333;top:10px;right:10px;text-align: center;"
            *ngIf="d.installation != undefined">
            <strong>Instalação (PP+PA)</strong>
          </div>
        </p-header>

        <div style="color:black" *ngIf="d.installation != undefined">
          <div *ngFor="let clinic of d.installation.clinicList">
            <strong>Clínica:</strong> {{clinic.name}}<br>
          </div>
          <strong>Data:</strong> {{d.installation.installationDate | dateTimeFormatFilter:'YYYY-MM-DD HH:mm'}}
          <!-- <strong>Postos: </strong>{{d.contract.qtyMainStations}} PP + {{d.contract.qtyAddStations}} PA<br> -->

          <strong>Notas:</strong>
          <div *ngIf="d.installation.notes == undefined">-</div>
          <div *ngIf="d.installation.notes != undefined">{{d.installation.notes}}</div><br>
        </div>
        <div style="color:black" *ngIf="d.installation == undefined">
          <strong>Clínica:</strong> {{d.aditamento.clinicId.name}}<br>
          <strong>Data:</strong> {{d.aditamento.data | dateTimeFormatFilter:'YYYY-MM-DD HH:mm'}}
          <!-- <strong>Postos: </strong>{{d.aditamento.mainPostos}} PP + {{d.aditamento.addPostos}} PA<br> -->
          <strong>Notas:</strong>
          <div *ngIf="d.aditamento.notas == undefined">-</div>
          <div *ngIf="d.aditamento.notas != undefined">{{d.aditamento.notas}}</div><br>
        </div>
        <p-footer>
          <div class="p-grid ">
            <div class="p-col-6 p-lg-6 p-xl-6 p-md-6 p-sm-6">
              <div *ngIf=" d.installation != undefined && d.installation.ready == false">
                <button *ngIf="todayInstall(d.installation.installationDate)==1" pButton label="Instalar"
                  (click)="install(d.installation)" class="ui-button-rounded ui-button-secondary"
                  style="display: block; margin: 0 auto; border: 3px solid red "
                  pTooltip="Preencher dados de login, produtos e ativação"></button>

                <button *ngIf="todayInstall(d.installation.installationDate)==2" pButton label="Instalar"
                  (click)="install(d.installation)" class="ui-button-rounded ui-button-secondary"
                  style="display: block; margin: 0 auto; border-color: blue "
                  pTooltip="Preencher dados de login, produtos e ativação"></button>

                <button *ngIf="todayInstall(d.installation.installationDate)==3" pButton label="Instalar"
                  (click)="install(d.installation)" class="ui-button-rounded ui-button-secondary"
                  style="display: block; margin: 0 auto; border: 3px solid red; background-color:red; color:white "
                  pTooltip="Preencher dados de login, produtos e ativação"></button>

                <button *ngIf="todayInstall(d.installation.installationDate)==4" pButton label="Instalar"
                  (click)="install(d.installation)" class="ui-button-rounded ui-button-secondary"
                  style="display: block; margin: 0 auto; border-color: black"
                  pTooltip="Preencher dados de login, produtos e ativação"></button>
              </div>
              <div *ngIf=" d.installation != undefined && d.installation.ready == true">
                <button *ngIf="todayInstall(d.installation.installationDate)==1" pButton label="Editar"
                  (click)="install(d.installation)" class="ui-button-rounded ui-button-secondary"
                  style="display: block; margin: 0 auto; border: 3px solid red " pTooltip="Corrigir dados"></button>

                <button *ngIf="todayInstall(d.installation.installationDate)==2" pButton label="Editar"
                  (click)="install(d.installation)" class="ui-button-rounded ui-button-secondary"
                  style="display: block; margin: 0 auto; border-color: blue " pTooltip="Corrigir dados"></button>

                <button *ngIf="todayInstall(d.installation.installationDate)==3" pButton label="Editar"
                  (click)="install(d.installation)" class="ui-button-rounded ui-button-secondary"
                  style="display: block; margin: 0 auto; border: 3px solid red; background-color:red; color:white "
                  pTooltip="Corrigir dados"></button>

                <button *ngIf="todayInstall(d.installation.installationDate)==4" pButton label="Editar"
                  (click)="install(d.installation)" class="ui-button-rounded ui-button-secondary"
                  style="display: block; margin: 0 auto; border-color: black" pTooltip="Corrigir dados"></button>
              </div>
              <div *ngIf="d.installation != undefined && d.installation.ready == true">
                <button *ngIf="todayInstall(d.installation.installationDate)==1" pButton label="Concluir"
                  (click)="finish(d.installation)" class="ui-button-rounded ui-button-secondary"
                  style="display: block; margin: 0 auto; border: 3px solid red " pTooltip="Terminar processo"></button>

                <button *ngIf="todayInstall(d.installation.installationDate)==2" pButton label="Concluir"
                  (click)="finish(d.installation)" class="ui-button-rounded ui-button-secondary"
                  style="display: block; margin: 0 auto; border-color: blue " pTooltip="Terminar processo"></button>

                <button *ngIf="todayInstall(d.installation.installationDate)==3" pButton label="Concluir"
                  (click)="finish(d.installation)" class="ui-button-rounded ui-button-secondary"
                  style="display: block; margin: 0 auto; border: 3px solid red; background-color:red; color:white "
                  pTooltip="Terminar processo"></button>

                <button *ngIf="todayInstall(d.installation.installationDate)==4" pButton label="Concluir"
                  (click)="finish(d.installation)" class="ui-button-rounded ui-button-secondary"
                  style="display: block; margin: 0 auto; border-color: black" pTooltip="Terminar processo"></button>
              </div>

              <div *ngIf="d.aditamento != undefined">
                <button *ngIf="todayInstall(d.aditamento.data)==1" pButton label="Instalar"
                  (click)="installAd(d.aditamento)" class="ui-button-rounded ui-button-secondary"
                  style="display: block; margin: 0 auto; border: 3px solid red " pTooltip="Atualizar acessos e terminar instalação"></button>

                <button *ngIf="todayInstall(d.aditamento.data)==2" pButton label="Instalar"
                  (click)="installAd(d.aditamento)" class="ui-button-rounded ui-button-secondary"
                  style="display: block; margin: 0 auto; border-color: blue " pTooltip="Atualizar acessos e terminar instalação"></button>

                <button *ngIf="todayInstall(d.aditamento.data)==3" pButton label="Instalar"
                  (click)="installAd(d.aditamento)" class="ui-button-rounded ui-button-secondary"
                  style="display: block; margin: 0 auto; border: 3px solid red; background-color:red; color:white "
                  pTooltip="Atualizar acessos e terminar instalação"></button>

                <button *ngIf="todayInstall(d.aditamento.data)==4" pButton label="Instalar"
                  (click)="installAd(d.aditamento)" class="ui-button-rounded ui-button-secondary"
                  style="display: block; margin: 0 auto; border-color: black" pTooltip="Atualizar acessos e terminar instalação"></button>

              </div>
            </div>
            <div class="p-col-6 p-lg-6 p-xl-6 p-md-6 p-sm-6" style="text-align: right">
              <button pButton type="button" (click)="editSchedule(d)" icon="pi pi-pencil"
                class="ui-button-rounded ui-button-secondary" style="border-color:black"
                pTooltip="Alterar data de instalação"></button>
            </div>

          </div>
        </p-footer>
      </p-card>
    </div>

    <app-event-resume-view *ngIf="dataLoaded" [installations]="data"></app-event-resume-view>
  </div>
</div>

<p-dialog *ngIf="display" header="Alterar instalação" [(visible)]="display">
  <div *ngIf="selectedInstallation != null">
    <strong>Data anterior:</strong> {{selectedInstallation.installationDate | dateTimeFormatFilter:'YYYY-MM-DD HH:mm' }}
    <br>
    <br>
    <strong>Nova Data</strong> <br>
    <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2025" appendTo="body"
      [(ngModel)]="newInstDate" dateFormat="yy-mm-dd" [showTime]="true"></p-calendar>
    <br>
    <br>
  </div>
  <div *ngIf="selectedInstallation == null">
    <strong>Data anterior:</strong> {{selectedAditamento.data | dateTimeFormatFilter:'YYYY-MM-DD HH:mm' }}
    <br>
    <br>
    <strong>Nova Data</strong> <br>
    <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2025" appendTo="body"
      [(ngModel)]="newInstDate" dateFormat="yy-mm-dd" [showTime]="true"></p-calendar>
    <br>
    <br>
  </div>

  <button pButton label="Confirmar" (click)="confirmInstallationDateAlteration()"></button>

</p-dialog>

<p-dialog header="Ajuda" [modal]="true" [positionTop]="100" [(visible)]="openHelp"
  [style]="{'width':'70%', 'max-height':'400px'}">
  <div style="height:400px">

    Em contrução.<br>
    Aqui estará um guião para ajudar a visualizar os agendamentos.<br>
    --------------------------------------------------------------------------------------------------<br>
    São apresentadas as instalações a efetuar atribuidas ao utilizador com login efetuado.<br>
    Instalações de posto principal requerem o preenchimento de campos sobre login, password e (possivelmente) ativação
    de produtos.<br>
    Indicando conclusão do serviço, a instalação é encaminhada para trabalhos administrativos, sendo ocultado deste
    painel.<br>
    Relativamente aos aditamentos, em casos de apenas ser necessário criar postos adicionais, o utilizador pode ver e
    editar os acessos da clínica e concluir.<br>
    A funcionalidade de dividir a instalação (indicar que já instalou X e falta T-X) apenas está disponivel em aditamentos de postos adicionais.
  </div>
</p-dialog>