<div style="background-color: #ff9a00;">
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Associação a contrato"></app-header>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<div class="ui-g" style="background-color: white">
  <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12">
    <h4 style="color:red"> AINDA NÃO ESTÁ TERMINADO.</h4>
  </div>
  <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12">
    <app-view-header title="Cliente"></app-view-header>
    <label for="pp">Escolher cliente </label><br>
    <p-dropdown *ngIf="clientsLoaded" [options]="clients" placeholder="Cliente" [(ngModel)]="selectedClient"
      optionLabel="name" [showClear]="true" [style]="{'width':'100%'}" filter="true">
    </p-dropdown>
  </div>

  <div class="ui-g-12 ui-xl-6 ui-lg-6 ui-md-6">
    <app-view-header title="Novo Contrato"></app-view-header>
    <label *ngIf="typesLoaded" for="email"> Tipo Contrato </label><br>

    <p-dropdown *ngIf="typesLoaded" [options]="codes" placeholder="Descrição" [(ngModel)]="selectedType"
      optionLabel="descr" [showClear]="true" [style]="{'max-width': '100%'}">
    </p-dropdown><br>

    <label for="pa"> Proposta </label><br>
    <input type="text" pInputText id="proposta" [(ngModel)]="proposta" /><br>
    <label style="font-size:0.7em">Preencher "doação", se for o caso</label>
  </div>

  <div class="ui-g-12 ui-xl-6 ui-lg-6 ui-md-6">
    <app-view-header title="Postos"></app-view-header>
    <label for="pp" *ngIf="false"> Postos Principais </label><br>
    <input type="number" min="0" pInputText [pKeyFilter]="numbReg" id="pp" *ngIf="false" [(ngModel)]="pp" /><br>
    <label for="pa"> Postos Adicionais </label><br>
    <input type="number" min="0" pInputText [pKeyFilter]="numbReg" id="QTYADD" [(ngModel)]="pa" /><br>
  </div>
  <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12">
    <app-view-header title="Clínicas"></app-view-header>
    <button *ngIf="selectedInstallation != undefined" pButton type="button" icon="pi pi-plus"
      class="ui-button-rounded ui-button-secondary" (click)="addClinic()" label="Nova Clínica"
      style="float: right;"></button>
    <button *ngIf="selectedInstallation != undefined" pButton type="button" icon="pi pi-plus"
      class="ui-button-rounded ui-button-secondary" (click)="associateClinicToInstallation()" label="Associar"
      style="float: right;"></button>
    <div class="p-grid">
      <div class="p-col-12 p-xl-8 p-lg-8 p-md-10 p-sm-10" *ngIf=" installationsLoaded">
        <label for="i"><strong>Instalação</strong></label><br>
        <p-dropdown [options]="installations" placeholder="Instalação" [(ngModel)]="selectedInstallation"
          optionLabel="installationName" [showClear]="true" [style]="{'max-width': '100%'}"></p-dropdown><br><br>
      </div>
    </div>

    <div *ngIf="selectedInstallation != undefined">
      <div class="p-grid">
        <p-card *ngFor="let clinic of selectedInstallation.clinicList" header="Clínica"
          [style]="{color: 'orange', width:'auto'}" style="margin-right: 10px" styleClass="ui-card-shadow">
          <p-footer>
            <div>
              <div class="form-group">
                <label for="nif"><strong>Nome</strong></label>
                <div class="ui-inputgroup">
                  <input type="text" id="nif" pInputText [(ngModel)]="clinic.name" class="form-control"
                    *ngIf="clinic.clinicId == undefined" />
                  <input type="text" id="nif" pInputText [(ngModel)]="clinic.name" class="form-control" readonly
                    *ngIf="clinic.clinicId != undefined" />
                </div>
                <label for="nif"><strong>Postos Adicionais</strong></label><br>
                <input type="number" min="0" id="padd" [(ngModel)]="clinic.addPostos" pInputText style="width:100%" />
              </div>
              <label for="notes"><strong>Notas</strong></label><br>
              <textarea rows="5" cols="32" [(ngModel)]="clinic.notes" pInputTextarea></textarea>
              <br>
              <label for="nif" *ngIf="clinic.clinicId == undefined"><strong>Contactos</strong></label>
              <div class="form-group" *ngIf="clinic.clinicId == undefined">
                <button pButton (click)="addContact(clinic)" icon="pi pi-pencil"></button>
                <button pButton label="Copiar Dados" class="ui-button-rounded ui-button-secondary"
                  (click)="keepClientContact(clinic)"></button>

              </div>
              <label for="nif" *ngIf="clinic.clinicId == undefined"><strong>Morada</strong></label>
              <div class="form-group" *ngIf="clinic.clinicId == undefined">
                <button pButton (click)="addAddress(clinic)" icon="pi pi-pencil"></button>
                <button pButton label="Copiar Dados" class="ui-button-rounded ui-button-secondary"
                  (click)="keepClientAddress(clinic)"></button>

              </div>
              <button pButton *ngIf="clinic.clinicId == undefined" (click)="removeClinic(clinic)"
                icon="pi pi-trash"></button>
            </div>
          </p-footer>
        </p-card>
      </div>
    </div>
  </div>

  <div *ngIf="associatePlease">
    <p-dialog header="Associar" [positionTop]="100" [(visible)]="associatePlease"
      [style]="{'width':'70%', 'max-height':'200px'}">
      <p-dropdown *ngIf="!clinicLoading" [options]="clinics" [(ngModel)]="selectedClinic"
        placeholder="Selecionar uma Clínica" optionLabel="name" filter="true" [style]="{'width':'100%'}"
        [showClear]="true" (onChange)="event($event)"></p-dropdown>
  
      <div *ngIf="selectedClinic == undefined">
        <br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
      <div *ngIf="selectedClinic != undefined">
        <br>
        <div class="p-grid">
  
          <div class="p-col-8 p-grid">
  
            <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
              <label for="name"><strong>Nome</strong></label><br>
              <input type="text" id="name" pInputText style="width:100%" [(ngModel)]="selectedClinic.name" />
            </div>
  
            <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
              <label for="email"><strong>Email</strong></label><br>
              <input type="text" [(ngModel)]="selectedClinic.contact.email" id="notes" pInputText style="width:100%" />
            </div>
  
            <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
              <label for="address"><strong>Morada</strong></label><br>
              <input type="text" id="address" [(ngModel)]="selectedClinic.address.address" style="width:100%"
                pInputText />
            </div>
            <div class="p-col-12 p-xl-4 p-lg-12 p-md-12 p-sm-12">
              <label for="nif"><strong>Código Postal</strong></label><br>
              <input type="text" id="cod1" pInputText [(ngModel)]="selectedClinic.address.postcode1" style="width:100%" />
            </div>
            <div class="p-col-12 p-xl-4 p-lg-12 p-md-12 p-sm-12">
              <label for="nif"><strong>-</strong></label><br>
              <input type="text" id="cod2" pInputText [(ngModel)]="selectedClinic.address.postcode2" style="width:100%" />
            </div>
            <div class="p-col-12 p-xl-4 p-lg-12 p-md-12 p-sm-12">
              <label for="location"><strong>Localização</strong></label>
              <input type="text" id="location" pInputText [(ngModel)]="selectedClinic.address.addressLocation"
                style="width:100%" />
            </div>
  
            <div class="p-col-12 p-xl-4 p-lg-12 p-md-12 p-sm-12">
              <label for="phone1"><strong>Telefone</strong></label><br>
              <input type="text" id="phone1" [(ngModel)]="selectedClinic.contact.phone1" pInputText style="width:100%" />
            </div>
            <div class="p-col-12 p-xl-4 p-lg-12 p-md-12 p-sm-12">
              <label for="phone2"><strong>Telefone 2</strong></label><br>
              <input type="text" id="phone2" [(ngModel)]="selectedClinic.contact.phone2" pInputText style="width:100%" />
            </div>
            <div class=" p-col-12 p-xl-4 p-lg-12 p-md-12 p-sm-12">
              <label for="phone3"><strong>Telefone 3</strong></label><br>
              <input type="text" id="phone3" [(ngModel)]="selectedClinic.contact.phone3" pInputText style="width:100%" />
            </div>
  
            <hr>
          </div>
  
          <div class="p-col-4">
            <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
              <label for="notes"><strong>Notas</strong></label><br>
              <textarea rows="6" cols="32" [(ngModel)]="selectedClinic.notes" style="width:100%"
                pInputTextarea></textarea>
            </div>
            <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
              <label for="other"><strong>Outros contactos</strong></label><br>
              <textarea rows="6" cols="32" [(ngModel)]="selectedClinic.contact.other" style="width:100%"
                pInputTextarea></textarea>
            </div>
            <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
              <button (click)="associate()" class="btn btn-primary">Associar esta clínica</button>
            </div>
          </div>
        </div>
      </div>
    </p-dialog>
  </div>

  <button pButton label="Guardar" (click)="guardar()"></button>
</div>