<div style="background-color: #ff9a00;">
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Gestão de KPI"></app-header>
</div>

<p-table [columns]="cols" [value]="kpis" emptymessage="Não há KPIs registados" selectionMode="single"
  [(selection)]="selectedKpi" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="7">
  <ng-template pTemplate="caption">
    Lista de KPI
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="word-break: break-all">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns" style="text-align: center; word-break: break-all">
        {{rowData[col.field]}}
        <br *ngIf="col.field == 'icon'">
        <i [class]="rowData[col.field]" *ngIf="col.field == 'icon'"></i>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Novo"></button>
      <button type="button" pButton icon="pi pi-pencil" (click)="showDialogToEdit()" label="Editar" style="margin-left:10px;background-color:#ff9a00;border-color:#ff9a00" [disabled]="selectedKpi==undefined"></button>
    </div>
  </ng-template>
</p-table>

<p-dialog header="KPI" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
 >
 <!--  -->
  <div class="p-grid" *ngIf="displayDialog">
    <div class="p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">

      <label for="name"><strong>Título</strong></label><br>
      <input type="text" pInputText [(ngModel)]="selectedKpi.titulo" style="width:100%" />

      <label for="name"><strong>Icon</strong></label><br>
      <label style="font-size: 0.8em"><strong>Exemplo:</strong>fas fa-cash-register fa-3x</label>
      <input type="text" pInputText [(ngModel)]="selectedKpi.icon" style="width:100%" />

      <label for="name"><strong>Router Link</strong></label><br>
      <input type="text" pInputText [(ngModel)]="selectedKpi.routerlink" style="width:100%" />

      <label for="name"><strong>Código</strong></label><br>
      <input type="text" pInputText [(ngModel)]="selectedKpi.codigo" style="width:100%" />

      <label for="name"><strong>Sufixo</strong></label><br>
      <input type="text" pInputText [(ngModel)]="selectedKpi.sufixo" style="width:100%" />


      <label for="name"><strong>Categoria Base</strong></label><br>
      <p-dropdown appendTo="body" [options]="categorias" [(ngModel)]="selectedKpi.categoriaBase" placeholder="Categoria" [showClear]="true">
      </p-dropdown>
    </div>
    <div class="p-col-12 p-xl-6 p-lg-6 p-md-6 p-sm-12">
      <label for="name"><strong>Visualização do icon</strong></label><br>
      <i [class]="selectedKpi.icon" class="fa-3x"></i>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton label="Registar" (click)="saveKpi()" *ngIf="!edit"></button>
      <button pButton label="Atualizar" (click)="updateKpi()" *ngIf="edit"></button>
    </div>
  </p-footer>
</p-dialog>