<div class="p-grid ">
  <br>

  <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
    <app-view-header title="Dados das empresas"></app-view-header>
  </div>

  <div class="p-col-9 p-xl-9 p-lg-9 p-md-9 p-sm-9">
    <label><strong>Nome A</strong></label><br>
    <input type="text" pInputText [(ngModel)]="ng.nomea" style="width: 100%" [readonly]="viewOnly" />
  </div>
  <div class="p-col">
    <label><strong>NIF A</strong></label><br>
    <input type="text" pInputText [(ngModel)]="ng.nifa" style="width: 100%" [readonly]="viewOnly" />
  </div>
  <div class="p-col-9 p-xl-9 p-lg-9 p-md-9 p-sm-9">
    <label><strong>Nome B</strong></label><br>
    <input type="text" pInputText [(ngModel)]="ng.nomeb" style="width: 100%" [readonly]="viewOnly" />
  </div>
  <div class="p-col">
    <label><strong>NIF B</strong></label><br>
    <input type="text" pInputText [(ngModel)]="ng.nifb" style="width: 100%" [readonly]="viewOnly" />
  </div>
  <div class="p-col-9 p-xl-9 p-lg-9 p-md-9 p-sm-9">
    <label><strong>Nome C</strong></label><br>
    <input type="text" pInputText [(ngModel)]="ng.nomec" style="width: 100%" [readonly]="viewOnly" />
  </div>
  <div class="p-col">
    <label><strong>NIF C</strong></label><br>
    <input type="text" pInputText [(ngModel)]="ng.nifc" style="width: 100%" [readonly]="viewOnly" />
  </div>
  <div class="p-col-9 p-xl-9 p-lg-9 p-md-9 p-sm-9">
    <label><strong>Nome D</strong></label><br>
    <input type="text" pInputText [(ngModel)]="ng.nomed" style="width: 100%" [readonly]="viewOnly" />
  </div>
  <div class="p-col">
    <label><strong>NIF D</strong></label><br>
    <input type="text" pInputText [(ngModel)]="ng.nifd" style="width: 100%" [readonly]="viewOnly" />
  </div>

  <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
    <app-view-header title="Postos, sites e servidores"></app-view-header>
  </div>

  <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6">
    <label><strong>Postos</strong></label><br>
    <input type="number" min="0" pInputText [(ngModel)]="ng.postos" style="width: 100%" [readonly]="viewOnly" />
  </div>
  <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6">
    <label><strong>Sites</strong></label><br>
    <input type="number" min="0" pInputText [(ngModel)]="ng.sites" style="width: 100%" [readonly]="viewOnly" />
  </div>
  <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6">
    <label><strong>Servidores</strong></label><br>
    <input type="number" min="0" pInputText [(ngModel)]="ng.servidores" style="width: 100%" [readonly]="viewOnly" />
  </div>

  <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
    <app-view-header title="Dados da máquina servidora"></app-view-header>
  </div>

  <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6">
    <label><strong>Mac</strong></label><br>
    <input type="text" pInputText [(ngModel)]="ng.mac" style="width: 100%" [readonly]="viewOnly" />
  </div>
  <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6">
    <label><strong>Usar Mac</strong></label><br>
    <p-dropdown appendTo="body" [options]="usarMac" [(ngModel)]="ng.usarmac" [style]="{width:'100%'}"
      [readonly]="viewOnly"></p-dropdown>
    <!-- <input type="text" pInputText [(ngModel)]="ng.usarMac" style="width: 100%" [readonly]="viewOnly" /> -->
  </div>

  <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
    <app-view-header title="Ativação"></app-view-header>
  </div>
  <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6">
    <label><strong>Aluguer Mensal</strong></label><br>
    <p-dropdown appendTo="body" [options]="aluguerMensal" [(ngModel)]="ng.aluguerMensal"
      (onChange)="changeMensal($event)" [style]="{width:'100%'}" [readonly]="viewOnly"></p-dropdown>
    <!-- <input type="text" pInputText [(ngModel)]="ng.aluguerMensal" style="width: 100%" [readonly]="viewOnly" /> -->
  </div>
  <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6">
    <label><strong>Aluguer Anual</strong></label><br>
    <p-dropdown appendTo="body" [options]="anamnese" [(ngModel)]="ng.aluguerAnual" (onChange)="changeAnual($event)"
      [style]="{width:'100%'}" [readonly]="viewOnly"></p-dropdown>
    <!-- <input type="text" pInputText [(ngModel)]="ng.aluguerAnual" style="width: 100%" [readonly]="viewOnly" /> -->
  </div>
  <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6">
    <label><strong>Venda</strong></label><br>
    <p-dropdown appendTo="body" [options]="venda" [(ngModel)]="ng.venda" (onChange)="changeVenda($event)"
      [style]="{width:'100%'}" [readonly]="viewOnly"></p-dropdown>
    <!-- <input type="text" pInputText [(ngModel)]="ng.venda" style="width: 100%" [readonly]="viewOnly" /> -->
  </div>
  <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6">
    <label><strong>Poduto</strong></label><br>
    <input type="text" pInputText [(ngModel)]="ng.produto" style="width: 100%" [readonly]="viewOnly" />
  </div>


  <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6">
    <label><strong>Validade</strong></label><br>
    <input type="number" min="0" pInputText [(ngModel)]="ng.validade" style="width: 100%" [readonly]="viewOnly" />
  </div>
  <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6" *ngIf="viewOnly">
    <label><strong>Data Início</strong></label><br>
    <input type="text" pInputText [ngModel]="ng.datainicio | dateTimeFormatFilter : 'YYYY-MM-DD'" style="width: 100%"
      [readonly]="viewOnly" />
  </div>
  <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6" *ngIf="!viewOnly">
    <label><strong>Data Início</strong></label><br>
    <p-calendar [monthNavigator]="true" [yearNavigator]="true" appendTo="body" yearRange="2018:2025" [(ngModel)]="ng.datainicio" dateFormat="yy-mm-dd"></p-calendar>
  </div>
  <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6" *ngIf="viewOnly">
    <label><strong>Data Ativacao</strong></label><br>
    <input type="text" pInputText [ngModel]="ng.dataactivacao | dateTimeFormatFilter : 'YYYY-MM-DD'" style="width: 100%"
      [readonly]="viewOnly" />
  </div>
  <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6" *ngIf="!viewOnly">
    <label><strong>Data Ativacao</strong></label><br>
    <p-calendar [monthNavigator]="true" [yearNavigator]="true"  yearRange="2018:2025" appendTo="body" [(ngModel)]="ng.dataactivacao" dateFormat="yy-mm-dd"></p-calendar>
  </div>
  <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6">
    <label><strong>Ativar</strong></label><br>
    <p-dropdown appendTo="body" [options]="ativar" [(ngModel)]="ng.ativar" [style]="{width:'100%'}"
      [readonly]="viewOnly"></p-dropdown>
    <!-- <input type="text" pInputText [(ngModel)]="ng.ativar" style="width: 100%" [readonly]="viewOnly" /> -->
  </div>

  <div class="p-col-12 p-xl-12 p-lg-12 p-md-12 p-sm-12">
    <app-view-header title="Módulos adicionais"></app-view-header>
  </div>

  <div class="p-col-6 p-xl-3 p-lg-3 p-md-3 p-sm-6">
    <label><strong>Anamnese Mobile</strong></label><br>
    <p-dropdown appendTo="body" [options]="anamnese" [(ngModel)]="ng.anamneseMobile" [style]="{width:'100%'}"
      [readonly]="viewOnly"></p-dropdown>
    <!-- <input type="text" pInputText [(ngModel)]="ng.anamneseMobile" style="width: 100%" [readonly]="viewOnly" /> -->
  </div>
</div>