<div style="background-color:white">
  <div class="p-grid p-justify-center">
    <div class="p-grid p-col-12 p-xl-4 p-lg-4 p-md-6">
      <app-view-header title="Nome e notas" style="width:100%"></app-view-header>
      <div class="p-col-12">
        <label for="name"><strong>Nome da Clínica</strong></label><br>
        <label>{{clinic.name}}</label>
      </div>
      <div class="p-col-12">
        <label for="name"><strong>Criação Ficha </strong></label><br>
        <label>{{clinic.criacaoFicha | dateTimeFormatFilter: 'YYYY-MM-DD'}}</label>
      </div>
      <div class="p-col-12 ">
        <label for="notes"><strong>Notas sobre a clínica</strong></label><br>
        <textarea rows="6" [(ngModel)]="clinic.notes" style="width:100%;" readonly pInputTextarea></textarea>
      </div>
    </div>

    <div class="p-grid p-col-12 p-xl-4 p-lg-4 p-md-6">
      <app-view-header title="Morada" style="width:100%"></app-view-header>
      <div class="p-col-12 p-xl-12 p-lg-12 p-md-12">
        <label for="nif"><strong>Morada</strong></label><br>
        <label>{{clinic.address.address}}</label>
      </div>
      <div class="p-col-12 p-xl-6 p-lg-6 p-md-6">
        <label for="nif"><strong>Código Postal</strong></label><br>
        <label>{{clinica_postcode}}</label>
      </div>

      <div class="p-col-12  p-xl-6 p-lg-6 p-md-6">
        <label for="nif"><strong>Local</strong></label><br>
        <label>{{clinic.address.addressLocation}}</label>
      </div>

      <div class="p-col-12">
        <label for="email"><strong>Email</strong></label>
        <textarea id="email" rows="3" [(ngModel)]="clinic.contact.email" style="width:100%" readonly
          pInputTextarea></textarea>
      </div>
    </div>

    <div class="p-grid p-col-12 p-xl-4 p-lg-4 p-md-12">
      <app-view-header title="Contactos" style="width:100%"></app-view-header>


      <div class="p-col-6">
        <label for="name"><strong>Telefone 1</strong></label><br>
        <label>{{clinic.contact.phone1}}</label>
      </div>
      <div class="p-col-6">
        <label for="nif"><strong>Telefone 2</strong></label><br>
        <label>{{clinic.contact.phone2}}</label>
      </div>
      <div class="p-col-12">
        <label for="name"><strong>Telefone 3</strong></label><br>
        <label>{{clinic.contact.phone3}}</label>
      </div>

      <div class="p-col-12">
        <label for="nif"><strong>Outros Contactos</strong></label>
        <textarea rows="3" [(ngModel)]="clinic.contact.other" style="width:100%;" readonly pInputTextarea></textarea>
      </div>
    </div>
  </div>
</div>