<div style="background-color: #ff9a00;">
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Ativações Novigest"></app-header>
</div>
<div *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>


<eco-fab-speed-dial ngDraggable #myFab [direction]="direction" [animationMode]="animationMode" [fixed]="fixed"
  (mouseenter)="myFab.open = true" style="position:fixed;  z-index: 1; opacity: 0.7;
      top: 15%;
      right: 5%;">

  <eco-fab-speed-dial-trigger [spin]="spin">
    <button mat-fab>
      <!-- style="background-color: #ff9a00" -->
      <mat-icon class="spin360">check</mat-icon>
    </button>
  </eco-fab-speed-dial-trigger>

  <eco-fab-speed-dial-actions *ngIf="selectedNg != undefined">
    <button mat-mini-fab matTooltipPosition="before">
      <!-- <mat-icon>edit</mat-icon> -->
      <strong>Inst</strong>
    </button>
    <button mat-mini-fab (click)="seeInstallation()" matTooltip="Ver Detalhes Instalação" matTooltipPosition="before">
      <mat-icon>remove_red_eye</mat-icon>
    </button>
    <button mat-mini-fab (click)="editInstallation()" matTooltip="Editar Instalação" matTooltipPosition="before">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab matTooltipPosition="before">
      <!-- <mat-icon>edit</mat-icon> -->
      <strong>NG</strong>
    </button>
    <button mat-mini-fab (click)="seeNovigest()" matTooltip="Ver Detalhes Ativação" matTooltipPosition="before">
      <mat-icon>remove_red_eye</mat-icon>
    </button>

    <button mat-mini-fab (click)="editNgSlider()" matTooltip="Editar Ativação" matTooltipPosition="before">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-mini-fab (click)="deleteNgSlider()" matTooltip="Apagar ativação" matTooltipPosition="before">
      <mat-icon>delete</mat-icon>
    </button>
  </eco-fab-speed-dial-actions>
  <eco-fab-speed-dial-actions *ngIf="selectedNg == undefined">
    <button mat-mini-fab (click)="addInstallationNgActivation()" matTooltip="Adicionar Ativação"
      matTooltipPosition="before">
      <mat-icon>add</mat-icon>
    </button>
  </eco-fab-speed-dial-actions>


</eco-fab-speed-dial>



<div *ngIf="!loading">
  <p-table [value]="data" [(selection)]="selectedNgs">
    <ng-template pTemplate="caption">
      <div class="ui-g">
        <div class="ui-g-2 ui-md-2 ui-lg-2 filter-container">
          <!-- <div class="ui-g-12" style="text-align: left;display:table">
            <button pButton type="button" lable="Click" class="ui-button-rounded ui-button-secondary" icon="pi pi-undo"
              (click)="refresh()"></button>
          </div> -->
        </div>

        <div class="ui-g-8 ui-md-8 ui-lg-6 filter-container">
          <div class="ui-g-12" style="text-align: right;display:table">
            <input type="text" pInputText (keyup.enter)="search()" placeholder="Procurar" [(ngModel)]="toSearch"
              style="display:table-cell; width:100%">
          </div>
        </div>

        <div class="ui-g-2 ui-md-2 ui-lg-2 filter-container">
          <div class="ui-g-12" style="text-align: left;display:table">
            <button pButton (click)="search()" (keyup.enter)="search()" icon="pi pi-search"
              style="display:table-cell;background-color: black; border-color:black"></button>
          </div>
        </div>

        <div class="ui-g-12 ui-md-12 ui-lg-2 filter-container">
          <div class="ui-g-12" style="text-align: right">
            <p>Selecionados: [{{selectedNgs.length}}] </p>
            <p>Total: [{{allNg.length}}] </p>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 1%" pTooltip="Ativa/Não ativa" tooltipPosition="bottom"></th>
        <th style="width: 3em"  pTooltip="Selecionar para alterar" tooltipPosition="bottom"></th>
        <th>Instalação</th>
        <th class="priority-2">Nome A</th>
        <th class="priority-2">Nome B</th>
        <th class="priority-2">Nif A</th>
        <th class="priority-2">Nif B</th>
        <th>Mac</th>
        <th class="priority-2" style="width: 6%">Valid</th>
        <th class="priority-2" style="width: 9%">Data Ativ</th>
        <th class="priority-3" style="width: 9%">Data inic</th>
        <th style="width: 1%"></th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" (click)="select(rowData)">
        <!-- -->
        <td *ngIf="rowData.novigest.ativar == true " style="background-color:green" pTooltip="Ativa" ></td>
        <td *ngIf="rowData.novigest.ativar == false " style="background-color:red" pTooltip="Não ativa" > </td>
        <td *ngIf="rowData.novigest.ativar == undefined "></td>
        <td pTooltip="Selecionar para alterar" tooltipPosition="bottom">
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <td (click)="openInstallation(rowData)">{{rowData.installation.installationName}}</td>
        <td class="priority-2">{{rowData.novigest.nomea}}</td>
        <td class="priority-2">{{rowData.novigest.nomeb}}</td>
        <td class="priority-2">{{rowData.novigest.nifa}}</td>
        <td class="priority-2">{{rowData.novigest.nifb}}</td>
        <td>{{rowData.novigest.mac}}</td>
        <td class="priority-2">{{rowData.novigest.validade}}</td>
        <td class="priority-2">{{rowData.novigest.dataactivacao | dateTimeFormatFilter : 'YYYY-MM-DD'}}</td>
        <td class="priority-3">{{rowData.novigest.datainicio | dateTimeFormatFilter : 'YYYY-MM-DD'}}</td>
        <td></td>

      </tr>
    </ng-template>
  </p-table><br>
  <button pButton (click)="doAtivarAlterations()" label="Confirmar"></button>
  <br>
</div>

<p-dialog appendTo="body" [modal]="true" [(visible)]="displaySeeInstallation" *ngIf="displaySeeInstallation"
  (onAfterHide)="hide($event)" [style]="{width: '65%'}">
  <app-view-header title="Dados da instalação"></app-view-header>
  <app-edit-installation viewOnly="true" [installation]="selectedInstallation"></app-edit-installation>
</p-dialog>

<p-dialog appendTo="body" [modal]="true" [(visible)]="displayAddNewNg" *ngIf="displayAddNewNg" [style]="{width: '65%'}"
  (onAfterHide)="hide($event)">
  <app-view-header title="Adicionar Ativação"></app-view-header>
  <app-section-header title="Escolher instalação existente"></app-section-header>
  <p-dropdown [options]="installations" [(ngModel)]="selectedInstallationToAdd" placeholder="Instalação" filter="true"
    optionLabel="installationName" [showClear]="true" [autofocus]="true" [style]="{width:'100%'}"></p-dropdown>
  <app-section-header title="Dados da ativação Novigest"></app-section-header>
  <p-fileUpload mode="basic" [auto]="true" name="uploaded_file" [url]="xmlURL" fileLimit="1"
    (onUpload)="onUpload($event)" accept=".xml" [style]="{'float':'right', 'margin-right':'10px'}" chooseLabel="XML">
  </p-fileUpload>
  <br><br>
  <app-novigest-activation-new [(ng)]="newNg"></app-novigest-activation-new>
  <button pButton (click)="saveNewNgActivation()" label="Guardar"></button>
</p-dialog>

<p-dialog appendTo="body" [modal]="true" [(visible)]="displayEditInstallation" *ngIf="displayEditInstallation"
  [style]="{width: '65%'}" (onHide)="onAfterHide($event)">
  <app-view-header title="Editar dados da instalação"></app-view-header>
  <app-edit-installation [installation]="selectedInstallation"></app-edit-installation>
  <button pButton (click)="saveEditInstallation()" label="Guardar"></button>
</p-dialog>


<p-dialog appendTo="body" [(visible)]="displayEditNg" *ngIf="displayEditNg" [style]="{width: '65%'}"
  (onHide)="onAfterHide($event)">
  <app-view-header title="Editar dados da ativação"></app-view-header>
  <app-novigest-activation-new [ng]="selectedNg"></app-novigest-activation-new>
  <br>
  <button pButton (click)="saveEditNg()" label="Guardar"></button>
</p-dialog>

<p-dialog appendTo="body" [(visible)]="displaySeeNg" *ngIf="displaySeeNg" [style]="{width: '65%'}"
  (onHide)="onAfterHide($event)">
  <app-view-header title="Dados da ativação"></app-view-header>
  <app-novigest-activation-new [ng]="selectedNg" viewOnly="true"></app-novigest-activation-new>
</p-dialog>

<p-confirmDialog #cd header="Confirmação" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>