<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<p-table *ngIf="dataLoaded" [columns]="cols" [value]="trainings" [paginator]="true" [rows]="6" [customSort]="true"
  (sortFunction)="customSort($event)" sortField="training" sortOrder="-1" selectionMode="single" (onRowSelect)="onRowSelect($event)">

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width:1%"></th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field ">
        <div *ngIf="col.header== 'Data' ">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </div>
        <div *ngIf="col.header== 'Utilizador(es)' ">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
          </p-sortIcon>
        </div>
      </th>
      <th style="width:40%">Notas</th>

    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngIf="rowData.training.done == true " style="background-color:green"></td>
      <td *ngIf="rowData.training.done != true" style="background-color:red"></td>
      <td *ngFor="let col of columns" class="ui-resizable-column">
        <p *ngIf="col.header == 'Data'">{{rowData[col.field].trainingDate | dateTimeFormatFilter:'YYYY-MM-DD HH:mm'}}
        </p>
        <p *ngIf="col.header == 'Utilizador(es)'">{{rowData[col.field]}}</p>

      </td>
      <td>{{rowData.training.notes}}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length+2">
        Sem formações
      </td>
    </tr>
  </ng-template>

</p-table>