
  /* h2 {
      height: 33px;
  } */

  span,h2 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  #title {
    color:black;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
    width:100%;
    /* font-size: 1.5em; */
  }

  #grafback{
      color:#ff9a00;
      font-size: 0.7em;
      display: inline-block;
    vertical-align: middle;
    line-height: normal;
      cursor: pointer;
      margin-left: 10px;
      margin-right: 10px;
  }