<div style="background-color: #ff9a00;">
  <i class="pi pi-info-circle" (click)="openHelp=!openHelp" style="float:right;font-size: 2em;color: white;"></i>
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Listagem de Renovações"></app-header>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<p-tabView>
  <p-tabPanel header="Aluguer [{{renovacoesAluguer.length}}]">
    <p-table [columns]="colsren" [value]="renovacoesAluguer" *ngIf="!aluguerLoading" sortField="dateAte" sortOrder="1"
      emptymessage="Não há renovações a realizar" selectionMode="single">
      <ng-template pTemplate="caption">
        Lista de Renovações de Aluguer [{{renovacoesAluguer.length}}]
        <div style="text-align: right;">
        <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()"
          style="margin-right: 0.5em;" class="ui-button-success"></button>
        <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdfAluguer()"
          class="ui-button-warning"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field"
            style="word-break: break-all;text-align: center;"
            [ngClass]="col.header == 'Cliente' ? 'makesize' : 'nullsize'">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns" style="text-align: center; word-break: break-all">

            <label *ngIf="col.field != 'client' && col.field != 'dateAte'">{{rowData[col.field]}}</label>
            <label *ngIf="col.field == 'client'">{{rowData[col.field].name}}</label>
            <label *ngIf="col.field == 'dateAte'">{{rowData[col.field] | dateTimeFormatFilter:'YYYY-MM-DD' }}</label>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-rowData>

      </ng-template>
    </p-table>
  </p-tabPanel>

  <p-tabPanel header="Iniciais [{{renovacoesClientInit.length}}]">
    <p-table [columns]="colsren" [value]="renovacoesClientInit" *ngIf="!initLoading" sortField="dateAte" sortOrder="1"
      emptymessage="Não há renovações a realizar" selectionMode="single">
      <ng-template pTemplate="caption">
        Lista de Renovações de Clientes Iniciais [{{renovacoesClientInit.length}}]

        <div style="text-align: right;">
          <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()"
            style="margin-right: 0.5em;" class="ui-button-success"></button>
          <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdfIniciais()"
            class="ui-button-warning"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field"
            style="word-break: break-all;text-align: center;"
            [ngClass]="col.header == 'Cliente' ? 'makesize' : 'nullsize'">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns" style="text-align: center; word-break: break-all">

            <label *ngIf="col.field != 'client' && col.field != 'dateAte'">{{rowData[col.field]}}</label>
            <label *ngIf="col.field == 'client'">{{rowData[col.field].name}}</label>
            <label *ngIf="col.field == 'dateAte'">{{rowData[col.field] | dateTimeFormatFilter:'YYYY-MM-DD' }}</label>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-rowData>

      </ng-template>
    </p-table>
  </p-tabPanel>

  <p-tabPanel header="Renovações [{{renovacoesClientRenFidRein.length}}]">
    <p-table [columns]="colsren" [value]="renovacoesClientRenFidRein" *ngIf="!outrosLoading" sortField="dateAte"
      sortOrder="1" emptymessage="Não há renovações a realizar" selectionMode="single">
      <ng-template pTemplate="caption">
        Lista de Renovações de Clientes Renovados, Fidelizados e Reintegrados [{{renovacoesClientRenFidRein.length}}]
        <div style="text-align: right;">
          <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()"
            style="margin-right: 0.5em;" class="ui-button-success"></button>
          <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdfOutros()"
            class="ui-button-warning"></button>
        </div>

      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field"
            style="word-break: break-all;text-align: center;"
            [ngClass]="col.header == 'Cliente' ? 'makesize' : 'nullsize'">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns" style="text-align: center; word-break: break-all">

            <label *ngIf="col.field != 'client' && col.field != 'dateAte'">{{rowData[col.field]}}</label>
            <label *ngIf="col.field == 'client'">{{rowData[col.field].name}}</label>
            <label *ngIf="col.field == 'dateAte'">{{rowData[col.field] | dateTimeFormatFilter:'YYYY-MM-DD' }}</label>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-rowData>

      </ng-template>
    </p-table>
  </p-tabPanel>
</p-tabView>

<p-dialog header="Ajuda" [modal]="true" [positionTop]="100" [(visible)]="openHelp"
  [style]="{'width':'70%', 'max-height':'400px'}">
  <div style="height:400px">

    Listagem em PDF independente para cada tipo.<br>
    Listagem em Excel separada em Tabs: Aluguer, Iniciais, Renovados+Fidelizados+Reintegrados<br>
  </div>
</p-dialog>