<div style="background-color: #ff9a00;">
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Contratos"></app-header>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<div class="p-grid p-col-12 p-lg-12 p-xl-12 p-md-12 p-sm-12">
  <p-card *ngFor="let d of contracts" [style]="{color: 'orange', width:'18em'}"
    style="margin-right: 10px;margin-bottom:10px" styleClass="ui-card-shadow">
    <p-header>
      <div style="background-color:#333333;top:10px;right:10px;text-align: center;" *ngIf="d.aditamento != undefined">
        <strong>{{d.aditamento.contractId.contractNumber}}</strong>
      </div>
      <div style="background-color:#333333;top:10px;right:10px;text-align: center;" *ngIf="d.aditamento == undefined">
        <strong>&nbsp;</strong>
      </div>
    </p-header>
    <div style="color:black">
      <div *ngIf="d.aditamento == undefined">
        <strong>Tipo Contrato:</strong> {{d.contract.contractType}}<br>
      </div>

      <strong>Cliente:</strong> {{d.client.name}}<br>
      <strong>Clínica(s):</strong><br>
      <div *ngFor="let clinic of d.clinics">
        {{clinic.name}}<br>
      </div>
      <div *ngIf="d.aditamento == undefined">
        <strong>Data Conclusão:</strong> {{d.installation.conclusionDate | dateTimeFormatFilter:'YYYY-MM-DD'}} <br>
      </div>
      <div *ngIf="d.aditamento != undefined">
        <strong>Data Conclusão:</strong> {{d.aditamento.conclusionDate | dateTimeFormatFilter:'YYYY-MM-DD'}}<br>
      </div>
    </div>
    <p-footer>
      <div class="p-grid ">
        <div class="p-col-6 p-lg-6 p-xl-6 p-md-6 p-sm-6">
          <button pButton label="Preencher" (click)="finish(d)" class="ui-button-rounded ui-button-secondary"
            style="display: block; margin: 0 auto"></button>
        </div>
      </div>
    </p-footer>
  </p-card>
</div>
<!-- " -->
<p-dialog appendTo="body" *ngIf="editContract && selectedContract.aditamento == undefined" header="Contrato"
  [(visible)]="editContract" [style]="{'width':'80%'}">
  <app-view-header title="Finalizar Contrato"></app-view-header>
  <p-accordion multiple="true">
    <p-accordionTab header="Cliente ({{selectedContract.client.name}})" [selected]="true">
      <app-client-view [client]="selectedContract.client"></app-client-view>
    </p-accordionTab>
    <p-accordionTab header="Contrato" [selected]="true">
      <div class="p-grid" style="background-color: white">
        <div class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-12">
          <app-view-header title="Datas"></app-view-header>

          <label for="nif"><strong>Cliente desde</strong></label><br>
          <p-calendar class="ui-fluid" appendTo="body" [(ngModel)]="clientSince" [monthNavigator]="true"
            [yearNavigator]="true" yearRange="2018:2025" dateFormat="yy-mm-dd" [style]="{'width':'100%'}"></p-calendar>
          <div *ngIf="isCM">
            <label><strong>CM Inicial</strong></label><br>
            <p-dropdown [options]="timesCM" [(ngModel)]="selectedTime" [showClear]="true" (onChange)="calculateTime()"
              [style]="{'max-width':'100%','width':'100%'}">
            </p-dropdown>
            <!-- [disabled]="clientSince==undefined" -->
          </div>

          <div *ngIf="isCAL">
            <label><strong>CAL</strong></label><br>
            <p-dropdown [options]="timesCAL" [(ngModel)]="selectedTime" [showClear]="true" (onChange)="calculateTime()"
              [style]="{'max-width':'100%','width':'100%'}">
            </p-dropdown>
          </div>

          <label for="nif"><strong>Data do Contrato</strong></label><br>
          <input pInputText id="dataContrato" [ngModel]="contractAte | dateTimeFormatFilter:'YYYY-MM-DD'"
            style="width:100%" /><br>
        </div>

        <div class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-12">
          <app-view-header title="Postos"></app-view-header>
          <label for="pp"><strong>Postos Principais</strong></label><br>
          <input type="number" min="0" pInputText id="pp" style="width: 100%"
            [(ngModel)]="selectedContract.contract.qtyMainStations" readonly /><br>
          <label for="pa"><strong>Postos Adicionais</strong></label><br>
          <input type="number" min="0" pInputText id="pa" style="width: 100%"
            [(ngModel)]="selectedContract.contract.qtyAddStations" readonly /><br>
          <label for="proposta"><strong>Proposta</strong> </label><br>
          <input type="text" pInputText id="pa" style="width: 100%" [(ngModel)]="selectedContract.contract.proposta"
            readonly /><br>
        </div>

        <div class="p-col-12 p-xl-4 p-lg-4 p-md-12 p-sm-12">
          <app-view-header title="Contrato"></app-view-header>

          <label for="email"><strong>Tipo Contrato</strong></label><br>
          <input *ngIf="typesLoaded && selectedType != undefined" type="text" pInputText
            [(ngModel)]="selectedType.descr" readonly style="width: 100%" /><br *ngIf="selectedType != undefined">
          <label *ngIf="selectedType == undefined">Sem dados</label><br *ngIf="selectedType == undefined">

          <label for="email"><strong>Código</strong></label><br>
          <input *ngIf="typesLoaded  && selectedType != undefined" type="text" pInputText
            [(ngModel)]="selectedType.code" readonly style="width: 100%" /><br *ngIf="selectedType != undefined">
          <label *ngIf="selectedType == undefined">Sem dados</label><br *ngIf="selectedType == undefined">

          <label for="ncontract"><strong>Número Contrato</strong></label><br>
          <div class="ui-inputgroup" style="width:100%">
            <button pButton type="button" icon="pi pi-search" (click)="sugestNextCode()"></button>
            <input *ngIf="selectedType != undefined && !isCAL && !isCM" type="text" pInputText (focus)="clearCNbutton()"
              [(ngModel)]="selectedContract.contract.contractNumber">

            <p-inputMask *ngIf="selectedType != undefined && isCAL && !isDoacao"
              [(ngModel)]="selectedContract.contract.contractNumber" (onFocus)="clearCNbutton()" mask="CAL9999/9/99">
            </p-inputMask>

            <p-inputMask *ngIf="selectedType != undefined && isCM && !isDoacao"
              [(ngModel)]="selectedContract.contract.contractNumber" (onFocus)="clearCNbutton()" mask="CM9999/9/99">
            </p-inputMask>

            <p-inputMask *ngIf="isDoacao" [(ngModel)]="selectedContract.contract.contractNumber" mask="DONATIVO">
            </p-inputMask>

            <button *ngIf="selectedType != undefined && !isDoacao" pButton id="CNcheck" type="button" [icon]="icon"
              [style.background-color]="hexColor" [style.border-color]="hexColor"
              (click)="checkValidAndExistsContractNumber()"></button>
          </div>

        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  <!-- (cd)="hearContractDate($event)"[contractDate]="contractDate" (ca)="hearContractAte($event)" (cs)="hearClientSince($event)" -->
  <br>
  <button pButton label="Entrar em Vigor" (click)="entrarEmVigor()"></button>
</p-dialog>

<p-dialog appendTo="body" *ngIf="editContract && selectedContract.aditamento != undefined" header="Contrato"
  [(visible)]="editContract" [style]="{'width':'80%'}">
  <app-view-header title="Finalizar Aditamento"></app-view-header>
  <p-accordion multiple="true">
    <p-accordionTab header="Cliente ({{selectedContract.client.name}})">
      <app-client-view [client]="selectedContract.client"></app-client-view>
    </p-accordionTab>
    <p-accordionTab header="Clinica ({{selectedContract.aditamento.clinicId.name}})">
      <app-clinic-view [clinic]="selectedContract.aditamento.clinicId">
      </app-clinic-view>
    </p-accordionTab>
    <p-accordionTab header="Contrato" [selected]="true">
      <div class="p-grid" style="background-color: white">
        <div class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-12"
          *ngIf="selectedContract.aditamento.clinicId.clientSince == undefined">
          <app-view-header title="Datas"></app-view-header>
          <label for="nif"><strong>Cliente desde</strong></label><br>
          <p-calendar class="ui-fluid" appendTo="body" [(ngModel)]="selectedContract.aditamento.clinicId.clientSince"
            [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2025" dateFormat="yy-mm-dd"
            [style]="{'width':'100%'}"></p-calendar>
          <div *ngIf="selectedContract.aditamento.pendente>0 && selectedContract.aditamento.faturado==false">
            <label style="color:red"><strong>ESTÁ PENDENTE DE INSTALAÇÃO
                {{selectedContract.aditamento.pendente}}
                posto(s).</strong></label>
          </div>
          <div *ngIf="selectedContract.aditamento.pendente>0 && selectedContract.aditamento.faturado==true">
            <label style="color:red"><strong>ESTE ADITAMENTO FOI FATURADO PARCIALMENTE. SÓ É NECESSÁRIO FATURAR
                {{selectedContract.aditamento.pendente}} posto(s).</strong></label>
          </div>
          <label><strong>Notas</strong></label>
          <textarea rows="3" [(ngModel)]="selectedContract.aditamento.notas" style="width:100%"
            pInputTextarea></textarea>
        </div>
        <div class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-12"
          *ngIf="selectedContract.aditamento.clinicId.clientSince != undefined">
          <app-view-header title="Notas"></app-view-header>
          <div *ngIf="selectedContract.aditamento.pendente>0 && selectedContract.aditamento.faturado==false">
            <label style="color:red"><strong>ESTÁ PENDENTE DE INSTALAÇÃO
                {{selectedContract.aditamento.pendente}}
                posto(s).</strong></label>
          </div>
          <div *ngIf="selectedContract.aditamento.pendente>0 && selectedContract.aditamento.faturado==true">
            <label style="color:red"><strong>ESTE ADITAMENTO FOI FATURADO PARCIALMENTE. SÓ É NECESSÁRIO FATURAR
                {{selectedContract.aditamento.pendente}} posto(s).</strong></label>
          </div>
          <label><strong>Notas</strong></label>
          <textarea rows="3" [(ngModel)]="selectedContract.aditamento.notas" style="width:100%"
            pInputTextarea></textarea>
        </div>

        <div class="p-col-12 p-xl-4 p-lg-4 p-md-6 p-sm-12">
          <app-view-header title="Postos"></app-view-header>
          <label for="pp"><strong>Postos Principais</strong></label><br>
          <input type="number" min="0" pInputText id="pp" style="width: 100%"
            [(ngModel)]="selectedContract.aditamento.mainPostos" readonly /><br>
          <label for="pa"><strong>Postos Adicionais</strong></label><br>
          <input type="number" min="0" pInputText id="pa" style="width: 100%"
            [(ngModel)]="selectedContract.aditamento.addPostos" readonly /><br>
          <label for="proposta"><strong>Proposta</strong> </label><br>
          <input type="text" pInputText id="pa" style="width: 100%" [(ngModel)]="selectedContract.aditamento.proposta"
            readonly /><br>
        </div>

        <div class="p-col-12 p-xl-4 p-lg-4 p-md-12 p-sm-12">
          <app-view-header title="Contrato"></app-view-header>
          <label for="ncontract" *ngIf="selectedContract.contract.contractType != undefined "><strong>Tipo Contrato</strong></label><br>
          <div class="ui-inputgroup" *ngIf="selectedContract.contract.contractType != undefined ">
            <input pInputText [(ngModel)]="selectedContract.contract.contractType" readonly style="width:100%" />
          </div>


          <label for="ncontract"><strong>Número Contrato</strong></label><br>
          <div class="ui-inputgroup" style="width:100%">

            <!-- <input pInputText [(ngModel)]="selectedContract.contract.contractNumber" style="width:100%" /> -->
            <div class="ui-inputgroup" *ngIf="selectedContract.contract.contractType != undefined " style="width:100%">
              <button pButton type="button" icon="pi pi-search" (click)="sugestNextCode()"></button>
              <input *ngIf="selectedContract.contract.contractType != undefined && !isCAL && !isCM" type="text" pInputText (focus)="clearCNbutton()"
                [(ngModel)]="selectedContract.contract.contractNumber">
    
              <p-inputMask *ngIf="selectedContract.contract.contractType != undefined && isCAL" [(ngModel)]="selectedContract.contract.contractNumber"
                (onFocus)="clearCNbutton()" mask="CAL9999/9/99">
              </p-inputMask>
    
              <p-inputMask *ngIf="selectedContract.contract.contractType != undefined &&  isCM" [(ngModel)]="selectedContract.contract.contractNumber"
                (onFocus)="clearCNbutton()" mask="CM9999/9/99">
              </p-inputMask>
    
              <button *ngIf="selectedContract.contract.contractType != undefined" pButton id="CNcheck" type="button" [icon]="icon"
                [style.background-color]="hexColor" [style.border-color]="hexColor"
                (click)="checkValidAndExistsContractNumber()"></button>
            </div>
            <div *ngIf="selectedContract.contract.contractType == undefined ">
              <input pInputText [(ngModel)]="selectedContract.contract.contractNumber" />
            </div>
          </div>


          <!-- <button pButton type="button" icon="pi pi-search" (click)="sugestNextCode()"></button>
              
                  <input *ngIf="selectedType != undefined && !isCAL && !isCM" type="text" pInputText (focus)="clearCNbutton()"
                    [(ngModel)]="contract.contract.contractNumber">
              
                  <p-inputMask *ngIf="selectedType != undefined && isCAL" [(ngModel)]="contract.contract.contractNumber"
                    (onFocus)="clearCNbutton()" mask="CAL9999">
                  </p-inputMask>
              
                  <p-inputMask *ngIf="selectedType != undefined &&  isCM" [(ngModel)]="contract.contract.contractNumber"
                    (onFocus)="clearCNbutton()" mask="CM9999">
                  </p-inputMask>
              
                  <button *ngIf="selectedType != undefined" pButton id="CNcheck" type="button" [icon]="icon"
                    [style.background-color]="hexColor" [style.border-color]="hexColor"
                    (click)="checkValidAndExistsContractNumber()"></button> -->
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  <!-- (cd)="hearContractDate($event)"[contractDate]="contractDate" (ca)="hearContractAte($event)" (cs)="hearClientSince($event)" -->
  <br>
  <button pButton label="Entrar em Vigor" (click)="entrarEmVigor()"></button>
</p-dialog>