<div style="background-color: #ff9a00;">
  <i class="pi pi-info-circle" (click)="openHelp=!openHelp" style="float:right;font-size: 2em;color: white;"></i>
  <button pButton type="button" (click)="back()" icon="pi pi-arrow-left"
    style="background-color: #ff9a00;border-color: #ff9a00;float:left"></button>
  <app-header title="Listagem de Novos Clientes"></app-header>
</div>

<p-toast [style]="{marginTop: '80px'}" [baseZIndex]="5000"></p-toast>

<p-table [columns]="cols" [value]="clientesIniciais" sortField="clientSince" sortOrder="1"
  emptymessage="Não há novos clientes" selectionMode="single">
  <ng-template pTemplate="caption">
    <div style="text-align: left;">
      <p-calendar appendTo="body" [(ngModel)]="datainicio" dateFormat="yy-mm-dd">
      </p-calendar> a
      <p-calendar appendTo="body" [(ngModel)]="datafim" [minDate]="datainicio" dateFormat="yy-mm-dd">
      </p-calendar>
      <button type="button" pButton icon="pi pi-search" iconPos="left" (click)="getListagemClientesIniciais()"
        style="margin-right: 0.5em;margin-left: 20px;"></button>
        [{{clientesIniciais.length}}]
      <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()"
        style="margin-right: 0.5em;float:right" class="ui-button-success"></button>
      <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()"
        class="ui-button-warning" style="margin-right: 0.5em;float:right"></button>
    </div>

  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="word-break: break-all;text-align: center;">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns" style="text-align: center; word-break: break-all">

        <label *ngIf="col.field != 'clientSince'">{{rowData[col.field]}}</label>
        <label *ngIf="col.field == 'clientSince'">{{rowData[col.field] | dateTimeFormatFilter:'YYYY-MM-DD' }}</label>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>

  </ng-template>
</p-table>

<p-dialog header="Ajuda" [modal]="true" [positionTop]="100" [(visible)]="openHelp"
  [style]="{'width':'70%', 'max-height':'400px'}">
  <div style="height:400px">

    Em construção.
  </div>
</p-dialog>